<!-- Cep´s form -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Formulário de cadastro de Cep</li>
	</ul>
</div>
<div class="col-sm-12 page-form ">
	<div id="messages_div"></div>				
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box transparent_  ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-wpforms"></i>
						Formulário de cadastro de Cep
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<form role="form" id="formCep">
							<input type="hidden" id="inputId" value="{{id}}">
							<div id="groupInputLogradouro" class="form-group">
								<label class="control-label" for="inputLogradouro">Logadouro  </label>
								<input type="text"  id="inputLogradouro" placeholder="" value="{{logradouro}}" class="form-control   "  >
							</div>
							<div id="groupInputNumero" class="form-group">
								<label class="control-label" for="inputNumero">Numero  </label>
								<input type="text"  id="inputNumero" placeholder="" value="{{numero}}" class="form-control   "  >
							</div>
							<div id="groupInputBairroContainer" class="form-group">
								<label class="control-label" for="inputBairro">Bairro</label>
								<div id="groupInputBairro" class="input-group">
									<input id="inputBairroId" type="hidden" class="form-control append-left" value="{{bairro && bairro.id}}" />
									<input id="inputBairroNome" placeholder="Escolha um Bairro"  type="text" class="form-control append-left" value="{{bairro && bairro.nome}}" />
									<div class="input-group-addon append-right" id="searchBairroModal" data-toggle="modal">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</div>		
							<div id="groupInputCidadeContainer" class="form-group">
								<label class="control-label" for="inputCidade">Cidade</label>
								<div id="groupInputCidade" class="input-group">
									<input id="inputCidadeId" type="hidden" class="form-control append-left" value="{{cidade && cidade.id}}" />
									<input id="inputCidadeNome" placeholder="Escolha um Cidade"  type="text" class="form-control append-left" value="{{cidade && cidade.nome}}" />
									<div class="input-group-addon append-right" id="searchCidadeModal" data-toggle="modal">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</div>		
							<div id="groupInputEstadoContainer" class="form-group">
								<label class="control-label" for="inputEstado">Estado</label>
								<div id="groupInputEstado" class="input-group">
									<input id="inputEstadoId" type="hidden" class="form-control append-left" value="{{estado && estado.id}}" />
									<input id="inputEstadoNome" placeholder="Escolha um Estado"  type="text" class="form-control append-left" value="{{estado && estado.nome}}" />
									<div class="input-group-addon append-right" id="searchEstadoModal" data-toggle="modal">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</div>		
					</form>
				</div>
			</div>
			<div class="">
				<div class="clearfix form-actions">
					<a href="javascript:void(0)" id="save"  class="save btn btn-primary">
						<i class="ace-icon save fa fa-check bigger-110"></i>
						Salvar
					</a>
					&nbsp; &nbsp; &nbsp;
					<a href="javascript:void(0)" class=" saveAndContinue  btn btn-info" style="display: {{ id ? 'none' : 'inline-block' }} ">
						<i class="ace-icon fa fa-check bigger-110"></i>
						Salvar e Continuar
					</a>
					&nbsp; &nbsp; &nbsp;
					<a class="go-back-link btn btn-light" href="#app/ceps">
						<i class="ace-icon fa fa-undo bigger-110"></i>
						Voltar para a listagem
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div id='bairroModal'></div>
<div id='cidadeModal'></div>
<div id='estadoModal'></div>
