<input type="file" name="files[]" style="display: none" class="input-upload-file">
<div class="profile-avatar">
	<img height="170" style="cursor: pointer;" src='images/no_photo.jpg' class="input-image">
</div>
