<!-- generated: 16/10/2016 15:27:07 -->
<!-- ClienteEnderecoCoord´s page -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Pesquisa Cliente endereco coord</li>
	</ul>
</div>
<div class="col-sm-12 page-form">
	<div id="messages_div"></div>
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-search"></i>
						Pesquisa de Cliente endereco coord
					</h4>
				</div>
				<div class="widget-body">
					<form id="formClienteEnderecoCoordFilter">
						<div class="widget-main  ">
							<div class="row">
								<div class="col-xs-6">
									<a href="#app/newClienteEnderecoCoord" class="btn btn-success">
										<i class="fa fa-plus-circle"></i>
										Novo Registro
									</a>
									&nbsp; &nbsp; &nbsp;
									<a href="javascript:void(0)" id="reset" class="btn reset" >Limpar</a>
								</div>
								<div class="col-sm-6">
									<div class="input-group">
										<input id="inputLatitude" type="text" class="form-control search-query" placeholder="Pesquisar Cliente endereco coord por Latitude">
										<span id="query" class="input-group-btn ">
											<button type="button" class="btn btn-inverse btn-white search-button">
												<span class="ace-icon fa fa-search icon-on-right bigger-110 "></span>
												Pesquisar
											</button>
										</span>
									</div>
									<div>
										<a href="javascript:void(-1)" class="show-advanced-search-button"> Pesquisa avançada... </a>
									</div>
								</div>
							</div>
							<div class="widget-box transparent advanced-search-form">
								<div class="widget-header">
									<h4 class="widget-title lighter">Filtros avançados</h4>
								</div>
								<div class="widget-body">
								<!-- inicio dos registros-->							
									<div id="groupInputLatitude" class="form-group">
										<label class="control-label" for="inputLatitude">Latitude</label>
										<input type="text" id="inputLatitude" placeholder="Pesquise pelo Latitude"  class="form-control">
									</div>
									<div id="groupInputLongitude" class="form-group">
										<label class="control-label" for="inputLongitude">Longitude</label>
										<input type="text" id="inputLongitude" placeholder="Pesquise pelo Longitude"  class="form-control">
									</div>
									<div id="groupInputEnderecoFormatado" class="form-group">
										<label class="control-label" for="inputEnderecoFormatado">Endereco formatado</label>
										<input type="text" id="inputEnderecoFormatado" placeholder="Pesquise pelo Endereco formatado"  class="form-control">
									</div>
									<div id="groupInputValido" class="form-group checkbox">
										<label class="checkbox ">
											<input id="inputValido" type="checkbox" >
											Válido
										</label>
									</div>
									<div id="groupInputClienteEnderecoContainer" class="form-group">
										<label class="control-label" for="inputClienteEndereco">Cliente endereco</label>
										<div id="groupInputClienteEndereco" class="input-group">
											<input id="inputClienteEnderecoId" type="hidden" class="form-control append-left"  />
											<input id="inputClienteEnderecoNome" placeholder="Pesquise pelo Cliente endereco"  type="text" class="form-control append-left" />
											<div class="input-group-addon append-right" id="searchClienteEnderecoModal" data-toggle="modal">
												<span class="fa fa-search"></span>
											</div>
										</div>
									</div>		
								<div class=" ">
									<button type="button" class="btn btn-info btn-sm search-button">
										<i class="ace-icon fa fa-search bigger-110"></i>
										Pesquisar
									</button>
								</div>
							</div>
							</div>
							<div id="counter" class="pull-left"></div>
							<div class="row center">
								<div class="col-xs-12">
									<div class="widget-box transparent ">
										<div class="widget-body">
											<div class="widget-main padding-0">
												<div id="messages_div"></div>
												<div id="grid" class="table-responsive"></div>
												<div class="row">
													<div id="paginator" class=""></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div id='clienteEnderecoModal'></div>
