<!-- FaixaVoucher´s form -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Formulário de cadastro de Faixa voucher</li>
	</ul>
</div>
<div class="col-sm-12 page-form ">
	<div id="messages_div"></div>
	<div class="widget-box transparent_">
		<div class="widget-header ">
			<h4 class="widget-title ">
				<i class="ace-icon fa fa-suitcase"></i>
				Empresa
			</h4>
		</div>
		<div class="widget-body">
			<div class="widget-main ">
				<div class="row">
					<input type="hidden" id="inputEmpresaId" class="form-control">
					<div id="groupInputNomeFantasia" class="form-group col-sm-3 col-md-3 col-lg-3">
						<label class="control-label" for="inputNomeFantasia">Nome Fantasia </label>
						<input readonly type="text" id="inputEmpresaNomeFantasia" class="form-control">
					</div>
					<div id="groupInputCnpj" class="form-group col-sm-3 col-md-3 col-lg-3">
						<label class="control-label" for="inputCnpj">CNPJ </label>
						<input readonly type="text" id="inputEmpresaCnpj" class="form-control">
					</div>
					<div id="groupInputContrato" class="form-group col-sm-3 col-md-3 col-lg-3">
						<label class="control-label" for="inputContrato">Contrato </label>
						<input readonly type="text" id="inputEmpresaContrato" class="form-control">
					</div>
					<div id="groupInputRazaoSocial" class="form-group col-sm-3 col-md-3 col-lg-3">
						<label class="control-label" for="inputRazaoSocial">Razão social </label>
						<input readonly type="text" id="inputEmpresaRazaoSocial" class="form-control">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box transparent_  ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-wpforms"></i>
						Formulário de cadastro de Faixa voucher
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<form role="form" id="formFaixaVoucher">
							<div class="row">
								<input type="hidden" id="inputId" value="{{id}}">
								<!-- <div id="groupInputSerie" class="form-group col-sm-2 col-md-2 col-lg-2">
									<label class="control-label" for="inputSerie">Serie</label>
									<input type="text" id="inputSerie" placeholder="" value="{{serie}}" class="form-control" maxlength="2">
								</div> -->
								<div id="groupInputNumeroInicial" class="form-group col-sm-3 col-md-3 col-lg-3">
									<label class="control-label" for="inputNumeroInicial">Número inicial *</label>
									<input type="number" id="inputNumeroInicial" placeholder="" value="{{numeroInicial}}" class="form-control validate[required] " maxlength="9">
								</div>
								<div id="groupInputNumeroFinal" class="form-group col-sm-3 col-md-3 col-lg-3">
									<label class="control-label" for="inputNumeroFinal">Número final *</label>
									<input type="number" id="inputNumeroFinal" placeholder="" value="{{numeroFinal}}" class="form-control validate[required]" maxlength="9">
								</div>
								<div id="groupInputInativo" class="form-group checkbox col-sm-3 col-md-3 col-lg-3">
									<label class="checkbox ">
										<input id="inputInativo" type="checkbox"{{inativo ? 'checked' :''}}>
										Inativo
									</label>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="">
					<div class="clearfix form-actions">
						<a id="save" href="javascript:void(0)" id="save" class="save btn btn-primary" style="display:none">
							<i class="ace-icon save fa fa-check bigger-110"></i>
							Salvar
						</a>
						<a id="saveContinue" href="javascript:void(0)" class=" saveAndContinue  btn btn-info" style="display:none">
							<i class="ace-icon fa fa-check bigger-110"></i>
							Salvar e Continuar
						</a>
						<a class="go-back-link btn btn-light" href="javascript:void(-1)">
							<i class="ace-icon fa fa-undo bigger-110"></i>
							Voltar para a listagem
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id='empresaModal'></div>