<!-- generated: 16/10/2016 15:27:08 -->
<!-- FaixaVoucher´s page -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Pesquisa Faixa voucher</li>
	</ul>
</div>
<div class="col-sm-12 page-form">
	<div id="messages_div"></div>
	<div class="widget-box transparent_">
		<div class="widget-header ">
			<h4 class="widget-title ">
				<i class="ace-icon fa fa-suitcase"></i>
				Motorista
			</h4>
		</div>
		<div class="widget-body">
			<div class="widget-main ">
				<div class="row">
					<div id="groupInputMotoqueiroNome" class="form-group col-sm-3 col-md-3 col-lg-3">
						<label class="control-label" for="inputMotoristaNome">Nome</label>
						<input readonly type="text" id="inputMotoristaNome" class="form-control">
					</div>
					<div id="groupInputMotoqueiroViatura" class="form-group col-sm-3 col-md-3 col-lg-3">
						<label class="control-label" for="inputMotoristaViatura">Viatura </label>
						<input readonly type="text" id="inputMotoristaViatura" class="form-control">
					</div>
					<div id="groupInputEmail" class="form-group col-sm-3 col-md-3 col-lg-3">
						<label class="control-label" for="inputMotoristaEmail">Email </label>
						<input readonly type="text" id="inputMotoristaEmail" class="form-control">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-search"></i>
						Pesquisa de Faixa voucher
					</h4>
				</div>
				<div class="widget-body">
					<form id="formFaixaVoucherFilter">
						<div class="widget-main  ">
							<!-- 							<div class="row">
								<div class="col-xs-6">
									<a href="#app/newFaixaVoucher" class="btn btn-success"> 
										<i class="fa fa-plus-circle"></i>
										Novo Registro 
									</a>
									&nbsp; &nbsp; &nbsp;
									<a href="javascript:void(0)" id="reset" class="btn reset" >Limpar</a>
								</div>
								<div class="col-sm-6">
									<div class="input-group">
										<input id="inputSerie" type="text" class="form-control search-query" placeholder="Pesquisar Faixa voucher por Serie">
										<span id="query" class="input-group-btn ">
											<button type="button" class="btn btn-inverse btn-white search-button">
												<span class="ace-icon fa fa-search icon-on-right bigger-110 "></span>
												Pesquisar
											</button>
										</span>
									</div>
									<div>
										<a href="javascript:void(-1)" class="show-advanced-search-button"> Pesquisa avançada... </a>
									</div>
								</div>
								</div> -->
							<div class="widget-box transparent ">
								<!-- 								<div class="widget-header">
									<h4 class="widget-title lighter">Filtros avançados</h4>
									</div> -->
								<div class="widget-body">
									<!-- inicio dos registros-->
									<div class="row">
										<!-- <div id="groupInputSerie" class="form-group col-sm-2 col-md-2 col-lg-2">
											<label class="control-label" for="inputSerie">Serie</label>
											<input type="text" id="inputSerie" placeholder="" class="form-control">
										</div> -->
										<div id="groupInputNumeroInicial" class="form-group col-sm-2 col-md-2 col-lg-2"> 
											<label class="control-label" for="inputNumeroInicial">Número inicial</label> 
											<input type="text" id="inputNumeroInicial" placeholder=""  class="form-control">
											</div>
											<div id="groupInputNumeroFinal" class="form-group col-sm-2 col-md-2 col-lg-2">
											<label class="control-label" for="inputNumeroFinal">Número final</label>
												<input type="text" id="inputNumeroFinal" placeholder=""  class="form-control">
											</div>
										<div id="groupInputInativo" class="form-group checkbox col-xs-6">
											<label class="checkbox ">
											<input id="inputInativo" type="checkbox">
											Inativo
											</label>
										</div>
									</div>
									<div class="row">
										<div class="col-xs-6">
											<button type="button" class="btn btn-info  search-button">
											<i class="ace-icon fa fa-search "></i>
											Pesquisar
											</button>
											<a id="new" href="javascript:void(-1)" class="btn btn-success novo-faixaVoucher" style="display:none">
											<i class="fa fa-plus-circle"></i>
											Nova Faixa de Voucher
											</a>
											<a href="javascript:void(0)" id="reset" class="btn reset">Limpar</a>
										</div>
									</div>
								</div>
								<hr>
							</div>
							<div id="counter" class="pull-left"></div>
							<div class="row center">
								<div class="col-xs-12">
									<div class="widget-box transparent ">
										<div class="widget-body">
											<div class="widget-main padding-0">
												<div id="messages_div"></div>
												<div id="grid" class="table-responsive"></div>
												<div class="row">
													<div id="paginator" class=""></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<a href="javascript:void(0)" class="btn voltar-motorista reset">Voltar para motoqueiro</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div id='motoristaModal'></div>
<div id='empresaModal'></div>