<!-- User´s form -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Formulário de cadastro de Usuário</li>
	</ul>
</div>
<div class="col-sm-12 page-form ">
	<div id="messages_div"></div>				
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box transparent_  ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-wpforms"></i>
						Formulário de cadastro de Usuário
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<form role="form" id="formUser">
							<input type="hidden" id="inputId" value="{{id}}">
							<div id="groupInputName" class="form-group">
								<label class="control-label" for="inputName">Nome  </label>
								<input type="text"  id="inputName" placeholder="" value="{{name}}" class="form-control   "  >
							</div>
							<div id="groupInputUsername" class="form-group">
								<label class="control-label" for="inputUsername">Username  *</label>
								<input type="text"  id="inputUsername" placeholder="" value="{{username}}" class="form-control  validate[required] "  >
							</div>
							<div id="groupInputPassword" class="form-group">
								<label class="control-label" for="inputPassword">Password  *</label>
								<input type="text"  id="inputPassword" placeholder="" value="{{password}}" class="form-control  validate[required] "  >
							</div>
							<div id="groupInputEnable" class="form-group checkbox">
								<label class="checkbox ">
									<input id="inputEnable" type="checkbox" {{enable ? 'checked' :''}}>
									Ativo
								</label>
							</div>
							<div id="groupInputImage" class="form-group">
								<label class="control-label" for="inputImage">Imagem  </label>
								<input type="text"  id="inputImage" placeholder="" value="{{image}}" class="form-control   "  >
							</div>
							<div class="roles-container panel"></div>					
					</form>
				</div>
			</div>
			<div class="">
				<div class="clearfix form-actions">
					<a href="javascript:void(0)" id="save"  class="save btn btn-primary">
						<i class="ace-icon save fa fa-check bigger-110"></i>
						Salvar
					</a>
					&nbsp; &nbsp; &nbsp;
					<a href="javascript:void(0)" class=" saveAndContinue  btn btn-info" style="display: {{ id ? 'none' : 'inline-block' }} ">
						<i class="ace-icon fa fa-check bigger-110"></i>
						Salvar e Continuar
					</a>
					&nbsp; &nbsp; &nbsp;
					<a class="go-back-link btn btn-light" href="#app/users">
						<i class="ace-icon fa fa-undo bigger-110"></i>
						Voltar para a listagem
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
