<!-- Cliente´s form -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Formulário de cadastro de Cliente</li>
	</ul>
</div>
<div class="col-sm-12 page-form ">
<div id="messages_div"></div>
<div class="row">
	<div class="col-xs-12">
		<div class="widget-box transparent_  ">
			<div class="widget-header widget-header-flat">
				<h4 class="widget-title lighter">
					<i class="ace-icon fa fa-wpforms"></i>
					Formulário de cadastro de Cliente
				</h4>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<form role="form" id="formCliente">
						<input type="hidden" id="inputId" value="{{id}}">
						<h4 class="header smaller blue">Dados Cadastrais</h4>
						<div class="row">
							<div id="groupInputNome" class="form-group col-sm-4	col-md-4 col-lg-4">
								<label class="control-label" for="inputNome">Nome *</label>
								<input type="text" id="inputNome" placeholder="" value="{{nome}}" class="form-control validate[required]" maxlength="200">
							</div>
							<div id="groupInputEmail" class="form-group col-sm-4 col-md-4 col-lg-4">
								<label class="control-label" for="inputEmail">E-mail</label>
								<input type="text" id="inputEmail" placeholder="" value="{{email}}" class="form-control  validate[custom[email]] " maxlength="100">
							</div>
							<div id="groupInputCpf" class="form-group col-sm-3	col-md-3 col-lg-3">
								<label class="control-label" for="inputCpf">CPF</label>
								<input type="text" id="inputCpf" placeholder="" value="{{cpf}}" class="form-control" maxlength="14">
							</div>
						</div>
						<div class="row">
							<!-- <div id="groupInputUsername" class="form-group col-sm-3 col-md-3 col-lg-3">
								<label class="control-label" for="inputSenha">Username</label>
								<input type="text"  id="inputUsername" placeholder="" value="{{username}}" class="form-control  validate[minSize[6]] "  maxlength="100" >
							</div> -->
							<div id="groupInputTelefone" class="form-group col-sm-3 col-md-3 col-lg-3">
								<label class="control-label" for="inputTelefone">Login aplicativo</label>
								<div class="input-group">
									<span class="input-group-addon">
										<i class="ace-icon fa fa-phone"></i>
									</span>
									<input type="text" id="inputTelefone" placeholder="" value="{{ telefone ? telefone : '(85)' }}" class="form-control" maxlength="15">
								</div>
							</div>
							<div id="groupInputSenha" class="form-group col-sm-3 col-md-3 col-lg-3">
								<label class="control-label" for="inputSenha">Senha</label>
								<input type="text"  id="inputSenha" placeholder="" value="{{senha}}" class="form-control  validate[minSize[6]] "  maxlength="100" >
							</div>
							<div id="groupInputTipo" class="form-group col-sm-3 col-md-3 col-lg-3">
								<label class="control-label" for="inputTipo">Tipo *</label>
								<select type="text" id="inputTipo" class="form-control validate[required]">
									<option value="">-- Selecione --</option>
									<option value='CADASTRO_CENTRAL' {{tipo !=null && tipo=="CADASTRO_CENTRAL" ? 'selected' :''}}>Cadastro Central</option>
									<option value='ESTABELECIMENTO'  {{tipo !=null && tipo=="ESTABELECIMENTO" ?  'selected' :''}}>Estabelecimento</option>
									<option value='FUNCIONARIO' 	 {{tipo !=null && tipo=="FUNCIONARIO" ?      'selected' :''}}>Funcionário</option>
									<option value='APP' 			 {{tipo !=null && tipo=="APP" ?              'selected' :''}}>App</option>
								</select>
							</div>
							<div id="groupInputInativo" class="form-group checkbox col-sm-3 col-md-3 col-lg-3">
								<label class="block checkbox">
								<input id="inputInativo" type="checkbox" {{inativo ? 'checked' :''}} class="ace input-lg">
								<span class="lbl "> Inativo </span>
								</label>
							</div>
						</div>
						<div class="row">
							<div id="groupInputEmpresaContainer" class="form-group col-sm-3 col-md-3 col-lg-3" style="display : none">
								<label class="control-label" for="inputEmpresa">Empresa *</label>
								<div id="groupInputEmpresa" class="input-group">
									<input id="inputEmpresaId" type="hidden" class="form-control" value="{{empresa && empresa.id}}" />
									<input id="inputEmpresaNome" placeholder="Escolha um Empresa"  type="text" class="form-control" value="{{empresa && empresa.nomeFantasia}}" />
									<div class="input-group-addon" id="searchEmpresaModal" data-toggle="modal">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</div>
							<input type="hidden" id="inputLimiteDisponivel" class="form-control" >
							<div id="groupInputCentroCustoContainer" class="form-group col-sm-5	col-md-5 col-lg-5" style="display: none">
									<label class="control-label" for="inputCentroCusto">Centro custo *        <span id="limiteDisponivel" style="color:red"></span> </label>
									<div id="groupInputCentroCusto" class="input-group">
										<input id="inputCentroCustoId" type="hidden" class="form-control append-left validate[required]" value="{{centroCusto && centroCusto.id}}" />
										<input id="inputCentroCustoDescricao" placeholder="Escolha um Centro custo" type="text" class="form-control append-left validate[required]" value="{{centroCusto && centroCusto.descricao}}" />
										<div class="input-group-addon append-right" id="searchCentroCustoModal" data-toggle="modal">
											<span class="fa fa-search"></span>
										</div>
									</div>
							</div>
						</div>
						<div class="row">
							<div id="groupInputLimiteMensal" class="form-group col-sm-3	col-md-3 col-lg-3" style="display: none">
								<label class="control-label" for="inputLimiteMensal">Limite mensal R$ * </label>
								<input type="text" id="inputLimiteMensal" placeholder="" value="{{limiteMensal}}" class="form-control" maxlength="12"  style="text-align: right;">
							</div>
							<!-- <div id="groupInputAutorizaEticket" class="form-group checkbox col-sm-2	col-md-2	col-lg-2" style="display: none">
								<label class="block checkbox">
									<input id="inputAutorizaEticket" type="checkbox" {{autorizaEticket ? 'checked' :''}} class="ace input-lg">
									<span class="lbl "> Autoriza eticket</span>
								</label>
							</div> -->
						</div>
						<div id="groupInputObservacao" class="form-group">
							<label class="control-label" for="inputObservacao">Observação </label>
							<textarea rows="3" id="inputObservacao" placeholder="Observação" value="{{observacao}}" class="form-control  " maxlength="1000">{{observacao}} </textarea>
						</div>
						<!-- <div id="groupInputSenha" class="form-group">
							<label class="control-label" for="inputSenha">Senha </label>
							<input type="text" id="inputSenha" placeholder="" value="{{senha}}" class="form-control   " maxlength="100">
						</div>
						<div id="groupInputUsuarioCadastro" class="form-group">
							<label class="control-label" for="inputUsuarioCadastro">Usuario cadastro </label>
							<input type="text" id="inputUsuarioCadastro" placeholder="" value="{{usuarioCadastro}}" class="form-control   ">
						</div>
						<div id="groupInputDataCadastroContainer" class="form-group">
							<label class="control-label" for="inputDataCadastro">Data cadastro </label>
							<div id="groupInputDataCadastro" class="input-group date" data-date-format="DD/MM/YYYY">
								<input id="inputDataCadastro" placeholder="Escolha ou digite uma data." type="text" class="form-control   append-left" value="{{dataCadastro}}" />
								<div class="input-group-addon	append-right">
									<span class="fa fa-calendar"></span>
								</div>
							</div>
						</div>
						<div id="groupInputMatricula" class="form-group">
							<label class="control-label" for="inputMatricula">Matricula </label>
							<input type="text" id="inputMatricula" placeholder="" value="{{matricula}}" class="form-control   ">
						</div>
						<div id="groupInputLimiteMensal" class="form-group">
							<label class="control-label" for="inputLimiteMensal">Limite mensal </label>
							<input type="text" id="inputLimiteMensal" placeholder="" value="{{limiteMensal}}" class="form-control   ">
						</div>
						<div id="groupInputCnpjCpf" class="form-group">
							<label class="control-label" for="inputCnpjCpf">CNPJ CPF </label>
							<input type="text" id="inputCnpjCpf" placeholder="" value="{{cnpjCpf}}" class="form-control   " maxlength="18">
						</div>
						<div id="groupInputCnpj" class="form-group">
							<label class="control-label" for="inputCnpj">CNPJ </label>
							<input type="text" id="inputCnpj" placeholder="" value="{{cnpj}}" class="form-control   " maxlength="18">
						</div>
						<div id="groupInputCpf" class="form-group">
							<label class="control-label" for="inputCpf">CPF </label>
							<input type="text" id="inputCpf" placeholder="" value="{{cpf}}" class="form-control   " maxlength="14">
						</div>
						<div id="groupInputAutorizaEticket" class="form-group checkbox">
							<label class="checkbox ">
							<input id="inputAutorizaEticket" type="checkbox"{{autorizaEticket ? 'checked' :''}}>
							Autoriza eticket
							</label>
						</div>
						<div id="groupInputObservacao" class="form-group">
							<label class="control-label" for="inputObservacao">Observação </label>
							<textarea rows="3" id="inputObservacao" placeholder="Observação" value="{{observacao}}" class="form-control  " maxlength="500">{{observacao}} </textarea>
						</div>
						<div id="groupInputEmpresaContainer" class="form-group">
							<label class="control-label" for="inputEmpresa">Empresa</label>
							<div id="groupInputEmpresa" class="input-group">
								<input id="inputEmpresaId" type="hidden" class="form-control append-left" value="{{empresa && empresa.id}}" />
								<input id="inputEmpresaNome" placeholder="Escolha um Empresa" type="text" class="form-control append-left" value="{{empresa && empresa.nome}}" />
								<div class="input-group-addon append-right" id="searchEmpresaModal" data-toggle="modal">
									<span class="fa fa-search"></span>
								</div>
							</div>
						</div>
						<div id="groupInputCentroCustoContainer" class="form-group">
							<label class="control-label" for="inputCentroCusto">Centro custo</label>
							<div id="groupInputCentroCusto" class="input-group">
								<input id="inputCentroCustoId" type="hidden" class="form-control append-left" value="{{centroCusto && centroCusto.id}}" />
								<input id="inputCentroCustoNome" placeholder="Escolha um Centro custo" type="text" class="form-control append-left" value="{{centroCusto && centroCusto.nome}}" />
								<div class="input-group-addon append-right" id="searchCentroCustoModal" data-toggle="modal">
									<span class="fa fa-search"></span>
								</div>
							</div>
						</div> -->
					</form>
				</div>
			</div>
			<div class="">
				<div class="clearfix form-actions">
					<a id="save" href="javascript:void(0)" id="save" class="save btn btn-primary" style="display:none;">
					<i class="ace-icon save fa fa-check bigger-110"></i>
					Salvar
					</a>
					<a id="saveContinue" href="javascript:void(0)" class=" saveAndContinue  btn btn-info" style="display:none;">
					<i class="ace-icon fa fa-check bigger-110"></i>
					Salvar e Continuar
					</a>
					<a class="go-back-link btn btn-light" href="#app/clientes">
					<i class="ace-icon fa fa-undo bigger-110"></i>
					Voltar para a listagem
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div id='empresaModal'></div>
<div id='centroCustoModal'></div>