<!-- DistanciaMotoCorrida´s form -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Formulário de cadastro de Distancia moto corrida</li>
	</ul>
</div>
<div class="col-sm-12 page-form ">
	<div id="messages_div"></div>				
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box transparent_  ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-wpforms"></i>
						Formulário de cadastro de Distancia moto corrida
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<form role="form" id="formDistanciaMotoCorrida">
							<input type="hidden" id="inputId" value="{{id}}">
							<div id="groupInputDistancia" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputDistancia">Distancia  </label>
								<input type="text"  id="inputDistancia" placeholder="" value="{{distancia}}" class="form-control   "  >
							</div>
							<div id="groupInputSequencia" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputSequencia">Sequencia  </label>
								<input type="text"  id="inputSequencia" placeholder="" value="{{sequencia}}" class="form-control   "  >
							</div>
							<div id="groupInputMotoristaContainer" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputMotorista">Motorista</label>
								<div id="groupInputMotorista" class="input-group">
									<input id="inputMotoristaId" type="hidden" class="form-control append-left" value="{{motorista && motorista.id}}" />
									<input id="inputMotoristaNome" placeholder="Escolha um Motorista"  type="text" class="form-control append-left" value="{{motorista && motorista.nome}}" />
									<div class="input-group-addon append-right" id="searchMotoristaModal" data-toggle="modal">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</div>		
							<div id="groupInputCorridaContainer" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputCorrida">Corrida</label>
								<div id="groupInputCorrida" class="input-group">
									<input id="inputCorridaId" type="hidden" class="form-control append-left" value="{{corrida && corrida.id}}" />
									<input id="inputCorridaNome" placeholder="Escolha um Corrida"  type="text" class="form-control append-left" value="{{corrida && corrida.nome}}" />
									<div class="input-group-addon append-right" id="searchCorridaModal" data-toggle="modal">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</div>		
					</form>
				</div>
			</div>
			<div class="">
				<div class="clearfix form-actions">
					<a href="javascript:void(0)" id="save"  class="save btn btn-primary">
						<i class="ace-icon save fa fa-check bigger-110"></i>
						Salvar
					</a>
					&nbsp; &nbsp; &nbsp;
					<a href="javascript:void(0)" class=" saveAndContinue  btn btn-info" style="display: {{ id ? 'none' : 'inline-block' }} ">
						<i class="ace-icon fa fa-check bigger-110"></i>
						Salvar e Continuar
					</a>
					&nbsp; &nbsp; &nbsp;
					<a class="go-back-link btn btn-light" href="#app/distanciaMotoCorridas">
						<i class="ace-icon fa fa-undo bigger-110"></i>
						Voltar para a listagem
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div id='motoristaModal'></div>
<div id='corridaModal'></div>
