<!-- StatusTracker´s form -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Formulário de cadastro de Status tracker</li>
	</ul>
</div>
<div class="col-sm-12 page-form ">
	<div id="messages_div"></div>				
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box transparent_  ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-wpforms"></i>
						Formulário de cadastro de Status tracker
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<form role="form" id="formStatusTracker">
							<input type="hidden" id="inputId" value="{{id}}">
							<div id="groupInputLatitude" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputLatitude">Latitude  *</label>
								<input type="text"  id="inputLatitude" placeholder="" value="{{latitude}}" class="form-control  validate[required] "  >
							</div>
							<div id="groupInputLongitude" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputLongitude">Longitude  </label>
								<input type="text"  id="inputLongitude" placeholder="" value="{{longitude}}" class="form-control   "  >
							</div>
							<div id="groupInputTimestamp" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputTimestamp">Timestamp  </label>
								<input type="text"  id="inputTimestamp" placeholder="" value="{{timestamp}}" class="form-control   "  >
							</div>
							<div id="groupInputSpeed" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputSpeed">Speed  </label>
								<input type="text"  id="inputSpeed" placeholder="" value="{{speed}}" class="form-control   "  >
							</div>
							<div id="groupInputAccuracy" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputAccuracy">Accuracy  </label>
								<input type="text"  id="inputAccuracy" placeholder="" value="{{accuracy}}" class="form-control   "  >
							</div>
							<div id="groupInputDirection" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputDirection">Direction  </label>
								<input type="text"  id="inputDirection" placeholder="" value="{{direction}}" class="form-control   "  >
							</div>
							<div id="groupInputAltitude" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputAltitude">Altitude  </label>
								<input type="text"  id="inputAltitude" placeholder="" value="{{altitude}}" class="form-control   "  >
							</div>
							<div id="groupInputBateryLevel" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputBateryLevel">Batery level  </label>
								<input type="text"  id="inputBateryLevel" placeholder="" value="{{bateryLevel}}" class="form-control   "  >
							</div>
							<div id="groupInputGpsEnabled" class="form-group col-sm-	col-md-	col-lg-   checkbox">
								<label class="checkbox ">
									<input id="inputGpsEnabled" type="checkbox" {{gpsEnabled ? 'checked' :''}}>
									Gps enabled
								</label>
							</div>
							<div id="groupInputWifiEnabled" class="form-group col-sm-	col-md-	col-lg-   checkbox">
								<label class="checkbox ">
									<input id="inputWifiEnabled" type="checkbox" {{wifiEnabled ? 'checked' :''}}>
									Wifi enabled
								</label>
							</div>
							<div id="groupInputMobileEnabled" class="form-group col-sm-	col-md-	col-lg-   checkbox">
								<label class="checkbox ">
									<input id="inputMobileEnabled" type="checkbox" {{mobileEnabled ? 'checked' :''}}>
									Mobile enabled
								</label>
							</div>
							<div id="groupInputMotoristaContainer" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputMotorista">Motorista</label>
								<div id="groupInputMotorista" class="input-group">
									<input id="inputMotoristaId" type="hidden" class="form-control append-left" value="{{motorista && motorista.id}}" />
									<input id="inputMotoristaNome" placeholder="Escolha um Motorista"  type="text" class="form-control append-left" value="{{motorista && motorista.nome}}" />
									<div class="input-group-addon append-right" id="searchMotoristaModal" data-toggle="modal">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</div>		
					</form>
				</div>
			</div>
			<div class="">
				<div class="clearfix form-actions">
					<a href="javascript:void(0)" id="save"  class="save btn btn-primary">
						<i class="ace-icon save fa fa-check bigger-110"></i>
						Salvar
					</a>
					&nbsp; &nbsp; &nbsp;
					<a href="javascript:void(0)" class=" saveAndContinue  btn btn-info" style="display: {{ id ? 'none' : 'inline-block' }} ">
						<i class="ace-icon fa fa-check bigger-110"></i>
						Salvar e Continuar
					</a>
					&nbsp; &nbsp; &nbsp;
					<a class="go-back-link btn btn-light" href="#app/statusTrackers">
						<i class="ace-icon fa fa-undo bigger-110"></i>
						Voltar para a listagem
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div id='motoristaModal'></div>
