<!-- Corrida´s form -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Formulário de cadastro de Corridas</li>
	</ul>
</div>
<div class="col-sm-12 page-form ">
	<div id="messages_div"></div>
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box transparent_  ">
				<div class="widget-header widget-header-flat">
					<input readonly type="hidden" id="inputStatusCorrida" value="{{statusCorrida}}">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-wpforms"></i>
						Formulário de cadastro de Corrida
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<form id="formCorrida">
							<div class="consulta-container" style="display: none">
								<div class="widget-box transparent">
									<div class="widget-body">
										<div class="widget-main padding-4">
											<div class="row">
												<div id="groupInputId" class="form-group col-sm-3 col-md-3 col-lg-3">
													<label class="control-label" for="inputId">N° OS</label>
													<input readonly type="text" id="inputId" value="{{id}}" class="form-control">
												</div>
												<div id="groupInputStatusCorridaExibicao" class="form-group col-sm-3 col-md-3 col-lg-3">
													<label class="control-label" for="inputStatusCorridaExibicao">Status</label>
													<input readonly type="text" id="inputStatusCorridaExibicao" class="form-control">
												</div>
												<div id="groupInputDataAgendamento" class="form-group col-sm-3 col-md-3 col-lg-3">
													<label class="control-label" for="inputDataAgendamento">Data Agendamento</label>
													<input readonly type="text" id="inputDataAgendamento" class="form-control" value="{{dataAgendamento}}">
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-3">
									<div class="panel panel-default">
										<div class="panel-body" style="background: #F7F7F7">
											<div class="row">
												<div class="form-group col-sm-12">
													<label for="inputFone">Telefone *</label>
													<div class="input-group">
														<span class="input-group-addon">
														<i class="ace-icon fa fa-phone"></i>
														</span>
														<input type="text" id="inputFone" placeholder="" value="(85)" class="form-control validate[required]  " maxlength="15">
													</div>
												</div>
											</div>
											<div id="mensagem-busca"></div>
											<div class="empresa-container" style="display: none">
												<div class="widget-box transparent">
													<div class="widget-header widget-header-flat">
														<h4 class="widget-title lighter label-Empresa-funcionario"></h4>
													</div>
													<div class="widget-body">
														<div class="widget-main padding-4">
															<div class="row">
																<div class="form-group col-sm-12">
																	<label>Nome</label>
																	<input readonly type="text" id='inputEmpresaNomeFuncionario' value="{{cliente && cliente.nome}}" class="form-control  ">
																</div>
															</div>
															<div class="row">
																<div class="form-group col-sm-12">
																	<label>Empresa </label>
																	<input readonly type="text" id='inputEmpresaNome' value="{{empresa && empresa.nomeFantasia}}" class="form-control  ">
																</div>
															</div>
															<div class="row">
																<div class="form-group col-sm-12">
																	<label>Contrato </label>
																	<input readonly type="text" id='inputEmpresaContrato' value="{{empresa && empresa.contrato}}" class="form-control  ">
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<div class="cliente-container" style="display: none">
												<div class="widget-box transparent">
													<div class="widget-header widget-header-flat">
														<h4 class="widget-title lighter">Cliente</h4>
													</div>
													<div class="widget-body">
														<div class="widget-main padding-4">
															<div class="row">
																<div class="form-group col-sm-12">
																	<label>Nome</label>
																	<input readonly type="text" id='inputNome' value="{{cliente && cliente.nome}}" class="form-control">
																</div>
																<div class="row"></div>
																<div class="form-group col-sm-12">
																	<label>Observação</label>
																	<input readonly type="text" id='inputObservacaoCliente' value="{{cliente && cliente.observacao}}" class="form-control">
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
											<hr>
											<div class="row">
												<div class="form-group col-sm-12 groupInputTipoPagamento">
													<label>Forma de Pagamento</label>
													<div>
														<label>
														<input type="radio" name="inputTipoPagamento" class="validate[required]" value="1">
														Dinheiro
														</label>
													</div>
													<div>
														<label>
														<input type="radio" name="inputTipoPagamento" class="validate[required]" value="2">
														Crédito
														</label>
													</div>
													<div>
														<label>
														<input type="radio" name="inputTipoPagamento" class="validate[required]" value="3">
														Débito
														</label>
													</div>
													<span class="empresa-container empresa-container-inativa" style="display: none">
														<div>
															<label>
															<input type="radio" name="inputTipoPagamento" class="validate[required]" value="4">
															Voucher
															</label>
														</div>
														<div>
															<label>
															<input type="radio" name="inputTipoPagamento" class="validate[required]" value="5">
															E-Ticket
															</label>
														</div>
													</span>
												</div>
											</div>
											<div class="row">
												<div class="form-group col-sm-12 groupExigencias">
													<label>Exigências</label>
													<div>
														<label>
														<input type="checkbox" id="inputBau" {{bau ? 'checked' :''}}>
														Baú
														</label>
													</div>
													<div>
														<label>
														<input type="checkbox" id="inputMotoGrande" {{motoGrande ? 'checked' :''}}>
														Moto grande
														</label>
													</div>
													<div>
														<label>
														<input type="checkbox" id="inputPadronizada" {{padronizada ? 'checked' :''}}>
														Padronizada
														</label>
													</div>
												</div>
											</div>
											<hr>
											<div class="row">
												<div id="groupInputDataInicioContainer" class="form-group col-sm-12	col-md-	col-lg-12">
													<label class="control-label" for="inputDataInicio">Agendar para</label>
													<div id="groupInputDataInicio" class="input-group date" data-date-format="DD/MM/YYYY HH:MM">
														<input id="inputDataInicio" placeholder="Escolha uma data." type="text" class="form-control append-left" value="{{dataCorrida}}" />
														<div class="input-group-addon	append-right">
															<span class="fa fa-calendar"></span>
														</div>
													</div>
												</div>
												<!-- <div id="groupInputMotoristaContainer" class="form-group col-sm-12	col-md-	col-lg-12  ">
													<label class="control-label" for="inputMotorista">Motoqueiro</label>
													<div id="groupInputMotorista" class="input-group">
														<input id="inputMotoristaId" type="hidden" class="form-control append-left" value="{{motorista && motorista.id}}" />
														<input id="inputMotoristaViatura" type="text" class="form-control append-left" value="{{motorista && motorista.viatura}}" />
														<div class="input-group-addon append-right" id="searchMotoristaModal" data-toggle="modal">
															<span class="fa fa-search"></span>
														</div>
													</div>
												</div> -->
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-9">
									<div class="endereco-partida-container"></div>
									<div class="endereco-destino-container"></div>
									<div class="map-container">
										<div id="map" style="width: 100%; height: 400px; position: fixed;"></div>
									</div>
									<br>
									<div class="row">
										<div class="col-sm-4">
											<a href="javascript:void(0)" class=" mostrar-motoqueiros btn btn-xs btn-info">
												<i class="ace-icon fa fa-motorcycle"></i>
												Mostrar Motoqueiros
											</a>
										</div>
									</div>
									<div class="tarifas-adicionais-container"></div>
									<div id="groupInputValor" class=" pull-right">
										<label>Valor da corrida R$ *</label>
										<input readonly type="text" id="inputValor" class="form-control  validate[required]" style="text-align: right; font-weight: bold; font-size: 16px" value="{{valor}}">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="">
				<div class="clearfix form-actions">
					<a href="javascript:void(0)" id="save" class="save btn btn-primary" style="display: {{ id ? 'inline-block' : 'none' }} ">
					<i class="ace-icon save fa fa-check bigger-110"></i>
					Salvar
					</a>
					<a href="javascript:void(0)" class=" saveAndContinue  btn btn-info" style="display: {{ id ? 'none' : 'inline-block' }} ">
					<i class="ace-icon fa fa-check bigger-110"></i>
					Salvar Continuar
					</a>
					<a class="go-back-link btn btn-light" href="#app/corridas">
					<i class="ace-icon fa fa-undo bigger-110"></i>
					Voltar para a listagem
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div id='atendenteModal'></div>
<div id='motoristaModal'></div>
<div id='modalConfirmacaoCorrida'></div>