<!-- Corrida´s form -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Formulário de cadastro de Corrida</li>
	</ul>
</div>
<div class="col-sm-12 page-form ">
	<div id="messages_div"></div>				
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box transparent_  ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-wpforms"></i>
						Formulário de cadastro de Corrida
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<form role="form" id="formCorrida">
							<input type="hidden" id="inputId" value="{{id}}">
							<div id="groupInputDataCorridaContainer" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputDataCorrida">Data corrida  </label>
								<div id="groupInputDataCorrida" class="input-group date" data-date-format="DD/MM/YYYY HH:MM">
									<input id="inputDataCorrida" placeholder="Escolha ou digite uma data." type="text" class="form-control   append-left" value="{{dataCorrida}}" />
									<div class="input-group-addon	append-right">
										<span class="fa fa-calendar"></span>
									</div>
								</div>
							</div>
							<div id="groupInputTipoPagamento" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputTipoPagamento">Tipo pagamento  </label>
								<input type="text"  id="inputTipoPagamento" placeholder="" value="{{tipoPagamento}}" class="form-control   "  >
							</div>
							<div id="groupInputValor" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputValor">Valor  </label>
								<input type="text"  id="inputValor" placeholder="" value="{{valor}}" class="form-control   "  >
							</div>
							<div id="groupInputObservacao" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputObservacao">Observacao  </label>
								<textarea rows="3" id="inputObservacao" placeholder="Observacao" value="{{observacao}}"  class="form-control  "  maxlength="400" >{{observacao}} </textarea>
							</div>					
							<div id="groupInputStatusCorrida" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputStatusCorrida">Status corrida  </label>
								<input type="text"  id="inputStatusCorrida" placeholder="" value="{{statusCorrida}}" class="form-control   "  maxlength="1" >
							</div>
							<div id="groupInputSeqEmAtendimento" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputSeqEmAtendimento">Seq em atendimento  </label>
								<input type="text"  id="inputSeqEmAtendimento" placeholder="" value="{{seqEmAtendimento}}" class="form-control   "  >
							</div>
							<div id="groupInputMotoGrande" class="form-group col-sm-	col-md-	col-lg-   checkbox">
								<label class="checkbox ">
									<input id="inputMotoGrande" type="checkbox" {{motoGrande ? 'checked' :''}}>
									Moto grande
								</label>
							</div>
							<div id="groupInputBau" class="form-group col-sm-	col-md-	col-lg-   checkbox">
								<label class="checkbox ">
									<input id="inputBau" type="checkbox" {{bau ? 'checked' :''}}>
									Bau
								</label>
							</div>
							<div id="groupInputAtendenteContainer" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputAtendente">Atendente</label>
								<div id="groupInputAtendente" class="input-group">
									<input id="inputAtendenteId" type="hidden" class="form-control append-left" value="{{atendente && atendente.id}}" />
									<input id="inputAtendenteNome" placeholder="Escolha um Atendente"  type="text" class="form-control append-left" value="{{atendente && atendente.nome}}" />
									<div class="input-group-addon append-right" id="searchAtendenteModal" data-toggle="modal">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</div>		
							<div id="groupInputMotoristaContainer" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputMotorista">Motorista</label>
								<div id="groupInputMotorista" class="input-group">
									<input id="inputMotoristaId" type="hidden" class="form-control append-left" value="{{motorista && motorista.id}}" />
									<input id="inputMotoristaNome" placeholder="Escolha um Motorista"  type="text" class="form-control append-left" value="{{motorista && motorista.nome}}" />
									<div class="input-group-addon append-right" id="searchMotoristaModal" data-toggle="modal">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</div>		
					</form>
				</div>
			</div>
			<div class="">
				<div class="clearfix form-actions">
					<a href="javascript:void(0)" id="save"  class="save btn btn-primary">
						<i class="ace-icon save fa fa-check bigger-110"></i>
						Salvar
					</a>
					&nbsp; &nbsp; &nbsp;
					<a href="javascript:void(0)" class=" saveAndContinue  btn btn-info" style="display: {{ id ? 'none' : 'inline-block' }} ">
						<i class="ace-icon fa fa-check bigger-110"></i>
						Salvar e Continuar
					</a>
					&nbsp; &nbsp; &nbsp;
					<a class="go-back-link btn btn-light" href="#app/corridas">
						<i class="ace-icon fa fa-undo bigger-110"></i>
						Voltar para a listagem
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div id='atendenteModal'></div>
<div id='motoristaModal'></div>
