<br>
<div class="widget-box _transparent ">
	<div class="widget-header widget-header-flat">
		<h4 class="widget-title lighter">
			<i class="ace-icon fa fa-map-marker green"></i>
			Tarifas adicionais
		</h4>
	</div>
	<div class="widget-body ">
		<div class="widget-main">
			<div class="row">
				<div class="form-group col-sm-12">
					<label>
						Valor Maior Trajeto: (
						<small class="maior-trajeto "> </small>
						)
					</label>
					<input type="text" id='valorMaiorTrajeto' value='' class="valor-maior-trajeto form-control  col-sm-4">
				</div>
			</div>
			<div class="row">
				<div class="col-sm-4">
					<a href="javascript:void(0)" class=" escolher-tarifa-adicional btn btn-xs btn-info">
						<i class="ace-icon fa fa-plus "></i>
						Adicionar novas tarifas
					</a>
				</div>
			</div>
			<br>
			<div class="grid-tarifas-adicionais"></div>
			<div class="hr hr8 hr-double hr-dotted"></div>
<!-- 			<div class="row"> -->
<!-- 				<div class="col-sm-5 pull-right"> -->
<!-- 					<h4 class="pull-right"> -->
<!-- 						Valor da Corrida : R$  -->
<!-- 						<span class="valor-corrida red"> -->
<!-- 							<input type="text" value='' class="input-valor-corrida form-control  col-sm-4"> -->
<!-- 						</span> -->
<!-- 					</h4> -->
<!-- 				</div> -->
<!-- 			</div> -->
		</div>
	</div>
</div>
<div class="modal-tarifa-adicional"></div>