
<div class="widget-box ransparent">
	<div class="widget-header widget-header-flat">
		<h4 class="widget-title lighter">
			<i class="ace-icon fa fa-map-marker green"></i>
			Endereço de partida
		</h4>
	</div>
	<div class="widget-body">
		<form class="form-endereco-partida">
			<div class="widget-main ">
				<div class="row">
					<div class="form-group col-sm-2">
						<button type="button" class="btn btn-info mostrar-modal-favoritos btn-minier  ">
							<span class="fa fa-search"></span>
							Buscar favoritos
						</button>
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-12">
						<label>Endereço de partida (com Número) </label>
						<input type="text" class="inputEnderecoCombo form-control" placeholder="" value='{{enderecoFormatado}}'>
					</div>
				</div>
				<!-- <div class="endereco-partida">
					<div class="row">
						<div class="form-group col-sm-3	col-md-3 col-lg-3">
							<label class="control-label" for="inputEndereco">Logradouro</label>
							<input type="text" id="inputEnderecoPartida" placeholder="" class="form-control inputEnderecoLogradouro" maxlength="200">
						</div>
						<div class="form-group col-sm-2 col-md-2 col-lg-2">
							<label class="control-label" for="inputNumero">Número</label>
							<input type="text" placeholder="" class="form-control inputEnderecoNumero" maxlength="10">
						</div>
						<div class="form-group col-sm-2 col-md-2 col-lg-2">
							<label class="control-label" for="inputCep">CEP</label>
							<input type="text" placeholder="" class="form-control inputEnderecoCep" maxlength="9">
						</div>
						<div class="form-group col-sm-2 col-md-2 col-lg-2">
							<label class="control-label" for="inputBairro">Bairro</label>
							<input type="text" placeholder="" class="form-control inputEnderecoBairro" maxlength="100">
						</div>
						<div class="form-group col-sm-2 col-md-2 col-lg-2">
							<label class="control-label" for="inputCidade">Cidade</label>
							<input type="text" placeholder="" class="form-control inputEnderecoCidade" maxlength="50">
						</div>
						<div class="form-group col-sm-1 col-md-1 col-lg-1">
							<label class="control-label" for="inputEnderecoUf">UF</label>
							<input type="text" placeholder="" class="form-control inputEnderecoUf" maxlength="2">
						</div>
					</div>
				</div> -->
				<div class="row">
					<div class="form-group col-sm-6">
						<label>Complemento</label>
						<input type="text" class="form-control inputComplemento" value="{{complemento}}">
					</div>
					<div class="form-group col-sm-6">
						<label>Referência </label>
						<input type="text" class="form-control inputReferencia" value="{{referencia}}">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-6">
						<label>Procurar por</label>
						<input type="text" class="form-control inputContato" value="{{contato}}">
					</div>
					<div class="form-group col-sm-6">
						<label>Tarefa</label>
						<input type="text" class="form-control inputTarefa" value="{{tarefa}}">
					</div>
				</div>
				<div class="row">
					<div class="form-group col-sm-8">
						<label>Observação da corrida</label>
						<textarea type="text" class="form-control inputObservacao" value="{{corrida && corrida.observacao}}">{{corrida && corrida.observacao}} </textarea>
					</div>
					<div class="form-group col-sm-4 pull-right" style="padding-top: 35px">
						<button type="button" class="btn btn-info marcar-favorito">Marcar como favorito</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>
<div class="endereco-favorito-modal"></div>
