
<div class="widget-box _transparent">
	<div class="widget-header widget-header-flat">
		<h4 class="widget-title lighter">
			<i class="ace-icon fa fa-map-marker green"></i>
			<a href="javascript:void(0)" class=" adicionar-endereco-corrida"> Adicionar endereço de destino </a>
		</h4>
	</div>
	<div class="widget-body">
		<div>
			<div class="grid-enderecos-escolhidos-container"></div>
		</div>
	</div>
</div>
<div class="modal fade" id="dialogEscolhaEndereco" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Pesquisa de Endereço</h4>
			</div>
			<div class="modal-body">
				<form class="form-endereco-escolhido">
					<div id="mensagem-endereco-destino-modal"></div>
					<div class="widget-main ">
						<div class="row endereco-partida">
							<div class="form-group col-sm-12">
								<label>Endereço de destino (com Número) </label>
								<input type="text" class="inputEnderecoCombo form-control">
							</div>
						</div>
						<!-- <div class="endereco-partida">
							<div class="row">
								<div class="form-group col-sm-3	col-md-3 col-lg-3">
									<label class="control-label" for="inputEndereco">Logradouro *</label>
									<input type="text" id="inputEnderecoPartida" placeholder="" class="form-control inputEnderecoLogradouro validate[required]  " maxlength="200">
								</div>
								<div class="form-group col-sm-2 col-md-2 col-lg-2"> 
									<label class="control-label" for="inputNumero">Número *</label>
									<input type="text" placeholder="" class="form-control inputEnderecoNumero validate[required]  " maxlength="10">
								</div>
								<div class="form-group col-sm-2 col-md-2 col-lg-2">
									<label class="control-label" for="inputCep">CEP *</label>
									<input type="text" placeholder="" class="form-control inputEnderecoCep validate[required]  " maxlength="9">
								</div>
								<div class="form-group col-sm-2 col-md-2 col-lg-2">
									<label class="control-label" for="inputBairro">Bairro *</label>
									<input type="text" placeholder="" class="form-control inputEnderecoBairro validate[required]  " maxlength="100">
								</div>
								<div class="form-group col-sm-2 col-md-2 col-lg-2">
									<label class="control-label" for="inputCidade">Cidade *</label>
									<input type="text" placeholder="" class="form-control inputEnderecoCidade validate[required]  " maxlength="50">
								</div>
								<div class="form-group col-sm-1 col-md-1 col-lg-1">
									<label class="control-label" for="inputEnderecoUf">UF *</label>
									<input type="text" placeholder="" class="form-control inputEnderecoUf validate[required]  " maxlength="2">
								</div>
							</div>
						</div> -->
						<div class="row">
							<div class="form-group col-sm-6">
								<label>Complemento</label>
								<input type="text" class="form-control inputComplemento  ">
							</div>
							<div class="form-group col-sm-6">
								<label>Referência</label>
								<input type="text" class="form-control inputReferencia">
							</div>
						</div>
						<div class="row">
							<div class="form-group col-sm-6">
								<label>Procurar por</label>
								<input type="text" class="form-control inputContato">
							</div>
							<div class="form-group col-sm-6">
								<label>Tarefa</label>
								<input type="text" class="form-control inputTarefa">
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
				<button type="button" class="btn btn-primary usar-este-endereco">Usar este endereço e sair</button>
				<button type="button" class="btn btn-primary usar-este-endereco-continuar">Usar este endereço e escolher outro</button>
				<button type="button" class="btn btn-primary btn-default salvar-endereco" style="display: none" data-dismiss="modal">Salvar e sair</button>
			</div>
		</div>
	</div>
</div>
