
<div class="modal fade" id="dialogBairro" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Corrida Salva</h4>
			</div>
			<div class="modal-body">
				<form id="formSearchBairro">
					<div class="widget-box">
						<div class="widget-body">
							<div class="widget-main">
								<h4>Informaçôes gerais da corrida</h4>
								<div class="row">
									<div class="col-sm-4">
										<dl id="dt-list-1">
											<dt>Data da Solicitação</dt>
											<span class="data-corrida"></span>
											<dt>Moto grande</dt>
											<span class="moto-grande"></span>
											<dt>Valor</dt>
											<span class="valor"></span>
										</dl>
									</div>
									<div class="col-sm-4">
										<dt>Tipo de Pagamento</dt>
										<span class="tipo-pagamento"> </span>
										<dt>Baú</dt>
										<span class="bau"> </span>
									</div>
								</div>
								<h4>Motorista</h4>
								<div class="row">
									<div class="col-sm-6">
										<dl id="dt-list-1">
											<dt>Motorista</dt>
											<dd class='motorista'></dd>
										</dl>
									</div>
								</div>
								<h4>Cliente/Empresa</h4>
								<div class="row">
									<div class="col-sm-12">
										<dl id="dt-list-1">
											<dt>Cliente</dt>
											<dd class='cliente'></dd>
											<dt>Tipo de Cliente</dt>
											<dd class='tipo-cliente'></dd>
											<dt>Empresa</dt>
											<dd class='empresa'></dd>
										</dl>
									</div>
								</div>
								<h4>Endereços</h4>
								<div class="row">
									<div class="col-sm-12">
										<dt>Partida</dt>
										<span class="endereco-partida"></span>
										<dt>Destino(s)</dt>
										<span class="enderecos-destino"></span>
									</div>
								</div>
							</div>
						</div>
					</div>
			</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Sair</button>
		</div>
	</div>
</div>
</div>
