<!-- generated: 04/11/2016 11:29:26 -->
<!-- CorridaÂ´s page -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Pesquisa Corrida</li>
	</ul>
</div>
<div class="col-sm-12 page-form">
	<div id="messages_div"></div>
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-search"></i>
						Pesquisa de Corrida
					</h4>
				</div>
				<div class="widget-body">
					<form id="formCorridaFilter">
						<div class="widget-main  ">
							<div class="row">
								<div class="col-xs-6">
									<!-- <a id="new" href="#app/newCorrida" class="btn btn-success">
										<i class="fa fa-plus-circle"></i>
										Novo Registro
									</a> -->
									<a href="javascript:void(0)" id="reset" class="btn reset" >Limpar</a>
								</div>
								<div class="col-sm-6">
									<div class="input-group">
										<input id="inputId" type="text" class="form-control search-query" placeholder="Pesquisar Corrida por N° OS">
										<span id="query" class="input-group-btn ">
											<button type="button" class="btn btn-inverse btn-white search-button">
												<span class="ace-icon fa fa-search icon-on-right bigger-110 "></span>
												Pesquisar
											</button>
										</span>
									</div>
									<div>
										<a href="javascript:void(-1)" class="show-advanced-search-button"> Pesquisa avançada... </a>
									</div>
								</div>
							</div>
							<div class="widget-box transparent advanced-search-form">
								<div class="widget-header">
									<h4 class="widget-title lighter">Filtros avançados</h4>
								</div>
								<div class="widget-body">
								<!-- inicio dos registros-->							
									<div class="row">
										<div id="groupInputClienteContainer" class="form-group col-sm-6	col-md-6	col-lg-6  ">
											<label class="control-label" for="inputCliente">Cliente</label>
											<div id="groupInputCliente" class="input-group">
												<input id="inputClienteId" type="hidden" class="form-control append-left"  />
												<input id="inputClienteNome" placeholder=""  type="text" class="form-control append-left" />
												<div class="input-group-addon append-right" id="searchClienteModal" data-toggle="modal">
													<span class="fa fa-search"></span>
												</div>
											</div>
										</div>		
										<div id="groupInputMotoristaContainer" class="form-group col-sm-6 col-md-6 col-lg-6">
											<label class="control-label" for="inputMotorista">Motorista</label>
											<div id="groupInputMotorista" class="input-group">
												<input id="inputMotoristaId" type="hidden" class="form-control append-left"  />
												<input id="inputMotoristaNome" placeholder=""  type="text" class="form-control append-left" />
												<div class="input-group-addon append-right" id="searchMotoristaModal" data-toggle="modal">
													<span class="fa fa-search"></span>
												</div>
											</div>
										</div>
									</div>
									<div class="row">		
										<div id="groupInputEmpresaContainer" class="form-group col-sm-3 col-md-3 col-lg-3 ">
											<label class="control-label" for="inputEmpresa">Empresa</label>
											<div id="groupInputEmpresa" class="input-group">
												<input id="inputEmpresaId" type="hidden" class="form-control append-left"  />
												<input id="inputEmpresaContrato" placeholder=""  type="text" class="form-control append-left" />
												<div class="input-group-addon append-right" id="searchEmpresaModal" data-toggle="modal">
													<span class="fa fa-search"></span>
												</div>
											</div>
										</div>		
									<div id="groupInputTelefone" class="form-group col-sm-3 col-md-3 col-lg-3">
										<label class="control-label" for="inputTelefone">Telefone</label>
										<div class="input-group">
											<span class="input-group-addon">
												<i class="ace-icon fa fa-phone"></i>
											</span>
											<input type="text" id="inputTelefone" placeholder="" value="(85)" class="form-control" maxlength="15">
										</div>
									</div>
										<!-- <div id="groupInputAtendenteContainer" class="form-group col-sm-	col-md-	col-lg-  ">
											<label class="control-label" for="inputAtendente">Atendente</label>
											<div id="groupInputAtendente" class="input-group">
												<input id="inputAtendenteId" type="hidden" class="form-control append-left"  />
												<input id="inputAtendenteNome" placeholder="Pesquise pelo Atendente"  type="text" class="form-control append-left" />
												<div class="input-group-addon append-right" id="searchAtendenteModal" data-toggle="modal">
													<span class="fa fa-search"></span>
												</div>
											</div>
										</div> -->		
										<div id="groupInputStatusCorrida" class="form-group  col-sm-2	col-md-2	col-lg-2">
											<label class="control-label" for="inputStatusCorrida">Status</label>
											<select type="text" id="inputStatusCorrida" class="form-control">
												<option value="">-- Selecione --</option>
												<option value='A'>Agendada</option>
												<option value='C'>A caminho</option>
												<option value='D'>Disponível</option>
												<option value='E'>Em andamento</option>
												<option value='F'>Finalizada</option>
												<option value='K'>Cancelada</option>
												<option value='P'>Pendente</option>
												<option value='R'>Reenviada</option>
											</select>
										</div>
									</div>		
								<div class=" ">
									<button type="button" class="btn btn-info btn-sm search-button">
										<i class="ace-icon fa fa-search bigger-110"></i>
										Pesquisar
									</button>
								</div>
							</div>
							</div>
							<div id="counter" class="pull-left"></div>
							<div class="row center">
								<div class="col-xs-12">
									<div class="widget-box transparent ">
										<div class="widget-body">
											<div class="widget-main padding-0">
												<div id="messages_div"></div>
												<div id="grid" class="table-responsive"></div>
												<div class="row">
													<div id="paginator" class=""></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div id='atendenteModal'></div>
<div id='motoristaModal'></div>
<div id='empresaModal'></div>
<div id='clienteModal'></div>
