<!-- Evento´s form -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Formulário de cadastro de Evento</li>
	</ul>
</div>
<div class="col-sm-12 page-form ">
	<div id="messages_div"></div>				
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box transparent_  ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-wpforms"></i>
						Formulário de cadastro de Evento
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<form role="form" id="formEvento">
							<input type="hidden" id="inputId" value="{{id}}">
							<div id="groupInputDescricao" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputDescricao">Descricao  </label>
								<input type="text"  id="inputDescricao" placeholder="" value="{{descricao}}" class="form-control   "  >
							</div>
							<div id="groupInputDataInicio" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputDataInicio">Data inicio  </label>
								<input type="text"  id="inputDataInicio" placeholder="" value="{{dataInicio}}" class="form-control   "  >
							</div>
							<div id="groupInputDataFim" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputDataFim">Data fim  </label>
								<input type="text"  id="inputDataFim" placeholder="" value="{{dataFim}}" class="form-control   "  >
							</div>
							<div id="groupInputDescricaoCurta" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputDescricaoCurta">Descricao curta  </label>
								<input type="text"  id="inputDescricaoCurta" placeholder="" value="{{descricaoCurta}}" class="form-control   "  >
							</div>
							<div id="groupInputEnderecoCorridaContainer" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputEnderecoCorrida">Endereco corrida</label>
								<div id="groupInputEnderecoCorrida" class="input-group">
									<input id="inputEnderecoCorridaId" type="hidden" class="form-control append-left" value="{{enderecoCorrida && enderecoCorrida.id}}" />
									<input id="inputEnderecoCorridaNome" placeholder="Escolha um Endereco corrida"  type="text" class="form-control append-left" value="{{enderecoCorrida && enderecoCorrida.nome}}" />
									<div class="input-group-addon append-right" id="searchEnderecoCorridaModal" data-toggle="modal">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</div>		
							<div id="groupInputMotoristaContainer" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputMotorista">Motorista</label>
								<div id="groupInputMotorista" class="input-group">
									<input id="inputMotoristaId" type="hidden" class="form-control append-left" value="{{motorista && motorista.id}}" />
									<input id="inputMotoristaNome" placeholder="Escolha um Motorista"  type="text" class="form-control append-left" value="{{motorista && motorista.nome}}" />
									<div class="input-group-addon append-right" id="searchMotoristaModal" data-toggle="modal">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</div>		
							<div id="groupInputVisitaTrackerContainer" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputVisitaTracker">Visita tracker</label>
								<div id="groupInputVisitaTracker" class="input-group">
									<input id="inputVisitaTrackerId" type="hidden" class="form-control append-left" value="{{visitaTracker && visitaTracker.id}}" />
									<input id="inputVisitaTrackerNome" placeholder="Escolha um Visita tracker"  type="text" class="form-control append-left" value="{{visitaTracker && visitaTracker.nome}}" />
									<div class="input-group-addon append-right" id="searchVisitaTrackerModal" data-toggle="modal">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</div>		
							<div id="groupInputVisitaTrackerContainer" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputVisitaTracker">Visita tracker</label>
								<div id="groupInputVisitaTracker" class="input-group">
									<input id="inputVisitaTrackerId" type="hidden" class="form-control append-left" value="{{visitaTracker && visitaTracker.id}}" />
									<input id="inputVisitaTrackerNome" placeholder="Escolha um Visita tracker"  type="text" class="form-control append-left" value="{{visitaTracker && visitaTracker.nome}}" />
									<div class="input-group-addon append-right" id="searchVisitaTrackerModal" data-toggle="modal">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</div>		
					</form>
				</div>
			</div>
			<div class="">
				<div class="clearfix form-actions">
					<a href="javascript:void(0)" id="save"  class="save btn btn-primary">
						<i class="ace-icon save fa fa-check bigger-110"></i>
						Salvar
					</a>
					&nbsp; &nbsp; &nbsp;
					<a href="javascript:void(0)" class=" saveAndContinue  btn btn-info" style="display: {{ id ? 'none' : 'inline-block' }} ">
						<i class="ace-icon fa fa-check bigger-110"></i>
						Salvar e Continuar
					</a>
					&nbsp; &nbsp; &nbsp;
					<a class="go-back-link btn btn-light" href="#app/eventos">
						<i class="ace-icon fa fa-undo bigger-110"></i>
						Voltar para a listagem
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div id='enderecoCorridaModal'></div>
<div id='motoristaModal'></div>
<div id='visitaTrackerModal'></div>
<div id='visitaTrackerModal'></div>
