<!-- generated: 16/10/2016 15:27:07 -->
<!-- Modal CentroCusto´s form -->
<div class="modal fade" id="dialogCentroCusto" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Pesquisa de Centro custo</h4>
			</div>
			<div class="modal-body">
				<form id="formSearchCentroCusto">
					<div class="row">
						<div id="groupInputModalDescricao" class="form-group col-sm-4 col-md-4 col-lg-4">
							<label class="control-label" for="inputModalDescricao">Descrição</label>
							<input type="text" id="inputModalDescricao" placeholder=""  class="form-control">
						</div>
						<div id="groupInputModalValorLimite" class="form-group col-sm-2 col-md-2 col-lg-2">
							<label class="control-label" for="inputModalValorLimite">Valor limite</label>
							<input type="text" id="inputModalValorLimite" placeholder=""  class="form-control">
						</div>
					</div>
					<div class="row">
						<div id="groupInputModalObservacao" class="form-group col-sm-6 col-md-6 col-lg-6">
							<label class="control-label" for="inputModalObservacao">Observação</label>
							<input type="text" id="inputModalObservacao" placeholder=""  class="form-control">
						</div>
						<div id="groupInputModalInativo" class="form-group checkbox col-sm-1 col-md-1 col-lg-1">
							<label class="checkbox ">
								<input id="inputModalInativo" type="checkbox" >
								Inativo
							</label>
						</div>
					</div>
		
					<div class="form-actions spinner" id="spinCentroCusto">
						<a href="javascript:void(0)" id="btnSearchCentroCusto" class="btn btn-primary btn-large" >
							<i class="fa fa-search"></i>
							Pesquisar
						</a>
						<a href="javascript:void(0)" id="btnClearCentroCusto" class="btn btn-info btn-large">
							<i class="fa fa-trash"></i>
							Nova Pesquisa
						</a>
					</div>
					
				<div class="row">
				<div class="col-xs-12">
					<h3 class="header smaller lighter blue">Resultados</h3>
					<div class="divTableResults" id="resultadoCentroCustoDiv" >
						<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
							<div id="messages_div"></div>
							<div id="grid-centroCusto" class="table-responsive"></div>
							<div class="">
								<div id="counter-centroCusto" class=" pull-left"></div>
								<div id="paginator-centroCusto" class="pull-right"></div>
							</div>
						</div>
					</div>
				</div>
				</div>
				</form>				
			</div>
		</div>
	</div>
</div>

