<!-- generated: 16/10/2016 15:27:07 -->
<!-- Modal Cliente´s form -->
<div class="modal fade" id="dialogCliente" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Pesquisa de Cliente</h4>
			</div>
			<div class="modal-body">
				<form id="formSearchCliente">
						<div class="row">
							<div id="groupInputModalNomeCliente" class="form-group col-md-6">
								<label class="control-label" for="inputModalNomeCliente">Nome</label>
								<input type="text" id="inputModalNomeCliente" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalEmailCliente" class="form-group col-md-6">
								<label class="control-label" for="inputModalEmailCliente">Email</label>
								<input type="text" id="inputModalEmailCliente" placeholder=""  class="form-control">
							</div>
						</div>
						<div class="row">
							<div id="groupInputModalSenha" class="form-group col-md-6">
								<label class="control-label" for="inputModalSenha">Senha</label>
								<input type="text" id="inputModalSenha" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalTipo" class="form-group col-md-6">
								<label class="control-label" for="inputModalTipo">Tipo</label>
								<input type="text" id="inputModalTipo" placeholder=""  class="form-control">
							</div>
						</div>
							
							<div id="groupInputModalInativo" class="form-group checkbox">
								<label class="checkbox ">
									<input id="inputModalInativo" type="checkbox" >
									Inativo
								</label>
							</div>
							
		
					<div class="form-actions spinner" id="spinCliente">
						<a href="javascript:void(0)" id="btnSearchCliente" class="btn btn-primary btn-large" >
							<i class="fa fa-search"></i>
							Pesquisar
						</a>
						<a href="javascript:void(0)" id="btnClearCliente" class="btn btn-info btn-large">
							<i class="fa fa-trash"></i>
							Nova Pesquisa
						</a>
					</div>
					
				<div class="row">
				<div class="col-xs-12">
					<h3 class="header smaller lighter blue">Resultados</h3>
					<div class="divTableResults" id="resultadoClienteDiv" >
						<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
							<div id="messages_div"></div>
							<div id="grid-cliente" class="table-responsive"></div>
							<div class="">
								<div id="counter-cliente" class=" pull-left"></div>
								<div id="paginator-cliente" class="pull-right"></div>
							</div>
						</div>
					</div>
				</div>
				</div>
				</form>				
			</div>
		</div>
	</div>
</div>

