<!-- generated: 16/10/2016 15:27:07 -->
<!-- Modal ClienteEndereco´s form -->
<div class="modal fade" id="dialogClienteEndereco" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Pesquisa de Cliente endereco</h4>
			</div>
			<div class="modal-body">
				<form id="formSearchClienteEndereco">
							<div id="groupInputModalEndereco" class="form-group">
								<label class="control-label" for="inputModalEndereco">Endereco</label>
								<input type="text" id="inputModalEndereco" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalNumero" class="form-group">
								<label class="control-label" for="inputModalNumero">Úmero</label>
								<input type="text" id="inputModalNumero" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalComplemento" class="form-group">
								<label class="control-label" for="inputModalComplemento">Complemento</label>
								<input type="text" id="inputModalComplemento" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalUf" class="form-group">
								<label class="control-label" for="inputModalUf">Uf</label>
								<input type="text" id="inputModalUf" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalCidade" class="form-group">
								<label class="control-label" for="inputModalCidade">Cidade</label>
								<input type="text" id="inputModalCidade" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalBairro" class="form-group">
								<label class="control-label" for="inputModalBairro">Bairro</label>
								<input type="text" id="inputModalBairro" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalCep" class="form-group">
								<label class="control-label" for="inputModalCep">Cep</label>
								<input type="text" id="inputModalCep" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalReferencia" class="form-group">
								<label class="control-label" for="inputModalReferencia">Referência</label>
								<input type="text" id="inputModalReferencia" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalTipo" class="form-group">
								<label class="control-label" for="inputModalTipo">Tipo</label>
								<input type="text" id="inputModalTipo" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalFavorito" class="form-group checkbox">
								<label class="checkbox ">
									<input id="inputModalFavorito" type="checkbox" >
									Favorito
								</label>
							</div>
							
		
					<div class="form-actions spinner" id="spinClienteEndereco">
						<a href="javascript:void(0)" id="btnSearchClienteEndereco" class="btn btn-primary btn-large" >
							<i class="fa fa-search"></i>
							Pesquisar
						</a>
						<a href="javascript:void(0)" id="btnClearClienteEndereco" class="btn btn-info btn-large">
							<i class="fa fa-trash"></i>
							Nova Pesquisa
						</a>
					</div>
					
				<div class="row">
				<div class="col-xs-12">
					<h3 class="header smaller lighter blue">Resultados</h3>
					<div class="divTableResults" id="resultadoClienteEnderecoDiv" >
						<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
							<div id="messages_div"></div>
							<div id="grid-clienteEndereco" class="table-responsive"></div>
							<div class="">
								<div id="counter-clienteEndereco" class=" pull-left"></div>
								<div id="paginator-clienteEndereco" class="pull-right"></div>
							</div>
						</div>
					</div>
				</div>
				</div>
				</form>				
			</div>
		</div>
	</div>
</div>

