<!-- generated: 16/10/2016 15:27:08 -->
<!-- Modal ClienteFone´s form -->
<div class="modal fade" id="dialogClienteFone" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Pesquisa de Cliente fone</h4>
			</div>
			<div class="modal-body">
				<form id="formSearchClienteFone">
							<div id="groupInputModalDdd" class="form-group">
								<label class="control-label" for="inputModalDdd">Ddd</label>
								<input type="text" id="inputModalDdd" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalFone" class="form-group">
								<label class="control-label" for="inputModalFone">Fone</label>
								<input type="text" id="inputModalFone" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalFavorito" class="form-group checkbox">
								<label class="checkbox ">
									<input id="inputModalFavorito" type="checkbox" >
									Favorito
								</label>
							</div>
							
		
					<div class="form-actions spinner" id="spinClienteFone">
						<a href="javascript:void(0)" id="btnSearchClienteFone" class="btn btn-primary btn-large" >
							<i class="fa fa-search"></i>
							Pesquisar
						</a>
						<a href="javascript:void(0)" id="btnClearClienteFone" class="btn btn-info btn-large">
							<i class="fa fa-trash"></i>
							Nova Pesquisa
						</a>
					</div>
					
				<div class="row">
				<div class="col-xs-12">
					<h3 class="header smaller lighter blue">Resultados</h3>
					<div class="divTableResults" id="resultadoClienteFoneDiv" >
						<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
							<div id="messages_div"></div>
							<div id="grid-clienteFone" class="table-responsive"></div>
							<div class="">
								<div id="counter-clienteFone" class=" pull-left"></div>
								<div id="paginator-clienteFone" class="pull-right"></div>
							</div>
						</div>
					</div>
				</div>
				</div>
				</form>				
			</div>
		</div>
	</div>
</div>

