<!-- generated: 04/11/2016 11:29:26 -->
<!-- Modal Corrida´s form -->
<div class="modal fade" id="dialogCorrida" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Pesquisa de Corrida</h4>
			</div>
			<div class="modal-body">
				<form id="formSearchCorrida">
		
					<div class="form-actions spinner" id="spinCorrida">
						<a href="javascript:void(0)" id="btnSearchCorrida" class="btn btn-primary btn-large" >
							<i class="fa fa-search"></i>
							Pesquisar
						</a>
						<a href="javascript:void(0)" id="btnClearCorrida" class="btn btn-info btn-large">
							<i class="fa fa-trash"></i>
							Nova Pesquisa
						</a>
					</div>
					
				<div class="row">
				<div class="col-xs-12">
					<h3 class="header smaller lighter blue">Resultados</h3>
					<div class="divTableResults" id="resultadoCorridaDiv" >
						<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
							<div id="messages_div"></div>
							<div id="grid-corrida" class="table-responsive"></div>
							<div class="">
								<div id="counter-corrida" class=" pull-left"></div>
								<div id="paginator-corrida" class="pull-right"></div>
							</div>
						</div>
					</div>
				</div>
				</div>
				</form>				
			</div>
		</div>
	</div>
</div>

