<!-- generated: 16/10/2016 15:27:08 -->
<!-- Modal CorridaEndereco´s form -->
<div class="modal fade" id="dialogCorridaEndereco" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Pesquisa de Corrida endereco</h4>
			</div>
			<div class="modal-body">
				<form id="formSearchCorridaEndereco">
							<div id="groupInputModalEnderecoOrigem" class="form-group">
								<label class="control-label" for="inputModalEnderecoOrigem">Endereco origem</label>
								<input type="text" id="inputModalEnderecoOrigem" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalNumeroOrigem" class="form-group">
								<label class="control-label" for="inputModalNumeroOrigem">Numero origem</label>
								<input type="text" id="inputModalNumeroOrigem" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalComplementoOrigem" class="form-group">
								<label class="control-label" for="inputModalComplementoOrigem">Complemento origem</label>
								<input type="text" id="inputModalComplementoOrigem" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalBairroOrigem" class="form-group">
								<label class="control-label" for="inputModalBairroOrigem">Bairro origem</label>
								<input type="text" id="inputModalBairroOrigem" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalUfOrigem" class="form-group">
								<label class="control-label" for="inputModalUfOrigem">Uf origem</label>
								<input type="text" id="inputModalUfOrigem" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalCidadeOrigem" class="form-group">
								<label class="control-label" for="inputModalCidadeOrigem">Cidade origem</label>
								<input type="text" id="inputModalCidadeOrigem" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalCepOrigem" class="form-group">
								<label class="control-label" for="inputModalCepOrigem">Cep origem</label>
								<input type="text" id="inputModalCepOrigem" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalReferenciaOrigem" class="form-group">
								<label class="control-label" for="inputModalReferenciaOrigem">Referencia origem</label>
								<input type="text" id="inputModalReferenciaOrigem" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalEnderecoDestino" class="form-group">
								<label class="control-label" for="inputModalEnderecoDestino">Endereco destino</label>
								<input type="text" id="inputModalEnderecoDestino" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalNumeroDestino" class="form-group">
								<label class="control-label" for="inputModalNumeroDestino">Numero destino</label>
								<input type="text" id="inputModalNumeroDestino" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalComplementoDestino" class="form-group">
								<label class="control-label" for="inputModalComplementoDestino">Complemento destino</label>
								<input type="text" id="inputModalComplementoDestino" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalBairroDestino" class="form-group">
								<label class="control-label" for="inputModalBairroDestino">Bairro destino</label>
								<input type="text" id="inputModalBairroDestino" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalUfDestino" class="form-group">
								<label class="control-label" for="inputModalUfDestino">Uf destino</label>
								<input type="text" id="inputModalUfDestino" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalCidadeDestino" class="form-group">
								<label class="control-label" for="inputModalCidadeDestino">Cidade destino</label>
								<input type="text" id="inputModalCidadeDestino" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalCepDestino" class="form-group">
								<label class="control-label" for="inputModalCepDestino">Cep destino</label>
								<input type="text" id="inputModalCepDestino" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalReferenciaDestino" class="form-group">
								<label class="control-label" for="inputModalReferenciaDestino">Referencia destino</label>
								<input type="text" id="inputModalReferenciaDestino" placeholder=""  class="form-control">
							</div>
							
		
					<div class="form-actions spinner" id="spinCorridaEndereco">
						<a href="javascript:void(0)" id="btnSearchCorridaEndereco" class="btn btn-primary btn-large" >
							<i class="fa fa-search"></i>
							Pesquisar
						</a>
						<a href="javascript:void(0)" id="btnClearCorridaEndereco" class="btn btn-info btn-large">
							<i class="fa fa-trash"></i>
							Nova Pesquisa
						</a>
					</div>
					
				<div class="row">
				<div class="col-xs-12">
					<h3 class="header smaller lighter blue">Resultados</h3>
					<div class="divTableResults" id="resultadoCorridaEnderecoDiv" >
						<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
							<div id="messages_div"></div>
							<div id="grid-corridaEndereco" class="table-responsive"></div>
							<div class="">
								<div id="counter-corridaEndereco" class=" pull-left"></div>
								<div id="paginator-corridaEndereco" class="pull-right"></div>
							</div>
						</div>
					</div>
				</div>
				</div>
				</form>				
			</div>
		</div>
	</div>
</div>

