<!-- generated: 16/10/2016 15:27:08 -->
<!-- Modal Empresa´s form -->
<div class="modal fade" id="dialogEmpresa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Pesquisa de Empresa</h4>
			</div>
			<div class="modal-body">
				<form id="formSearchEmpresa">
						<div class="row">
							<div id="groupInputModalContrato" class="form-group col-sm-3 col-md-3 col-lg-3">
								<label class="control-label" for="inputModalContrato">Contrato</label>
								<input type="text" id="inputModalContrato" placeholder=""  class="form-control">
							</div>
							<div id="groupInputModalCnpj" class="form-group col-sm-3 col-md-3 col-lg-3">
								<label class="control-label" for="inputModalCnpj">CNPJ</label>
								<input type="text" id="inputModalCnpj" placeholder=""  class="form-control">
							</div>							
						</div>
						<div class="row">
							<div id="groupInputModalNomeFantasia" class="form-group col-sm-6 col-md-6 col-lg-6">
								<label class="control-label" for="inputModalNomeFantasia">Nome Fantasia</label>
								<input type="text" id="inputModalNomeFantasia" placeholder=""  class="form-control">
							</div>
							<div id="groupInputModalRazaoSocial" class="form-group col-sm-6 col-md-6 col-lg-6">
								<label class="control-label" for="inputModalRazaoSocial">Razão social</label>
								<input type="text" id="inputModalRazaoSocial" placeholder=""  class="form-control">
							</div>
						</div>
		
					<div class="form-actions spinner" id="spinEmpresa">
						<a href="javascript:void(0)" id="btnSearchEmpresa" class="btn btn-primary btn-large" >
							<i class="fa fa-search"></i>
							Pesquisar
						</a>
						<a href="javascript:void(0)" id="btnClearEmpresa" class="btn btn-info btn-large">
							<i class="fa fa-trash"></i>
							Nova Pesquisa
						</a>
					</div>
					
				<div class="row">
				<div class="col-xs-12">
					<h3 class="header smaller lighter blue">Resultados</h3>
					<div class="divTableResults" id="resultadoEmpresaDiv" >
						<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
							<div id="messages_div"></div>
							<div id="grid-empresa" class="table-responsive"></div>
							<div class="">
								<div id="counter-empresa" class=" pull-left"></div>
								<div id="paginator-empresa" class="pull-right"></div>
							</div>
						</div>
					</div>
				</div>
				</div>
				</form>				
			</div>
		</div>
	</div>
</div>

