<!-- generated: 16/10/2016 15:27:07 -->
<!-- Modal EnderecoFavorito´s form -->
<div class="modal fade" id="dialogEnderecoFavorito" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Pesquisa de EnderecoFavorito</h4>
			</div>
			<div class="modal-body">
				<form id="formSearchEnderecoFavorito">
					<div id="groupInputModalEnderecoFormatado" class="form-group">
						<label class="control-label" for="inputModalEnderecoFormatado">Endereco </label>
						<input type="text" id="inputModalEnderecoFormatado" placeholder="" class="form-control">
					</div>
					<div class="form-actions spinner" id="spinEnderecoFavorito">
						<a href="javascript:void(0)" id="btnSearchEnderecoFavorito" class="btn btn-primary btn-large">
							<i class="fa fa-search"></i>
							Pesquisar
						</a>
						<a href="javascript:void(0)" id="btnClearEnderecoFavorito" class="btn btn-info btn-large">
							<i class="fa fa-trash"></i>
							Nova Pesquisa
						</a>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<h3 class="header smaller lighter blue">Resultados</h3>
							<div class="divTableResults" id="resultadoEnderecoFavoritoDiv">
								<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
									<div id="messages_div"></div>
									<div id="grid-enderecoFavorito" class="table-responsive"></div>
									<div class="">
										<div id="counter-enderecoFavorito" class=" pull-left"></div>
										<div id="paginator-enderecoFavorito" class="pull-right"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
