<!-- generated: 16/10/2016 15:27:08 -->
<!-- Modal Estado´s form -->
<div class="modal fade" id="dialogEstado" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Pesquisa de Estado</h4>
			</div>
			<div class="modal-body">
				<form id="formSearchEstado">
							<div id="groupInputModalNome" class="form-group">
								<label class="control-label" for="inputModalNome">Nome</label>
								<input type="text" id="inputModalNome" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalFaixaCep1Ini" class="form-group">
								<label class="control-label" for="inputModalFaixaCep1Ini">Faixa_cep1_ini</label>
								<input type="text" id="inputModalFaixaCep1Ini" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalFaixaCep1Fim" class="form-group">
								<label class="control-label" for="inputModalFaixaCep1Fim">Faixa_cep1_fim</label>
								<input type="text" id="inputModalFaixaCep1Fim" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalFaixaCep2Ini" class="form-group">
								<label class="control-label" for="inputModalFaixaCep2Ini">Faixa_cep2_ini</label>
								<input type="text" id="inputModalFaixaCep2Ini" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalFaixaCep2Fim" class="form-group">
								<label class="control-label" for="inputModalFaixaCep2Fim">Faixa_cep2_fim</label>
								<input type="text" id="inputModalFaixaCep2Fim" placeholder=""  class="form-control">
							</div>
							
		
					<div class="form-actions spinner" id="spinEstado">
						<a href="javascript:void(0)" id="btnSearchEstado" class="btn btn-primary btn-large" >
							<i class="fa fa-search"></i>
							Pesquisar
						</a>
						<a href="javascript:void(0)" id="btnClearEstado" class="btn btn-info btn-large">
							<i class="fa fa-trash"></i>
							Nova Pesquisa
						</a>
					</div>
					
				<div class="row">
				<div class="col-xs-12">
					<h3 class="header smaller lighter blue">Resultados</h3>
					<div class="divTableResults" id="resultadoEstadoDiv" >
						<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
							<div id="messages_div"></div>
							<div id="grid-estado" class="table-responsive"></div>
							<div class="">
								<div id="counter-estado" class=" pull-left"></div>
								<div id="paginator-estado" class="pull-right"></div>
							</div>
						</div>
					</div>
				</div>
				</div>
				</form>				
			</div>
		</div>
	</div>
</div>

