<!-- generated: 16/10/2016 15:27:08 -->
<!-- Modal FaixaVoucher´s form -->
<div class="modal fade" id="dialogFaixaVoucher" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Pesquisa de Faixa voucher</h4>
			</div>
			<div class="modal-body">
				<form id="formSearchFaixaVoucher">
							<div id="groupInputModalSerie" class="form-group">
								<label class="control-label" for="inputModalSerie">Serie</label>
								<input type="text" id="inputModalSerie" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalNumeroInicial" class="form-group">
								<label class="control-label" for="inputModalNumeroInicial">Número inicial</label>
								<input type="text" id="inputModalNumeroInicial" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalNumeroFinal" class="form-group">
								<label class="control-label" for="inputModalNumeroFinal">Número final</label>
								<input type="text" id="inputModalNumeroFinal" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalInativo" class="form-group checkbox">
								<label class="checkbox ">
									<input id="inputModalInativo" type="checkbox" >
									Inativo
								</label>
							</div>
							
		
					<div class="form-actions spinner" id="spinFaixaVoucher">
						<a href="javascript:void(0)" id="btnSearchFaixaVoucher" class="btn btn-primary btn-large" >
							<i class="fa fa-search"></i>
							Pesquisar
						</a>
						<a href="javascript:void(0)" id="btnClearFaixaVoucher" class="btn btn-info btn-large">
							<i class="fa fa-trash"></i>
							Nova Pesquisa
						</a>
					</div>
					
				<div class="row">
				<div class="col-xs-12">
					<h3 class="header smaller lighter blue">Resultados</h3>
					<div class="divTableResults" id="resultadoFaixaVoucherDiv" >
						<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
							<div id="messages_div"></div>
							<div id="grid-faixaVoucher" class="table-responsive"></div>
							<div class="">
								<div id="counter-faixaVoucher" class=" pull-left"></div>
								<div id="paginator-faixaVoucher" class="pull-right"></div>
							</div>
						</div>
					</div>
				</div>
				</div>
				</form>				
			</div>
		</div>
	</div>
</div>

