<!-- generated: 16/10/2016 15:27:08 -->
<!-- Modal HdUsuario´s form -->
<div class="modal fade" id="dialogHdUsuario" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Pesquisa de Hd usuario</h4>
			</div>
			<div class="modal-body">
				<form id="formSearchHdUsuario">
							<div id="groupInputModalNome" class="form-group">
								<label class="control-label" for="inputModalNome">Nome</label>
								<input type="text" id="inputModalNome" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalEmail" class="form-group">
								<label class="control-label" for="inputModalEmail">Email</label>
								<input type="text" id="inputModalEmail" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalSenha" class="form-group">
								<label class="control-label" for="inputModalSenha">Senha</label>
								<input type="text" id="inputModalSenha" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalTipo" class="form-group">
								<label class="control-label" for="inputModalTipo">Tipo</label>
								<input type="text" id="inputModalTipo" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalPerfil" class="form-group">
								<label class="control-label" for="inputModalPerfil">Perfil</label>
								<input type="text" id="inputModalPerfil" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalStatusUsuario" class="form-group">
								<label class="control-label" for="inputModalStatusUsuario">Status usuario</label>
								<input type="text" id="inputModalStatusUsuario" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalDatainclusaoContainer" class="form-group">
								<label class="control-label" for="inputModalDatainclusao">Datainclusao</label>
								<div id="groupInputModalDatainclusao" class="input-group date" data-date-format="DD/MM/YYYY HH:MM">
									<input id="inputModalDatainclusao" type="text" class="form-control append-left"  />
									<div class="input-group-addon	append-right">
										<span class="fa fa-calendar"></span>
									</div>
								</div>
							</div>
							
							<div id="groupInputModalUsuarioinclusao" class="form-group">
								<label class="control-label" for="inputModalUsuarioinclusao">Usuarioinclusao</label>
								<input type="text" id="inputModalUsuarioinclusao" placeholder=""  class="form-control">
							</div>
							
		
					<div class="form-actions spinner" id="spinHdUsuario">
						<a href="javascript:void(0)" id="btnSearchHdUsuario" class="btn btn-primary btn-large" >
							<i class="fa fa-search"></i>
							Pesquisar
						</a>
						<a href="javascript:void(0)" id="btnClearHdUsuario" class="btn btn-info btn-large">
							<i class="fa fa-trash"></i>
							Nova Pesquisa
						</a>
					</div>
					
				<div class="row">
				<div class="col-xs-12">
					<h3 class="header smaller lighter blue">Resultados</h3>
					<div class="divTableResults" id="resultadoHdUsuarioDiv" >
						<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
							<div id="messages_div"></div>
							<div id="grid-hdUsuario" class="table-responsive"></div>
							<div class="">
								<div id="counter-hdUsuario" class=" pull-left"></div>
								<div id="paginator-hdUsuario" class="pull-right"></div>
							</div>
						</div>
					</div>
				</div>
				</div>
				</form>				
			</div>
		</div>
	</div>
</div>

