<!-- generated: 16/10/2016 15:27:08 -->
<!-- Modal MotoristaBloqueado´s form -->
<div class="modal fade" id="dialogMotoristaBloqueado" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Pesquisa de Motorista bloqueado</h4>
			</div>
			<div class="modal-body">
				<form id="formSearchMotoristaBloqueado">
							<div id="groupInputModalDataBloqueioContainer" class="form-group">
								<label class="control-label" for="inputModalDataBloqueio">Data bloqueio</label>
								<div id="groupInputModalDataBloqueio" class="input-group date" data-date-format="DD/MM/YYYY HH:MM">
									<input id="inputModalDataBloqueio" type="text" class="form-control append-left"  />
									<div class="input-group-addon	append-right">
										<span class="fa fa-calendar"></span>
									</div>
								</div>
							</div>
							
							<div id="groupInputModalUsuarioBloqueio" class="form-group">
								<label class="control-label" for="inputModalUsuarioBloqueio">Usuario bloqueio</label>
								<input type="text" id="inputModalUsuarioBloqueio" placeholder=""  class="form-control">
							</div>
							
		
					<div class="form-actions spinner" id="spinMotoristaBloqueado">
						<a href="javascript:void(0)" id="btnSearchMotoristaBloqueado" class="btn btn-primary btn-large" >
							<i class="fa fa-search"></i>
							Pesquisar
						</a>
						<a href="javascript:void(0)" id="btnClearMotoristaBloqueado" class="btn btn-info btn-large">
							<i class="fa fa-trash"></i>
							Nova Pesquisa
						</a>
					</div>
					
				<div class="row">
				<div class="col-xs-12">
					<h3 class="header smaller lighter blue">Resultados</h3>
					<div class="divTableResults" id="resultadoMotoristaBloqueadoDiv" >
						<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
							<div id="messages_div"></div>
							<div id="grid-motoristaBloqueado" class="table-responsive"></div>
							<div class="">
								<div id="counter-motoristaBloqueado" class=" pull-left"></div>
								<div id="paginator-motoristaBloqueado" class="pull-right"></div>
							</div>
						</div>
					</div>
				</div>
				</div>
				</form>				
			</div>
		</div>
	</div>
</div>

