<!-- generated: 16/10/2016 15:27:08 -->
<!-- Modal Motorista´s form -->
<div class="modal fade" id="dialogMotorista" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Pesquisa de Motoqueiro</h4>
			</div>
			<div class="modal-body">
				<form id="formSearchMotorista">
					<div class="row">
						<div id="groupInputModalViatura" class="form-group col-sm-3 col-md-3 col-lg-3">
							<label class="control-label" for="inputModalViatura">Viatura</label>
							<input type="text" id="inputModalViatura" placeholder=""  class="form-control">
						</div>
						<div id="groupInputModalNomeMotoqueiro" class="form-group col-sm-5 col-md-5 col-lg-5">
							<label class="control-label" for="inputModalNomeMotoqueiro">Nome</label>
							<input type="text" id="inputModalNomeMotoqueiro" placeholder=""  class="form-control">
						</div>
						
						<div id="groupInputModalNomeReduzido" class="form-group col-sm-4 col-md-4 col-lg-4">
							<label class="control-label" for="inputModalNomeReduzido">Apelido</label>
							<input type="text" id="inputModalNomeReduzido" placeholder=""  class="form-control">
						</div>
					</div>
					
					<div class="row">
						<div id="groupInputModalEmail" class="form-group col-sm-6 col-md-6 col-lg-6">
							<label class="control-label" for="inputModalEmail">E-mail</label>
							<input type="text" id="inputModalEmail" placeholder=""  class="form-control">
						</div>
						
						<div id="groupInputModalFone" class="form-group col-sm-3 col-md-3 col-lg-3">
							<label class="control-label" for="inputModalFone">Telefone</label>
							<div class="input-group">
								<span class="input-group-addon"> <i class="ace-icon fa fa-phone"></i></span> 
								<input type="text" id="inputModalFone" placeholder="" value="" class="form-control" maxlength="15">
							</div>	
						</div>
						<div id="groupInputModalStatusMotorista" class="form-group col-sm-3	col-md-3 col-lg-3">
							<label class="control-label" for="inputModalStatusMotorista">Status</label>
							<select id="inputModalStatusMotorista" placeholder=""  class="form-control">
								<option value="">-- Selecione --</option>
								<option value='A'>Ativo</option>
								<option value='I'>Inativo</option>
								<option value='S'>Suspenso</option>
							</select>
						</div>
					</div>
					<div class="form-actions spinner" id="spinMotorista">
						<a href="javascript:void(0)" id="btnSearchMotorista" class="btn btn-primary btn-large" >
							<i class="fa fa-search"></i>
							Pesquisar
						</a>
						<a href="javascript:void(0)" id="btnClearMotorista" class="btn btn-info btn-large">
							<i class="fa fa-trash"></i>
							Nova Pesquisa
						</a>
					</div>
					
				<div class="row">
				<div class="col-xs-12">
					<h3 class="header smaller lighter blue">Resultados</h3>
					<div class="divTableResults" id="resultadoMotoristaDiv" >
						<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
							<div id="messages_div"></div>
							<div id="grid-motorista" class="table-responsive"></div>
							<div class="">
								<div id="counter-motorista" class=" pull-left"></div>
								<div id="paginator-motorista" class="pull-right"></div>
							</div>
						</div>
					</div>
				</div>
				</div>
				</form>				
			</div>
		</div>
	</div>
</div>

