<!-- generated: 16/10/2016 15:27:08 -->
<!-- Modal Operation´s form -->
<div class="modal fade" id="dialogOperation" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Pesquisa de Operação</h4>
			</div>
			<div class="modal-body">
				<form id="formSearchOperation">
							<div id="groupInputModalName" class="form-group">
								<label class="control-label" for="inputModalName">Nome</label>
								<input type="text" id="inputModalName" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalCanEdit" class="form-group checkbox">
								<label class="checkbox ">
									<input id="inputModalCanEdit" type="checkbox" >
									Pode Editar
								</label>
							</div>
							
							<div id="groupInputModalCanRead" class="form-group checkbox">
								<label class="checkbox ">
									<input id="inputModalCanRead" type="checkbox" >
									Pode Ler
								</label>
							</div>
							
							<div id="groupInputModalCanUpdate" class="form-group checkbox">
								<label class="checkbox ">
									<input id="inputModalCanUpdate" type="checkbox" >
									Pode atualizar
								</label>
							</div>
							
							<div id="groupInputModalCanDelete" class="form-group checkbox">
								<label class="checkbox ">
									<input id="inputModalCanDelete" type="checkbox" >
									Pode Deletar
								</label>
							</div>
							
							<div id="groupInputModalCanExecute" class="form-group checkbox">
								<label class="checkbox ">
									<input id="inputModalCanExecute" type="checkbox" >
									Pode executar
								</label>
							</div>
							
		
					<div class="form-actions spinner" id="spinOperation">
						<a href="javascript:void(0)" id="btnSearchOperation" class="btn btn-primary btn-large" >
							<i class="fa fa-search"></i>
							Pesquisar
						</a>
						<a href="javascript:void(0)" id="btnClearOperation" class="btn btn-info btn-large">
							<i class="fa fa-trash"></i>
							Nova Pesquisa
						</a>
					</div>
					
				<div class="row">
				<div class="col-xs-12">
					<h3 class="header smaller lighter blue">Resultados</h3>
					<div class="divTableResults" id="resultadoOperationDiv" >
						<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
							<div id="messages_div"></div>
							<div id="grid-operation" class="table-responsive"></div>
							<div class="">
								<div id="counter-operation" class=" pull-left"></div>
								<div id="paginator-operation" class="pull-right"></div>
							</div>
						</div>
					</div>
				</div>
				</div>
				</form>				
			</div>
		</div>
	</div>
</div>

