<!-- generated: 16/10/2016 15:27:08 -->
<!-- Modal Pais´s form -->
<div class="modal fade" id="dialogPais" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Pesquisa de Pais</h4>
			</div>
			<div class="modal-body">
				<form id="formSearchPais">
							<div id="groupInputModalCodigo" class="form-group">
								<label class="control-label" for="inputModalCodigo">Código</label>
								<input type="text" id="inputModalCodigo" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalNome" class="form-group">
								<label class="control-label" for="inputModalNome">Nome</label>
								<input type="text" id="inputModalNome" placeholder=""  class="form-control">
							</div>
							
		
					<div class="form-actions spinner" id="spinPais">
						<a href="javascript:void(0)" id="btnSearchPais" class="btn btn-primary btn-large" >
							<i class="fa fa-search"></i>
							Pesquisar
						</a>
						<a href="javascript:void(0)" id="btnClearPais" class="btn btn-info btn-large">
							<i class="fa fa-trash"></i>
							Nova Pesquisa
						</a>
					</div>
					
				<div class="row">
				<div class="col-xs-12">
					<h3 class="header smaller lighter blue">Resultados</h3>
					<div class="divTableResults" id="resultadoPaisDiv" >
						<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
							<div id="messages_div"></div>
							<div id="grid-pais" class="table-responsive"></div>
							<div class="">
								<div id="counter-pais" class=" pull-left"></div>
								<div id="paginator-pais" class="pull-right"></div>
							</div>
						</div>
					</div>
				</div>
				</div>
				</form>				
			</div>
		</div>
	</div>
</div>

