<!-- generated: 16/10/2016 15:27:08 -->
<!-- Modal Punicao´s form -->
<div class="modal fade" id="dialogPunicao" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Pesquisa de Punicao</h4>
			</div>
			<div class="modal-body">
				<form id="formSearchPunicao">
							<div id="groupInputModalMotivo" class="form-group">
								<label class="control-label" for="inputModalMotivo">Motivo</label>
								<input type="text" id="inputModalMotivo" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalDataInicioContainer" class="form-group">
								<label class="control-label" for="inputModalDataInicio">Data inicio</label>
								<div id="groupInputModalDataInicio" class="input-group date" data-date-format="DD/MM/YYYY HH:MM">
									<input id="inputModalDataInicio" type="text" class="form-control append-left"  />
									<div class="input-group-addon	append-right">
										<span class="fa fa-calendar"></span>
									</div>
								</div>
							</div>
							
							<div id="groupInputModalDataFimContainer" class="form-group">
								<label class="control-label" for="inputModalDataFim">Data fim</label>
								<div id="groupInputModalDataFim" class="input-group date" data-date-format="DD/MM/YYYY HH:MM">
									<input id="inputModalDataFim" type="text" class="form-control append-left"  />
									<div class="input-group-addon	append-right">
										<span class="fa fa-calendar"></span>
									</div>
								</div>
							</div>
							
							<div id="groupInputModalQuantidadetempo" class="form-group">
								<label class="control-label" for="inputModalQuantidadetempo">QuantidadeTempo</label>
								<input type="text" id="inputModalQuantidadetempo" placeholder=""  class="form-control">
							</div>
							
		
					<div class="form-actions spinner" id="spinPunicao">
						<a href="javascript:void(0)" id="btnSearchPunicao" class="btn btn-primary btn-large" >
							<i class="fa fa-search"></i>
							Pesquisar
						</a>
						<a href="javascript:void(0)" id="btnClearPunicao" class="btn btn-info btn-large">
							<i class="fa fa-trash"></i>
							Nova Pesquisa
						</a>
					</div>
					
				<div class="row">
				<div class="col-xs-12">
					<h3 class="header smaller lighter blue">Resultados</h3>
					<div class="divTableResults" id="resultadoPunicaoDiv" >
						<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
							<div id="messages_div"></div>
							<div id="grid-punicao" class="table-responsive"></div>
							<div class="">
								<div id="counter-punicao" class=" pull-left"></div>
								<div id="paginator-punicao" class="pull-right"></div>
							</div>
						</div>
					</div>
				</div>
				</div>
				</form>				
			</div>
		</div>
	</div>
</div>

