<!-- generated: 16/10/2016 15:27:08 -->
<!-- Modal Session´s form -->
<div class="modal fade" id="dialogSession" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Pesquisa de Sessão</h4>
			</div>
			<div class="modal-body">
				<form id="formSearchSession">
							<div id="groupInputModalName" class="form-group">
								<label class="control-label" for="inputModalName">Nome</label>
								<input type="text" id="inputModalName" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalCreationDateContainer" class="form-group">
								<label class="control-label" for="inputModalCreationDate">Data da criação</label>
								<div id="groupInputModalCreationDate" class="input-group date" data-date-format="DD/MM/YYYY DD:MM">
									<input id="inputModalCreationDate" type="text" class="form-control append-left"  />
									<div class="input-group-addon	append-right">
										<span class="fa fa-calendar"></span>
									</div>
								</div>
							</div>
							
		
							<div id="groupInputModalUser" class="form-group">
								<label class="control-label" for="inputModalUser">Usuario</label>
								<select class="form-control" id="inputModalUser"></select>
							</div>					
					<div class="form-actions spinner" id="spinSession">
						<a href="javascript:void(0)" id="btnSearchSession" class="btn btn-primary btn-large" >
							<i class="fa fa-search"></i>
							Pesquisar
						</a>
						<a href="javascript:void(0)" id="btnClearSession" class="btn btn-info btn-large">
							<i class="fa fa-trash"></i>
							Nova Pesquisa
						</a>
					</div>
					
				<div class="row">
				<div class="col-xs-12">
					<h3 class="header smaller lighter blue">Resultados</h3>
					<div class="divTableResults" id="resultadoSessionDiv" >
						<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
							<div id="messages_div"></div>
							<div id="grid-session" class="table-responsive"></div>
							<div class="">
								<div id="counter-session" class=" pull-left"></div>
								<div id="paginator-session" class="pull-right"></div>
							</div>
						</div>
					</div>
				</div>
				</div>
				</form>				
			</div>
		</div>
	</div>
</div>

