<!-- generated: 16/10/2016 15:27:08 -->
<!-- Modal TarifaAdicional´s form -->
<div class="modal fade" id="dialogTarifaAdicional" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div id="messages_modal_div"></div>
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Pesquisa de Tarifa adicional</h4>
			</div>
			<div class="modal-body">
				<form id="formSearchTarifaAdicional">
					<div id="groupInputModalDescricao" class="form-group">
						<label class="control-label" for="inputModalDescricao">Descrição</label>
						<input type="text" id="inputModalDescricao" placeholder="" class="form-control">
					</div>
					<div id="groupInputModalValor" class="form-group">
						<label class="control-label" for="inputModalValor">Valor</label>
						<input type="text" id="inputModalValor" placeholder="" class="form-control">
					</div>
					<div class="form-actions spinner" id="spinTarifaAdicional">
						<a href="javascript:void(0)" id="btnSearchTarifaAdicional" class="btn btn-primary btn-large">
							<i class="fa fa-search"></i>
							Pesquisar
						</a>
						<a href="javascript:void(0)" id="btnClearTarifaAdicional" class="btn btn-info btn-large">
							<i class="fa fa-trash"></i>
							Nova Pesquisa
						</a>
						<a href="javascript:void(0)" class="btn btn-info btn-large " data-dismiss="modal">
							<i class="fa "></i>
							Sair
						</a>
					</div>
					<div class="row">
						<div class="col-xs-12">
							<h3 class="header smaller lighter blue">Resultados</h3>
							<div class="divTableResults" id="resultadoTarifaAdicionalDiv">
								<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
									<div id="messages_div"></div>
									<div id="grid-tarifaAdicional" class="table-responsive"></div>
									<div class="">
										<div id="counter-tarifaAdicional" class=" pull-left"></div>
										<div id="paginator-tarifaAdicional" class="pull-right"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
