<!-- generated: 16/10/2016 15:27:08 -->
<!-- Modal Tarifa´s form -->
<div class="modal fade" id="dialogTarifa" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Pesquisa de Tarifa</h4>
			</div>
			<div class="modal-body">
				<form id="formSearchTarifa">
							<div id="groupInputModalBairroOrigem" class="form-group">
								<label class="control-label" for="inputModalBairroOrigem">Bairro origem</label>
								<input type="text" id="inputModalBairroOrigem" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalBairroDestino" class="form-group">
								<label class="control-label" for="inputModalBairroDestino">Bairro destino</label>
								<input type="text" id="inputModalBairroDestino" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalValor" class="form-group">
								<label class="control-label" for="inputModalValor">Valor</label>
								<input type="text" id="inputModalValor" placeholder=""  class="form-control">
							</div>
							
		
					<div class="form-actions spinner" id="spinTarifa">
						<a href="javascript:void(0)" id="btnSearchTarifa" class="btn btn-primary btn-large" >
							<i class="fa fa-search"></i>
							Pesquisar
						</a>
						<a href="javascript:void(0)" id="btnClearTarifa" class="btn btn-info btn-large">
							<i class="fa fa-trash"></i>
							Nova Pesquisa
						</a>
						
					</div>
					
				<div class="row">
				<div class="col-xs-12">
					<h3 class="header smaller lighter blue">Resultados</h3>
					<div class="divTableResults" id="resultadoTarifaDiv" >
						<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
							<div id="messages_div"></div>
							<div id="grid-tarifa" class="table-responsive"></div>
							<div class="">
								<div id="counter-tarifa" class=" pull-left"></div>
								<div id="paginator-tarifa" class="pull-right"></div>
							</div>
						</div>
					</div>
				</div>
				</div>
				</form>				
			</div>
		</div>
	</div>
</div>

