<!-- generated: 16/10/2016 15:27:08 -->
<!-- Modal User´s form -->
<div class="modal fade" id="dialogUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Pesquisa de Usuário</h4>
			</div>
			<div class="modal-body">
				<form id="formSearchUser">
							<div id="groupInputModalName" class="form-group">
								<label class="control-label" for="inputModalName">Nome</label>
								<input type="text" id="inputModalName" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalUsername" class="form-group">
								<label class="control-label" for="inputModalUsername">Username</label>
								<input type="text" id="inputModalUsername" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalPassword" class="form-group">
								<label class="control-label" for="inputModalPassword">Password</label>
								<input type="text" id="inputModalPassword" placeholder=""  class="form-control">
							</div>
							
							<div id="groupInputModalEnable" class="form-group checkbox">
								<label class="checkbox ">
									<input id="inputModalEnable" type="checkbox" >
									Ativo
								</label>
							</div>
							
		
					<div class="form-actions spinner" id="spinUser">
						<a href="javascript:void(0)" id="btnSearchUser" class="btn btn-primary btn-large" >
							<i class="fa fa-search"></i>
							Pesquisar
						</a>
						<a href="javascript:void(0)" id="btnClearUser" class="btn btn-info btn-large">
							<i class="fa fa-trash"></i>
							Nova Pesquisa
						</a>
					</div>
					
				<div class="row">
				<div class="col-xs-12">
					<h3 class="header smaller lighter blue">Resultados</h3>
					<div class="divTableResults" id="resultadoUserDiv" >
						<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline no-footer">
							<div id="messages_div"></div>
							<div id="grid-user" class="table-responsive"></div>
							<div class="">
								<div id="counter-user" class=" pull-left"></div>
								<div id="paginator-user" class="pull-right"></div>
							</div>
						</div>
					</div>
				</div>
				</div>
				</form>				
			</div>
		</div>
	</div>
</div>

