<!-- MotoristaBloqueado´s form -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Formulário de cadastro de Motoqueiro bloqueado</li>
	</ul>
</div>
<div class="col-sm-12 page-form ">
	<div id="messages_div"></div>				
	<div class="widget-box transparent_">
		<div class="widget-header ">
			<h4 class="widget-title ">
				<i class="ace-icon fa fa-suitcase"></i>
				Cliente
			</h4>
		</div>
		<div class="widget-body">
			<div class="widget-main ">
				<div class="row">
					<!-- inicio dos registros-->
					<div id="groupInputNomeFantasia" class="form-group col-sm-3 col-md-3 col-lg-3">
						<label class="control-label" for="inputNomeFantasia">Nome Fantasia</label>
						<input readonly type="text" id="inputNomeFantasia" placeholder="" class="form-control">
					</div>
					<div id="groupInputCnpj" class="form-group col-sm-3 col-md-3 col-lg-3">
						<label class="control-label" for="inputCnpj">CNPJ</label>
						<input readonly type="text" id="inputCnpj" placeholder="" class="form-control">
					</div>
					<div id="groupInputContrato" class="form-group col-sm-3 col-md-3 col-lg-3">
						<label class="control-label" for="inputContrato">Contrato</label>
						<input readonly type="text" id="inputContrato" placeholder="" class="form-control">
					</div>
					<div id="groupInputRazaoSocial" class="form-group col-sm-3 col-md-3 col-lg-3">
						<label class="control-label" for="inputRazaoSocial">Razão social</label>
						<input readonly type="text" id="inputRazaoSocial" placeholder="" class="form-control">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box transparent_  ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-wpforms"></i>
						Formulário de cadastro de Motoqueiro bloqueado
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<form role="form" id="formMotoristaBloqueado">
							<input type="hidden" id="inputId" value="{{id}}">
							<div class="row">
								<div id="groupInputMotoristaContainer" class="form-group col-sm-4 col-md-4 col-lg-4">
									<label class="control-label" for="inputMotorista">Motoqueiro *</label>
									<div id="groupInputMotorista" class="input-group">
										<input id="inputMotoristaId" type="hidden" class="form-control append-left validate[required]" value="{{motorista && motorista.id}}" />
										<input id="inputMotoristaNome" placeholder="Escolha um Motorista"  type="text" class="form-control append-left validate[required]" value="{{motorista && motorista.nome}}" />
										<div class="input-group-addon append-right" id="searchMotoristaModal" data-toggle="modal">
											<span class="fa fa-search"></span>
										</div>
									</div>
								</div>		
							</div>
						</form>
					</div>
				</div>
				<div class="">
					<div class="clearfix form-actions">
						<a href="javascript:void(0)" id="save"  class="save btn btn-primary">
							<i class="ace-icon save fa fa-check bigger-110"></i>
							Salvar
						</a>
						<a href="javascript:void(0)" class=" saveAndContinue  btn btn-info" style="display: {{ id ? 'none' : 'inline-block' }} ">
							<i class="ace-icon fa fa-check bigger-110"></i>
							Salvar e Continuar
						</a>
						<a class="go-back-link btn btn-light" href="javascript:void(-1)">
							<i class="ace-icon fa fa-undo bigger-110"></i>
							Voltar para a listagem
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<div id='empresaModal'></div>
<div id='motoristaModal'></div>
