<!-- Plantao´s form -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Formulário de cadastro de Plantao</li>
	</ul>
</div>
<div class="col-sm-12 page-form ">
	<div id="messages_div"></div>				
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box transparent_  ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-wpforms"></i>
						Formulário de cadastro de Plantao
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<form role="form" id="formPlantao">
							<input type="hidden" id="inputId" value="{{id}}">
							<div id="groupInputDataInicioContainer" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputDataInicio">Data inicio  </label>
								<div id="groupInputDataInicio" class="input-group date" data-date-format="DD/MM/YYYY HH:MM">
									<input id="inputDataInicio" placeholder="Escolha ou digite uma data." type="text" class="form-control   append-left" value="{{dataInicio}}" />
									<div class="input-group-addon	append-right">
										<span class="fa fa-calendar"></span>
									</div>
								</div>
							</div>
							<div id="groupInputDataFimContainer" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputDataFim">Data fim  </label>
								<div id="groupInputDataFim" class="input-group date" data-date-format="DD/MM/YYYY HH:MM">
									<input id="inputDataFim" placeholder="Escolha ou digite uma data." type="text" class="form-control   append-left" value="{{dataFim}}" />
									<div class="input-group-addon	append-right">
										<span class="fa fa-calendar"></span>
									</div>
								</div>
							</div>
					</form>
				</div>
			</div>
			<div class="">
				<div class="clearfix form-actions">
					<a href="javascript:void(0)" id="save"  class="save btn btn-primary">
						<i class="ace-icon save fa fa-check bigger-110"></i>
						Salvar
					</a>
					&nbsp; &nbsp; &nbsp;
					<a href="javascript:void(0)" class=" saveAndContinue  btn btn-info" style="display: {{ id ? 'none' : 'inline-block' }} ">
						<i class="ace-icon fa fa-check bigger-110"></i>
						Salvar e Continuar
					</a>
					&nbsp; &nbsp; &nbsp;
					<a class="go-back-link btn btn-light" href="#app/plantaos">
						<i class="ace-icon fa fa-undo bigger-110"></i>
						Voltar para a listagem
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
