<!-- Motorista´s form -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Formulário de cadastro de Motoqueiro</li>
	</ul>
</div>
<div class="col-sm-12 page-form ">
	<div id="messages_div"></div>
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box transparent_  ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-wpforms"></i>
						Formulário de cadastro de Motoqueiro
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<form role="form" id="formMotorista">
							<input type="hidden" id="inputId" value="{{id}}">
							<h4 class="header smaller blue">Fotos</h4>
							<div class="row">
								<div id="groupInputFoto1" class="form-group col-sm-3	col-md-3	col-lg-3  ">
									<label class="control-label" for="inputFoto1">Foto1 </label>
									<span class="foto1"> </span>
									<input type="text" id="inputFoto1" placeholder="" value="{{foto1}}" class="form-control   " maxlength="100" style="display: none">
								</div>
								<div id="groupInputFoto2" class="form-group col-sm-3	col-md-3	col-lg-3  ">
									<label class="control-label" for="inputFoto2">Foto2 </label>
									<span class="foto2"> </span>
									<input type="text" id="inputFoto2" placeholder="" value="{{foto2}}" class="form-control   " maxlength="100" style="display: none">
								</div>
								<div id="groupInputFoto3" class="form-group col-sm-3	col-md-3	col-lg-3  ">
									<label class="control-label" for="inputFoto3">Foto3 </label>
									<span class="foto3"> </span>
									<input type="text" id="inputFoto3" placeholder="" value="{{foto3}}" class="form-control   " maxlength="100" style="display: none">
								</div>
							</div>
							<h4 class="header smaller blue">Dados Pessoais</h4>
							<div class="row">
								<div id="groupInputViatura" class="form-group col-sm-2 col-md-2 col-lg-2">
									<label class="control-label" for="inputViatura">N. Viatura</label>
									<input type="text" id="inputViatura" placeholder="" value="{{viatura}}" class="form-control" maxlength="10">
								</div>
								<div id="groupInputNome" class="form-group col-sm-4	col-md-4 col-lg-4">
									<label class="control-label" for="inputNome">Nome *</label>
									<input type="text" id="inputNome" placeholder="" value="{{nome}}" class="form-control validate[required]" maxlength="200">
								</div>
								<div id="groupInputNomeReduzido" class="form-group col-sm-2	col-md-2	col-lg-2  ">
									<label class="control-label" for="inputNomeReduzido">Apelido </label>
									<input type="text" id="inputNomeReduzido" placeholder="" value="{{nomeReduzido}}" class="form-control " maxlength="50">
								</div>
								<div id="groupInputEmail" class="form-group col-sm-4	col-md-4	col-lg-4  ">
									<label class="control-label" for="inputEmail">E-mail</label>
									<input type="text" id="inputEmail" placeholder="" value="{{email}}" class="form-control validate[custom[email]]" maxlength="100">
								</div>
							</div>
							<div class="row">
								<div id="groupInputMae" class="form-group col-sm-4	col-md-4	col-lg-4  ">
									<label class="control-label" for="inputMae">Nome da Mãe *</label>
									<input type="text" id="inputMae" placeholder="" value="{{mae}}" class="form-control validate[required]" maxlength="200">
								</div>
								<div id="groupInputPai" class="form-group col-sm-4	col-md-4	col-lg-4  ">
									<label class="control-label" for="inputPai">Nome do Pai </label>
									<input type="text" id="inputPai" placeholder="" value="{{pai}}" class="form-control   " maxlength="200">
								</div>
								<div id="groupInputConjuge" class="form-group col-sm-4	col-md-4	col-lg-4  ">
									<label class="control-label" for="inputConjuge">Cônjuge </label>
									<input type="text" id="inputConjuge" placeholder="" value="{{conjuge}}" class="form-control   " maxlength="200">
								</div>
							</div>
							<div class="row">
								<div id="groupInputRg" class="form-group col-sm-3	col-md-3	col-lg-3  ">
									<label class="control-label" for="inputRg">RG *</label>
									<input type="text" id="inputRg" placeholder="" value="{{rg}}" class="form-control   " maxlength="15">
								</div>
								<div id="groupInputOrgaoExpedidor" class="form-group col-sm-3	col-md-3	col-lg-3  ">
									<label class="control-label" for="inputOrgaoExpedidor">Órgao expedidor *</label>
									<input type="text" id="inputOrgaoExpedidor" placeholder="" value="{{orgaoExpedidor}}" class="form-control validate[required]" maxlength="10">
								</div>
								<!-- <div id="groupInputDataExpedicaoContainer" class="form-group col-sm-3	col-md-3	col-lg-3  ">
									<label class="control-label" for="inputDataExpedicao">Data expedicao *</label>
									<div id="groupInputDataExpedicao" class="input-group date" data-date-format="DD/MM/YYYY">
										<input id="inputDataExpedicao" placeholder="Escolha ou digite uma data." type="text" class="form-control append-left validate[required]" value="{{dataExpedicao}}" />
										<div class="input-group-addon	append-right">
											<span class="fa fa-calendar"></span>
										</div>
									</div>
									</div> -->
								<div id="groupInputDataNascimentoContainer" class="form-group col-sm-3	col-md-3	col-lg-3  ">
									<label class="control-label" for="inputDataNascimento">Data nascimento *</label>
									<div id="groupInputDataNascimento" class="input-group date" data-date-format="DD/MM/YYYY">
										<input id="inputDataNascimento" placeholder="Escolha ou digite uma data." type="text" class="form-control append-left validate[required]" value="{{dataNascimento}}" />
										<div class="input-group-addon	append-right">
											<span class="fa fa-calendar"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div id="groupInputNaturalidade" class="form-group col-sm-3	col-md-3	col-lg-3  ">
									<label class="control-label" for="inputNaturalidade">Naturalidade *</label>
									<input type="text" id="inputNaturalidade" placeholder="" value="{{naturalidade}}" class="form-control validate[required]" maxlength="50">
								</div>
								<div id="groupInputCpf" class="form-group col-sm-3 col-md-3 col-lg-3">
									<label class="control-label" for="inputCpf">CPF *</label>
									<input type="text" id="inputCpf" placeholder="" value="{{cpf}}" class="form-control validate[required]" maxlength="14">
								</div>
							</div>
							<div class="row">
								<div id="groupInputCnh" class="form-group col-sm-2	col-md-2	col-lg-2  ">
									<label class="control-label" for="inputCnh">CNH *</label>
									<input type="text" id="inputCnh" placeholder="" value="{{cnh}}" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control validate[required]" maxlength="12">
								</div>
								<div id="groupInputEmissaoCnhContainer" class="form-group col-sm-3 col-md-3 col-lg-3">
									<label class="control-label" for="inputEmissaoCnh">Emissão *</label>
									<div id="groupInputEmissaoCnh" class="input-group date" data-date-format="DD/MM/YYYY">
										<input id="inputEmissaoCnh" placeholder="Escolha ou digite uma data." type="text" class="form-control append-left validate[required]" value="{{emissaoCnh}}" />
										<div class="input-group-addon	append-right">
											<span class="fa fa-calendar"></span>
										</div>
									</div>
								</div>
								<div id="groupInputCategoriaCnh" class="form-group col-sm-2	col-md-2 col-lg-2">
									<label class="control-label" for="inputCategoriaCnh">Categoria *</label>
									<select type="text" id="inputCategoriaCnh" placeholder="" value="{{categoriaCnh}}" class="form-control validate[required]" maxlength="2">
										<option value="">-- Selecione --</option>
										<option value='A' {{categoriaCnh !=null && categoriaCnh=="A" ? 'selected' :''}}>A</option>
										<option value='B' {{categoriaCnh !=null && categoriaCnh=="B" ? 'selected' :''}}>B</option>
										<option value='AB' {{categoriaCnh !=null && categoriaCnh=="AB" ? 'selected' :''}}>AB</option>
										<option value='AC' {{categoriaCnh !=null && categoriaCnh=="AC" ? 'selected' :''}}>AC</option>
										<option value='AD' {{categoriaCnh !=null && categoriaCnh=="AD" ? 'selected' :''}}>AD</option>
										<option value='AE' {{categoriaCnh !=null && categoriaCnh=="AE" ? 'selected' :''}}>AE</option>
									</select>
								</div>
								<div id="groupInputValidadeCnhContainer" class="form-group col-sm-3 col-md-3 col-lg-3">
									<label class="control-label" for="inputValidadeCnh">Validade *</label>
									<div id="groupInputValidadeCnh" class="input-group date" data-date-format="DD/MM/YYYY">
										<input id="inputValidadeCnh" placeholder="Escolha ou digite uma data." type="text" class="form-control append-left validate[required]" value="{{validadeCnh}}" />
										<div class="input-group-addon	append-right">
											<span class="fa fa-calendar"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div id="groupInputStatusMotorista" class="form-group col-sm-3	col-md-3	col-lg-3  ">
									<label class="control-label" for="inputStatusMotorista">Status motorista *</label>
									<select type="text" id="inputStatusMotorista" placeholder="" value="{{statusMotorista}}" class="form-control   " maxlength="20">
										<option value="">-- Selecione --</option>
										<option value='Ativo' {{statusMotorista !=null && statusMotorista=="Ativo" ? 'selected' :''}}>Ativo</option>
										<option value='Inativo' {{statusMotorista !=null && statusMotorista=="Inativo" ? 'selected' :''}}>Inativo</option>
										<option value='Suspenso' {{statusMotorista !=null && statusMotorista=="Suspenso" ? 'selected' :''}}>Suspenso</option>
									</select>
								</div>
								<div id="groupInputFone" class="form-group col-sm-3	col-md-3 col-lg-3">
									<label class="control-label" for="inputFone">Telefone *</label>
									<div class="input-group">
										<span class="input-group-addon">
											<i class="ace-icon fa fa-phone"></i>
										</span>
										<input type="text" id="inputFone" placeholder="" value="{{ fone ? fone : '(85)' }}" class="form-control validate[required, minSize[11]]" maxlength="15">
									</div>
								</div>
								<div id="groupInputFone2" class="form-group col-sm-3 col-md-3 col-lg-3  ">
									<label class="control-label" for="inputFone">Telefone </label>
									<div class="input-group">
										<span class="input-group-addon">
											<i class="ace-icon fa fa-phone"></i>
										</span>
										<input type="text" id="inputFone2" placeholder="" value="{{ fone2 ? fone2 : '(85)' }}" class="form-control " maxlength="15">
									</div>
								</div>
								<div id="groupInputFone2" class="form-group col-sm-3 col-md-3 col-lg-3  ">
									<label class="control-label" for="inputFone">Whatsapp *</label>
									<div class="input-group">
										<span class="input-group-addon">
											<i class="ace-icon fa fa-phone"></i>
										</span>
										<input type="text" id="inputWhatsapp" placeholder="" value="{{ whatsapp ? whatsapp : '(85)' }}" class="form-control validate[required, minSize[11]]" maxlength="15">
									</div>
								</div>
								<div id="groupInputImei" class="form-group col-sm-3	col-md-3	col-lg-3  ">
									<label class="control-label" for="inputImei">IMEI *</label>
									<input type="text" id="inputImei" placeholder="" value="{{imei}}" class="form-control validate[required]" maxlength="20">
								</div>
								<div id="groupInputSenha" class="form-group col-sm-3 col-md-3 col-lg-3">
									<label class="control-label" for="inputSenha">Senha *</label>
									<input type="text" id="inputSenha" placeholder="" value="{{senha}}" class="form-control  validate[required, minSize[6]] " maxlength="100">
								</div>
							</div>
							<h4 class="header smaller blue">Dados Do Veículo</h4>
							<div class="row">
								<div id="groupInputMarcaVeiculo" class="form-group col-sm-3	col-md-3	col-lg-3  ">
									<label class="control-label" for="inputMarcaVeiculo">Marca *</label>
									<input type="text" id="inputMarcaVeiculo" placeholder="" value="{{marcaVeiculo}}" class="form-control validate[required]" maxlength="20">
								</div>
								<div id="groupInputModeloVeiculo" class="form-group col-sm-3	col-md-3	col-lg-3  ">
									<label class="control-label" for="inputModeloVeiculo">Modelo *</label>
									<input type="text" id="inputModeloVeiculo" placeholder="" value="{{modeloVeiculo}}" class="form-control validate[required]" maxlength="50">
								</div>
								<div id="groupInputPlacaVeiculo" class="form-group col-sm-2	col-md-2	col-lg-2  ">
									<label class="control-label" for="inputPlacaVeiculo">Placa *</label>
									<input type="text" id="inputPlacaVeiculo" placeholder="" value="{{placaVeiculo}}" class="form-control validate[required]" maxlength="8">
								</div>
								<div id="groupInputCorVeiculo" class="form-group col-sm-2	col-md-2	col-lg-2  ">
									<label class="control-label" for="inputCorVeiculo">Cor *</label>
									<input type="text" id="inputCorVeiculo" placeholder="" value="{{corVeiculo}}" class="form-control validate[required]" maxlength="20">
								</div>
								<div id="groupInputAnoVeiculo" class="form-group col-sm-2	col-md-2	col-lg-2  ">
									<label class="control-label" for="inputAnoVeiculo">Ano *</label>
									<input type="text" id="inputAnoVeiculo" placeholder="" value="{{anoVeiculo}}" class="form-control validate[required]" maxlength="4">
								</div>
							</div>
							<div class="row">
								<div id="groupInputRenavam" class="form-group col-sm-2	col-md-2	col-lg-2  ">
									<label class="control-label" for="inputRenavam">Renavam *</label>
									<input type="text" id="inputRenavam" placeholder="" value="{{renavam}}" onkeypress='return event.charCode >= 48 && event.charCode <= 57' class="form-control validate[required]" maxlength="20">
								</div>
								<div id="groupInputChassi" class="form-group col-sm-2	col-md-2	col-lg-2  ">
									<label class="control-label" for="inputChassi">Chassi *</label>
									<input type="text" id="inputChassi" placeholder="" value="{{chassi}}" class="form-control validate[required]" maxlength="20">
								</div>
								<div id="groupInputCategoria" class="form-group col-sm-2	col-md-2	col-lg-2  ">
									<label class="control-label" for="inputCategoria">Categoria *</label>
									<select type="text" id="inputCategoria" placeholder="" value="{{categoria}}" class="form-control validate[required]" maxlength="20">
										<option value="">-- Selecione --</option>
										<option value='Aluguel' {{categoria !=null && categoria=="Aluguel" ? 'selected' :''}}>Aluguel</option>
										<option value='Particular' {{categoria !=null && categoria=="Particular" ? 'selected' :''}}>Particular</option>
									</select>
								</div>
								<div id="groupInputPadronizada" class="form-group col-sm-2	col-md-2	col-lg-2   block  checkbox">
									<label class=" block checkbox ">
										<input id="inputPadronizada" type="checkbox" {{padronizada ? 'checked' :''}} class="ace input-lg">
										<span class="lbl "> Padronizada</span>
									</label>
								</div>
								<div id="groupInputBau" class="form-group col-sm-2	col-md-2	col-lg-2   block   checkbox">
									<label class="checkbox ">
										<input id="inputBau" type="checkbox" {{bau ? 'checked' :''}} class="ace input-lg">
										<span class="lbl "> Bau</span>
									</label>
								</div>
								<div id="groupInputMotoGrande" class="form-group col-sm-2	col-md-2	col-lg-2  block   checkbox">
									<label class=" block checkbox ">
										<input id="inputMotoGrande" type="checkbox" {{motoGrande ? 'checked' :''}} class="ace input-lg">
										<span class="lbl "> Moto grande </span>
									</label>
								</div>
							</div>
							<h4 class="header smaller blue">Endereço</h4>
							<div class="row">
								<div class="form-group col-sm-12">
									<label>Endereço (com Número)</label>
									<input type="text" class="inputEnderecoCombo form-control" value=''>
								</div>
							</div>
							<div class="row">
								<div id="groupInputEndereco" class="form-group col-sm-3	col-md-3	col-lg-3  ">
									<label class="control-label" for="inputEndereco">Logradouro *</label>
									<input type="text" id="inputEndereco" placeholder="" value="{{endereco}}" class="form-control validate[required]" maxlength="200">
								</div>
								<div id="groupInputNumeroEndereco" class="form-group col-sm-2 col-md-2 col-lg-2">
									<label class="control-label" for="inputNumeroEndereco">Número *</label>
									<input type="text" id="inputNumeroEndereco" placeholder="" value="{{numeroEndereco}}" class="form-control validate[required]" maxlength="10">
								</div>
								<div id="groupInputComplemento" class="form-group col-sm-3	col-md-3	col-lg-3  ">
									<label class="control-label" for="inputComplemento">Complemento </label>
									<input type="text" id="inputComplemento" placeholder="" value="{{complemento}}" class="form-control" maxlength="200">
								</div>
								<div id="groupInputCep" class="form-group col-sm-2	col-md-2	col-lg-2  ">
									<label class="control-label" for="inputCep">Cep *</label>
									<input type="text" id="inputCep" placeholder="" value="{{cep}}" class="form-control validate[required]" maxlength="10">
								</div>
							</div>
							<div class="row">
								<div id="groupInputBairro" class="form-group col-sm-3	col-md-3	col-lg-3  ">
									<label class="control-label" for="inputBairro">Bairro *</label>
									<input type="text" id="inputBairro" placeholder="" value="{{bairro}}" class="form-control validate[required]" maxlength="100">
								</div>
								<div id="groupInputCidade" class="form-group col-sm-3	col-md-3	col-lg-3  ">
									<label class="control-label" for="inputCidade">Cidade *</label>
									<input type="text" id="inputCidade" placeholder="" value="{{cidade}}" class="form-control validate[required]" maxlength="50">
								</div>
								<div id="groupInputUf" class="form-group col-sm-2	col-md-2	col-lg-2  ">
									<label class="control-label" for="inputUf">UF *</label>
									<input type="text" id="inputUf" placeholder="" value="{{uf}}" class="form-control validate[required]" maxlength="2">
								</div>
								<div id="groupInputReferenciaEndereco" class="form-group col-sm-4	col-md-4	col-lg-4  ">
									<label class="control-label" for="inputReferenciaEndereco">Referencia </label>
									<input type="text" id="inputReferenciaEndereco" placeholder="" value="{{referenciaEndereco}}" class="form-control   " maxlength="200">
								</div>
							</div>
							<h4 class="header smaller blue">Referências Pessoais</h4>
							<div class="row">
								<div id="groupInputReferenciaPessoal1" class="form-group col-sm-6	col-md-6	col-lg-6  ">
									<label class="control-label" for="inputReferenciaPessoal1">Nome *</label>
									<input type="text" id="inputReferenciaPessoal1" placeholder="" value="{{referenciaPessoal1}}" class="form-control validate[required]" maxlength="200">
								</div>
								<div id="groupInputParentescoReferencia1" class="form-group col-sm-3	col-md-3	col-lg-3  ">
									<label class="control-label" for="inputParentescoReferencia1">Parentesco *</label>
									<input type="text" id="inputParentescoReferencia1" placeholder="" value="{{parentescoReferencia1}}" class="form-control validate[required]" maxlength="20">
								</div>
								<div id="groupInputFoneReferencia1" class="form-group col-sm-3	col-md-3	col-lg-3  ">
									<label class="control-label" for="inputFoneReferencia1">Telefone *</label>
									<div class="input-group">
										<span class="input-group-addon">
											<i class="ace-icon fa fa-phone"></i>
										</span>
										<input type="text" id="inputFoneReferencia1" placeholder="" value="{{ foneReferencia1 ? foneReferencia1 : '(85)' }}" class="form-control validate[required, minSize[11]]" maxlength="15">
									</div>
								</div>
							</div>
							<div class="row">
								<div id="groupInputReferenciaPessoal2" class="form-group col-sm-6	col-md-6	col-lg-6  ">
									<label class="control-label" for="inputReferenciaPessoal2">Nome *</label>
									<input type="text" id="inputReferenciaPessoal2" placeholder="" value="{{referenciaPessoal2}}" class="form-control validate[required]" maxlength="200">
								</div>
								<div id="groupInputParentescoReferencia2" class="form-group col-sm-3	col-md-3	col-lg-3  ">
									<label class="control-label" for="inputParentescoReferencia2">Parentesco *</label>
									<input type="text" id="inputParentescoReferencia2" placeholder="" value="{{parentescoReferencia2}}" class="form-control validate[required]" maxlength="20">
								</div>
								<div id="groupInputFoneReferencia2" class="form-group col-sm-3	col-md-3	col-lg-3  ">
									<label class="control-label" for="inputFoneReferencia2">Telefone *</label>
									<div class="input-group">
										<span class="input-group-addon">
											<i class="ace-icon fa fa-phone"></i>
										</span>
										<input type="text" id="inputFoneReferencia2" placeholder="" value="{{ foneReferencia2 ? foneReferencia2 : '(85)' }}" class="form-control validate[required, minSize[11]]" maxlength="15">
									</div>
								</div>
							</div>
							<h4 class="header smaller blue">Informações adicionais</h4>
							<div class="row">
								<div id="groupInputObservacao" class="form-group col-sm-6	col-md-6	col-lg-6">
									<label class="control-label" for="inputObservacao">Observação</label>
									<textarea rows="3" id="inputObservacao" placeholder="Observação Motorista" value="{{observacao}}" class="form-control  " maxlength="1000">{{observacao}} </textarea>
								</div>
							</div>
							<div class="row">
								<div id="groupInputCartaoCredito" class="form-group col-sm-2	col-md-2	col-lg-2  block   checkbox">
									<label class=" block checkbox ">
										<input id="inputCartaoCredito" type="checkbox" {{cartaoCredito ? 'checked' :''}} class="ace input-lg">
										<span class="lbl "> Cartao credito</span>
									</label>
								</div>
								<div id="groupInputVoucher" class="form-group col-sm-2	col-md-2	col-lg-2  block   checkbox">
									<label class="checkbox ">
										<input id="inputVoucher" type="checkbox" {{voucher ? 'checked' :''}} class="ace input-lg">
										<span class="lbl "> Voucher</span>
									</label>
								</div>
								<div id="groupInputEticket" class="form-group col-sm-2	col-md-2	col-lg-2 block    checkbox">
									<label class=" block checkbox ">
										<input id="inputEticket" type="checkbox" {{eticket ? 'checked' :''}} class="ace input-lg">
										<span class="lbl "> Eticket</span>
									</label>
								</div>
								<div id="groupInputCartaoDebito" class="form-group col-sm-2	col-md-2	col-lg-2  block   checkbox">
									<label class=" block checkbox ">
										<input id="inputCartaoDebito" type="checkbox" {{cartaoDebito ? 'checked' :''}} class="ace input-lg">
										<span class="lbl "> Cartao débito </span>
									</label>
								</div>
							</div>
							<!--<div id="groupInputSenha" class="form-group col-sm-2	col-md-2	col-lg-2  ">
								<label class="control-label" for="inputSenha">Senha </label>
								<input type="text" id="inputSenha" placeholder="" value="{{senha}}" class="form-control   " maxlength="100">
								</div> -->
					</div>
					</form>
				</div>
			</div>
			<div class="">
				<div class="clearfix form-actions">
					<a id="save" href="javascript:void(0)" id="save" class="save btn btn-primary" style="display:none;">
						<i class="ace-icon save fa fa-check bigger-110"></i>
						Salvar
					</a>
					<a id="saveContinue" href="javascript:void(0)" class=" saveAndContinue  btn btn-info" style="display:none;">
						<i class="ace-icon fa fa-check bigger-110"></i>
						Salvar e Continuar
					</a>
					<a class="go-back-link btn btn-light" href="#app/motoristas">
						<i class="ace-icon fa fa-undo bigger-110"></i>
						Voltar para a listagem
					</a>
				</div>
			</div>
		</div>
	</div>
</div>