<!-- generated: 18/10/2016 23:48:44 -->
<!-- Motorista´s page -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Pesquisa Motoqueiro</li>
	</ul>
</div>
<div class="col-sm-12 page-form">
	<div id="messages_div"></div>
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-search"></i>
						Pesquisa de Motoqueiro
					</h4>
				</div>
				<div class="widget-body">
					<form id="formMotoristaFilter">
						<div class="widget-main  ">
							<div class="row">
								<div class="col-xs-6">
									<a id="new" href="#app/newMotorista" class="btn btn-success" style="display:none;">
										<i class="fa fa-plus-circle"></i>
										Novo Registro
									</a>
									<a href="javascript:void(0)" id="reset" class="btn reset" >Limpar</a>
								</div>
								<div class="col-sm-6">
									<div class="input-group">
										<input id="inputNome" type="text" class="form-control search-query" placeholder="Pesquisar Motoqueiro por Nome">
										<span id="query" class="input-group-btn ">
											<button type="button" class="btn btn-inverse btn-white search-button">
												<span class="ace-icon fa fa-search icon-on-right bigger-110 "></span>
												Pesquisar
											</button>
										</span>
									</div>
									<div>
										<a href="javascript:void(-1)" class="show-advanced-search-button"> Pesquisa avançada... </a>
									</div>
								</div>
							</div>
							<div class="widget-box transparent advanced-search-form">
								<div class="widget-header">
									<h4 class="widget-title lighter">Filtros avançados</h4>
								</div>
								<div class="widget-body">
								<!-- inicio dos registros-->							
									<div class="row">
										<div id="groupInputNome" class="form-group col-sm-3 col-md-3 col-lg-3">
											<label class="control-label" for="inputAvancadoNome">Nome</label>
											<input type="text" id="inputAvancadoNomeMotorista" placeholder=""  class="form-control">
										</div>
										<!-- <div id="groupInputNomeReduzido" class="form-group col-sm-3 col-md-3 col-lg-3">
											<label class="control-label" for="inputNomeReduzido">Nome reduzido</label>
											<input type="text" id="inputNomeReduzido" placeholder=""  class="form-control">
										</div> -->
										<div id="groupInputViatura" class="form-group col-sm-3 col-md-3 col-lg-3">
											<label class="control-label" for="inputViatura">Viatura</label>
											<input type="text" id="inputViatura" placeholder=""  class="form-control">
										</div>
										<div id="groupInputEmail" class="form-group col-sm-3 col-md-3 col-lg-3">
											<label class="control-label" for="inputEmail">E-mail</label>
											<input type="text" id="inputEmail" placeholder=""  class="form-control">
										</div>
										<div id="groupInputFone" class="form-group col-sm-3 col-md-3 col-lg-3">
											<label class="control-label" for="inputFone">Telefone</label>
											<input type="text" id="inputFone" placeholder=""  class="form-control">
										</div>
									</div>
									<div class="row">
										<div id="groupInputStatusMotorista" class="form-group  col-sm-2	col-md-2	col-lg-2">
											<label class="control-label" for="inputStatusMotorista">Status *</label>
											<select type="text" id="inputStatusMotorista" class="form-control">
												<option value="">-- Selecione --</option>
												<option value='Ativo'>Ativo</option>
												<option value='Inativo'>Inativo</option>
												<option value='Suspenso'>Suspenso</option>
											</select>
										</div>
									</div>
									<div class=" ">
										<button type="button" class="btn btn-info btn-sm search-button">
											<i class="ace-icon fa fa-search bigger-110"></i>
											Pesquisar
										</button>
									</div>
								</div>
							</div>
							<div id="counter" class="pull-left"></div>
							<div class="row center">
								<div class="col-xs-12">
									<div class="widget-box transparent ">
										<div class="widget-body">
											<div class="widget-main padding-0">
												<div id="messages_div"></div>
												<div id="grid" class="table-responsive"></div>
												<div class="row">
													<div id="paginator" class=""></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

