<!-- EnderecoCorrida´s form -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Formulário de cadastro de Endereco corrida</li>
	</ul>
</div>
<div class="col-sm-12 page-form ">
	<div id="messages_div"></div>				
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box transparent_  ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-wpforms"></i>
						Formulário de cadastro de Endereco corrida
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<form role="form" id="formEnderecoCorrida">
							<input type="hidden" id="inputId" value="{{id}}">
							<div id="groupInputEndereco" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputEndereco">Endereco  </label>
								<input type="text"  id="inputEndereco" placeholder="" value="{{endereco}}" class="form-control   "  maxlength="200" >
							</div>
							<div id="groupInputNumero" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputNumero">Numero  </label>
								<input type="text"  id="inputNumero" placeholder="" value="{{numero}}" class="form-control   "  maxlength="10" >
							</div>
							<div id="groupInputComplemento" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputComplemento">Complemento  </label>
								<input type="text"  id="inputComplemento" placeholder="" value="{{complemento}}" class="form-control   "  maxlength="100" >
							</div>
							<div id="groupInputBairro" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputBairro">Bairro  </label>
								<input type="text"  id="inputBairro" placeholder="" value="{{bairro}}" class="form-control   "  maxlength="100" >
							</div>
							<div id="groupInputUf" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputUf">Uf  *</label>
								<input type="text"  id="inputUf" placeholder="" value="{{uf}}" class="form-control  validate[required] "  maxlength="2" >
							</div>
							<div id="groupInputCidade" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputCidade">Cidade  </label>
								<input type="text"  id="inputCidade" placeholder="" value="{{cidade}}" class="form-control   "  maxlength="50" >
							</div>
							<div id="groupInputCep" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputCep">Cep  </label>
								<input type="text"  id="inputCep" placeholder="" value="{{cep}}" class="form-control   "  maxlength="9" >
							</div>
							<div id="groupInputReferencia" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputReferencia">Referencia  </label>
								<input type="text"  id="inputReferencia" placeholder="" value="{{referencia}}" class="form-control   "  maxlength="200" >
							</div>
							<div id="groupInputDescricao" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputDescricao">Descricao  </label>
								<textarea rows="3" id="inputDescricao" placeholder="Descricao" value="{{descricao}}"  class="form-control  "  maxlength="400" >{{descricao}} </textarea>
							</div>					
							<div id="groupInputOrdem" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputOrdem">Ordem  </label>
								<input type="text"  id="inputOrdem" placeholder="" value="{{ordem}}" class="form-control   "  >
							</div>
							<div id="groupInputLatitude" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputLatitude">Latitude  </label>
								<input type="text"  id="inputLatitude" placeholder="" value="{{latitude}}" class="form-control   "  >
							</div>
							<div id="groupInputLongitude" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputLongitude">Longitude  </label>
								<input type="text"  id="inputLongitude" placeholder="" value="{{longitude}}" class="form-control   "  >
							</div>
							<div id="groupInputEnderecoFormatado" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputEnderecoFormatado">Endereco formatado  </label>
								<input type="text"  id="inputEnderecoFormatado" placeholder="" value="{{enderecoFormatado}}" class="form-control   "  maxlength="100" >
							</div>
							<div id="groupInputOrigem" class="form-group col-sm-	col-md-	col-lg-   checkbox">
								<label class="checkbox ">
									<input id="inputOrigem" type="checkbox" {{origem ? 'checked' :''}}>
									Origem
								</label>
							</div>
							<div id="groupInputCorridaContainer" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputCorrida">Corrida</label>
								<div id="groupInputCorrida" class="input-group">
									<input id="inputCorridaId" type="hidden" class="form-control append-left" value="{{corrida && corrida.id}}" />
									<input id="inputCorridaNome" placeholder="Escolha um Corrida"  type="text" class="form-control append-left" value="{{corrida && corrida.nome}}" />
									<div class="input-group-addon append-right" id="searchCorridaModal" data-toggle="modal">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</div>		
					</form>
				</div>
			</div>
			<div class="">
				<div class="clearfix form-actions">
					<a href="javascript:void(0)" id="save"  class="save btn btn-primary">
						<i class="ace-icon save fa fa-check bigger-110"></i>
						Salvar
					</a>
					&nbsp; &nbsp; &nbsp;
					<a href="javascript:void(0)" class=" saveAndContinue  btn btn-info" style="display: {{ id ? 'none' : 'inline-block' }} ">
						<i class="ace-icon fa fa-check bigger-110"></i>
						Salvar e Continuar
					</a>
					&nbsp; &nbsp; &nbsp;
					<a class="go-back-link btn btn-light" href="#app/enderecoCorridas">
						<i class="ace-icon fa fa-undo bigger-110"></i>
						Voltar para a listagem
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div id='corridaModal'></div>
