<!-- MensagemMotorista´s form -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Formulário de cadastro de mensagens</li>
	</ul>
</div>
<div class="col-sm-12 page-form">
<div id="messages_div"></div>
<div class="row">
	<div class="col-xs-12">
		<div class="widget-box transparent_  ">
			<div class="widget-header widget-header-flat">
				<h4 class="widget-title lighter">
					<i class="ace-icon fa fa-wpforms"></i>
					Formulário de cadastro de mensagens
				</h4>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<form role="form" id="formMotoristaBloqueado">
						<input type="hidden" id="inputId" value="{{id}}">
						<div class="row">
							<div id="groupInputMotoristaContainer" class="form-group col-sm-4 col-md-4 col-lg-4">
								<label class="control-label" for="inputMotorista">Motoqueiro *</label>
								<div id="groupInputMotorista" class="input-group">
									<input id="inputMotoristaId" type="hidden" class="form-control append-left validate[required]" value="{{motorista && motorista.id}}" />
									<input id="inputMotoristaNome" placeholder="Escolha um Motoqueiro"  type="text" class="form-control append-left validate[required]" value="{{motorista && motorista.nome}}" />
									<div class="input-group-addon append-right" id="searchMotoristaModal" data-toggle="modal">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="col-sm-4">
						<!-- Motoqueiros -->
						<div class="widget-box">
							<div class="widget-header">
								<h4 class="widget-title lighter smaller">
									<i class="ace-icon fa fa-users green smaller"></i>
									Motoqueiros
								</h4>
							</div>
							<div class="widget-body">
								<div class="widget-main no-padding">
									<div class="dialogs js-motoqueiros" style="overflow-y: auto; height: 400px;">
										<!-- motorista -->
									</div>
									<form id="formPesquisaMotoristas">
										<div class="form-actions">
											<div class="input-group">
												<!-- <input placeholder="Pesquisa Motorista" id="inputNomeMotorista" type="text" class="form-control" name="search"> -->
												<span class="input-group-btn">
												<a href="javascript:void(0)" id="reset" class="btn btn-sm reset-motorista pull-right">Limpar</a>
												<!-- <button class="btn btn-sm btn-success no-radius search-motorista" type="button"> -->
												<i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
												Pesquisar
												<!-- </button> -->
												</span>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div class="col-sm-8">
						<div class="widget-box">
							<div class="widget-header">
								<h4 class="widget-title lighter smaller">
									<i class="ace-icon fa fa-comment blue"></i>
									Mensagens
								</h4>
							</div>
							<div class="widget-body">
								<div class="widget-main no-padding">
									<div class="dialogs ace-scroll js-mensagens-scroll" style=" overflow-y: auto; height: 400px;">
										<div class="js-mensagens"></div>
									</div>
									<form id="formEnviarMensagem">
										<input type="hidden" id="inputMotoristaId" value="">
										<div class="form-actions">
											<div class="input-group">
												<input placeholder="Digite sua mensagem aqui ..." id="inputTextoMensagem" type="text" class="form-control" name="message">
												<span class="input-group-btn">
												<button class="btn btn-sm btn-info no-radius sendMensagem" type="button">
												<i class="ace-icon fa fa-share"></i>
												Enviar
												</button>
												</span>
											</div>
										</div>
									</form>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br/>
			<br/>
		</div>
	</div>
</div>
<div id='motoristaModal'></div>
<div id='mensagemModal'></div>
<!-- div class="col-sm-12 page-form ">
	<div id="messages_div"></div>				
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box transparent_  ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-wpforms"></i>
						Formulário de cadastro de Mensagem motorista dsfsfsdfds
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<form role="form" id="formMensagemMotorista">
							<input type="hidden" id="inputId" value="{{id}}">
							<div id="groupInputDataEnvioContainer" class="form-group">
								<label class="control-label" for="inputDataEnvio">Data envio  </label>
								<div id="groupInputDataEnvio" class="input-group date" data-date-format="DD/MM/YYYY HH:MM">
									<input id="inputDataEnvio" placeholder="Escolha ou digite uma data." type="text" class="form-control   append-left" value="{{dataEnvio}}" />
									<div class="input-group-addon	append-right">
										<span class="fa fa-calendar"></span>
									</div>
								</div>
							</div>
							<div id="groupInputDataLeituraContainer" class="form-group">
								<label class="control-label" for="inputDataLeitura">Data leitura  </label>
								<div id="groupInputDataLeitura" class="input-group date" data-date-format="DD/MM/YYYY HH:MM">
									<input id="inputDataLeitura" placeholder="Escolha ou digite uma data." type="text" class="form-control   append-left" value="{{dataLeitura}}" />
									<div class="input-group-addon	append-right">
										<span class="fa fa-calendar"></span>
									</div>
								</div>
							</div>
							<div id="groupInputMotoristaContainer" class="form-group">
								<label class="control-label" for="inputMotorista">Motorista</label>
								<div id="groupInputMotorista" class="input-group">
									<input id="inputMotoristaId" type="hidden" class="form-control append-left" value="{{motorista && motorista.id}}" />
									<input id="inputMotoristaNome" placeholder="Escolha um Motorista"  type="text" class="form-control append-left" value="{{motorista && motorista.nome}}" />
									<div class="input-group-addon append-right" id="searchMotoristaModal" data-toggle="modal">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</div>		
							<div id="groupInputMensagemContainer" class="form-group">
								<label class="control-label" for="inputMensagem">Mensagem</label>
								<div id="groupInputMensagem" class="input-group">
									<input id="inputMensagemId" type="hidden" class="form-control append-left" value="{{mensagem && mensagem.id}}" />
									<input id="inputMensagemNome" placeholder="Escolha um Mensagem"  type="text" class="form-control append-left" value="{{mensagem && mensagem.nome}}" />
									<div class="input-group-addon append-right" id="searchMensagemModal" data-toggle="modal">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</div>		
					</form>
				</div>
			</div>
			<div class="">
				<div class="clearfix form-actions">
					<a href="javascript:void(0)" id="save"  class="save btn btn-primary">
						<i class="ace-icon save fa fa-check bigger-110"></i>
						Salvar
					</a>
					&nbsp; &nbsp; &nbsp;
					<a href="javascript:void(0)" class=" saveAndContinue  btn btn-info" style="display: {{ id ? 'none' : 'inline-block' }} ">
						<i class="ace-icon fa fa-check bigger-110"></i>
						Salvar e Continuar
					</a>
					&nbsp; &nbsp; &nbsp;
					<a class="go-back-link btn btn-light" href="#app/mensagemMotoristas">
						<i class="ace-icon fa fa-undo bigger-110"></i>
						Voltar para a listagem
					</a>
				</div>
			</div>
		</div>
	</div-->