<div class="itemdiv dialogdiv">
	<div class="user">
		<img alt="Alexa's Avatar" src="http://apraassessoria.com.br/imagens/icon-cob-central.png">
	</div>
	<div class="body">
		<div class="time">
			<i class="ace-icon fa fa-clock-o"></i>
			<span class="green">{{ timestamp }}</span>
		</div>
		<div class="name">
			<a href="javascript:void(-1)">Central</a>
		</div>
		<div class="text">{{ text }}</div>
		<!-- div class="tools">
			<a href="#" class="btn btn-minier btn-info">
				<i class="icon-only ace-icon fa fa-share"></i>
			</a>
		</div -->
	</div>
</div>