
<div class="itemdiv memberdiv motoqueiro" style="max-width: 100%; width: 100%; margin: 0px; padding: 5px;"
	data-motoqueiro-id="{{ id }}">
	<!-- div class="user" style="left: 5px">
		<img alt="Bob Doe's avatar" src="http://ace.jeka.by/assets/images/avatars/user.jpg">
	</div-->
	<div class="body" style="margin-left: 5px;">
		<div class="name">
			<a href="javascript:void(-1)">{{nome}}</a>
		</div>
	</div>
</div>
