<!-- Area´s form -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Formulário de cadastro de Area</li>
	</ul>
</div>
<div class="col-sm-12 page-form ">
	<div id="messages_div"></div>
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box transparent_  ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-wpforms"></i>
						Formulário de cadastro de Area
					</h4>
				</div>
				<div class="">
					<div id="map" style="width: 100%; height: 400px; position: fixed;"></div>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<form role="form" id="formArea">
							<input type="hidden" id="inputId" value="{{id}}">
							<div id="groupInputDescricao" class="form-group">
								<label class="control-label" for="inputDescricao">Descrição </label>
								<textarea id="inputDescricao" placeholder="" value="{{descricao}}" class="form-control   " maxlength="100"></textarea>
							</div>
							<!-- 							<div id="groupInputCoordenadas" class="form-group"> -->
							<!-- 								<label class="control-label" for="inputCoordenadas">Coordenadas </label> -->
							<!-- 								<textarea rows="3" id="inputCoordenadas" placeholder="Coordenadas" value="{{coordenadas}}" class="form-control  " maxlength="500">{{coordenadas}} </textarea> -->
							<!-- 							</div> -->
						</form>
					</div>
				</div>
				<div class="">
					<div class="clearfix form-actions">
						<a href="javascript:void(0)" id="save" class="save btn btn-primary">
							<i class="ace-icon save fa fa-check bigger-110"></i>
							Salvar
						</a>
						
						<a href="javascript:void(0)" class=" saveAndContinue  btn btn-info" style="display: {{ id ? 'none' : 'inline-block' }} ">
							<i class="ace-icon fa fa-check bigger-110"></i>
							Salvar e Continuar
						</a>
						
						<a class="go-back-link btn btn-light" href="#app/areas">
							<i class="ace-icon fa fa-undo bigger-110"></i>
							Voltar para a listagem
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>