<!-- generated: 28/11/2016 23:13:05 -->
<!-- MotivoPunicao´s page -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Pesquisa Motivo da Punição</li>
	</ul>
</div>
<div class="col-sm-12 page-form">
	<div id="messages_div"></div>
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-search"></i>
						Pesquisa de Motivo da Punição
					</h4>
				</div>
				<div class="widget-body">
					<form id="formMotivoPunicaoFilter">
						<div class="widget-main  ">
							<div class="row">
								<div class="col-xs-6">
									<a id="new" href="#app/newMotivoPunicao" class="btn btn-success" style="display:none;">
										<i class="fa fa-plus-circle"></i>
										Novo Registro
									</a>
									<a href="javascript:void(0)" id="reset" class="btn reset" >Limpar</a>
								</div>
								<div class="col-sm-6">
									<div class="input-group">
										<input id="inputDescricao" type="text" class="form-control search-query" placeholder="Pesquisar Motivo da Punição por Descrição">
										<span id="query" class="input-group-btn ">
											<button type="button" class="btn btn-inverse btn-white search-button">
												<span class="ace-icon fa fa-search icon-on-right bigger-110 "></span>
												Pesquisar
											</button>
										</span>
									</div>
									<div>
										<a href="javascript:void(-1)" class="show-advanced-search-button">&nbsp</a>
									</div>
								</div>
							</div>
							<div class="widget-box transparent advanced-search-form">
								<div class="widget-header">
									<h4 class="widget-title lighter">Filtros avançados</h4>
								</div>
								<div class="widget-body">
								inicio dos registros							
								<div class=" ">
									<button type="button" class="btn btn-info btn-sm search-button">
										<i class="ace-icon fa fa-search bigger-110"></i>
										Pesquisar
									</button>
								</div>
							</div>
							</div>
							<div id="counter" class="pull-left"></div>
							<div class="row center">
								<div class="col-xs-12">
									<div class="widget-box transparent ">
										<div class="widget-body">
											<div class="widget-main padding-0">
												<div id="messages_div"></div>
												<div id="grid" class="table-responsive"></div>
												<div class="row">
													<div id="paginator" class=""></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

