<!-- ClienteFone´s form -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Formulário de cadastro de Telefone do cliente</li>
	</ul>
</div>
<div class="col-sm-12 page-form ">
	<div id="messages_div"></div>			
	<div class="widget-box transparent_">
		<div class="widget-header ">
			<h4 class="widget-title ">
				<i class="ace-icon fa fa-suitcase"></i>
				Cliente
			</h4>
		</div>
		<div class="widget-body">
			<div class="widget-main ">
				<div class="row">
					<input type="hidden" id="inputClienteId" class="form-control">
					<div id="groupInputNome" class="form-group col-sm-3 col-md-3 col-lg-3">
						<label class="control-label" for="inputNome">Nome</label>
						<input readonly type="text" id="inputClienteNome" class="form-control">
					</div>
					<div id="groupInputEmail" class="form-group col-sm-3 col-md-3 col-lg-3">
						<label class="control-label" for="inputEmail">Email </label>
						<input readonly type="text" id="inputClienteEmail" class="form-control">
					</div>
					<div id="groupInputTipo" class="form-group col-sm-3 col-md-3 col-lg-3">
						<label class="control-label" for="inputTipo">Tipo </label>
						<input readonly type="text" id="inputClienteTipo" class="form-control">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box transparent_  ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-wpforms"></i>
						Formulário de cadastro de Telefone do cliente
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<form role="form" id="formClienteFone">
							<input type="hidden" id="inputId" value="{{id}}">
							
							<div class="row">
								<div id="groupInputFone" class="form-group col-sm-3 col-md-3 col-lg-3">
									<label class="control-label" for="inputFone">Telefone *</label>
									<div class="input-group">
										<span class="input-group-addon"><i class="ace-icon fa fa-phone"></i></span>
										<input type="text"  id="inputFone" placeholder=""  value="{{ fone ? fone : '(85)' }}" class="form-control  validate[required] "  maxlength="15" >
									</div>
								</div>
								
								<!-- <div id="groupInputFavorito" class="form-group checkbox col-sm-7">
									<label class="checkbox ">
										<input id="inputFavorito" type="checkbox" {{favorito ? 'checked' :''}}>
										Favorito
									</label>
								</div> -->
							</div>
						</form>
					</div>
				</div>
				<div class="">
					<div class="clearfix form-actions">
						<a id="save" href="javascript:void(0)" id="save"  class="save btn btn-primary" style="display:none">
							<i class="ace-icon save fa fa-check bigger-110"></i>
							Salvar
						</a>
						
						<a id="saveContinue" href="javascript:void(0)" class=" saveAndContinue  btn btn-info" style="display:none">
							<i class="ace-icon fa fa-check bigger-110"></i>
							Salvar e Continuar
						</a>
						
						<a class="go-back-link btn btn-light" href="javascript:void(-1)">
							<i class="ace-icon fa fa-undo bigger-110"></i>
							Voltar para a listagem
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div id='clienteModal'></div>
