<!-- generated: 16/10/2016 15:27:08 -->
<!-- ClienteFone´s page -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Pesquisa de telefone do cliente</li>
	</ul>
</div>
<div class="col-sm-12 page-form">
	<div id="messages_div"></div>
	<div class="widget-box transparent_">
		<div class="widget-header ">
			<h4 class="widget-title ">
				<i class="ace-icon fa fa-suitcase"></i>
				Cliente
			</h4>
		</div>
		<div class="widget-body">
			<div class="widget-main ">
				<div class="row">
					<div id="groupInputNome" class="form-group col-sm-3 col-md-3 col-lg-3">
						<label class="control-label" for="inputNome">Nome</label>
						<input readonly type="text" id="inputClienteNome" class="form-control">
					</div>
					<div id="groupInputEmail" class="form-group col-sm-3 col-md-3 col-lg-3">
						<label class="control-label" for="inputEmail">Email </label>
						<input readonly type="text" id="inputClienteEmail" class="form-control">
					</div>
					<div id="groupInputTipo" class="form-group col-sm-3 col-md-3 col-lg-3">
						<label class="control-label" for="inputTipo">Tipo </label>
						<input readonly type="text" id="inputClienteTipo" class="form-control">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-search"></i>
						Pesquisa de telefone do cliente
					</h4>
				</div>
				<div class="widget-body">
					<form id="formClienteFoneFilter">
						<div class="widget-main  ">
							<div class="row">
								<div class="col-xs-6">
									<a id="new" href="javascript:void(-1)" class="btn btn-success novo-telefone" style="display:none;">
										<i class="fa fa-plus-circle"></i>
										Novo Registro
									</a>
									
									<a href="javascript:void(0)" id="reset" class="btn reset" >Limpar</a>
								</div>
								<div class="col-sm-6">
									<div class="input-group">
										<input id="inputFone" type="text" class="form-control search-query" placeholder="Pesquisar pelo telefone" maxlength="15">
										<span id="query" class="input-group-btn ">
											<button type="button" class="btn btn-inverse btn-white search-button">
												<span class="ace-icon fa fa-search icon-on-right bigger-110 "></span>
												Pesquisar
											</button>
										</span>
									</div>
									<!-- <div>
										<a href="javascript:void(-1)" class="show-advanced-search-button"> Pesquisa avançada... </a>
									</div> -->
								</div>
							</div>
							<!-- <div class="widget-box transparent advanced-search-form">
								<div class="widget-header">
									<h4 class="widget-title lighter">Filtros avançados</h4>
								</div>
								<div class="widget-body">
								inicio dos registros							
									<div class="row">
										<div id="groupInputFone" class="form-group col-sm-3 col-md-3 col-lg-3">
											<label class="control-label" for="inputFone">Telefone </label>
											<div class="input-group">
												<span class="input-group-addon">
													<i class="ace-icon fa fa-phone"></i>
												</span><input type="text" id="inputFone" placeholder="Pesquise pelo telefone" class="form-control">
											</div>
										</div>
										<div id="groupInputFavorito" class="form-group checkbox col-sm-3 col-md-3 col-lg-3">
											<label class="checkbox ">
												<input id="inputFavorito" type="checkbox" >
												Favorito
											</label>
										</div>
									</div>
									<div class=" ">
										<button type="button" class="btn btn-info btn-sm search-button">
											<i class="ace-icon fa fa-search bigger-110"></i>
											Pesquisar
										</button>
									</div>
								</div>
							</div> -->
							<div id="counter" class="pull-left"></div>
							<div class="row center">
								<div class="col-xs-12">
									<div class="widget-box transparent ">
										<div class="widget-body">
											<div class="widget-main padding-0">
												<div id="messages_div"></div>
												<div id="grid" class="table-responsive"></div>
												<div class="row">
													<div id="paginator" class=""></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<a href="javascript:void(0)" class="btn voltar-cliente reset">Voltar para o cliente</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div id='clienteModal'></div>
