<!-- generated: 16/10/2016 15:27:08 -->
<!-- TarifaAdicional´s page -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Pesquisa Tarifa adicional</li>
	</ul>
</div>
<div class="col-sm-12 page-form">
	<div id="messages_div"></div>
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-search"></i>
						Pesquisa de Tarifa adicional
					</h4>
				</div>
				<div class="widget-body">
					<form id="formTarifaAdicionalFilter">
						<div class="widget-main  ">
							<div class="row">
								<div class="col-xs-6">
									<a id="new" href="#app/newTarifaAdicional" class="btn btn-success" style="display:none;">
										<i class="fa fa-plus-circle"></i>
										Novo Registro
									</a>
									<a href="javascript:void(0)" id="reset" class="btn reset" >Limpar</a>
								</div>
								<div class="col-sm-6">
									<div class="input-group">
										<input id="inputDescricao" type="text" class="form-control search-query" placeholder="Pesquisar Tarifa adicional por Descrição">
										<span id="query" class="input-group-btn ">
											<button type="button" class="btn btn-inverse btn-white search-button">
												<span class="ace-icon fa fa-search icon-on-right bigger-110 "></span>
												Pesquisar
											</button>
										</span>
									</div>
									<div>
										<a href="javascript:void(-1)" class="show-advanced-search-button"> Pesquisa avançada... </a>
									</div>
								</div>
							</div>
							<div class="widget-box transparent advanced-search-form">
								<div class="widget-header">
									<h4 class="widget-title lighter">Filtros avançados</h4>
								</div>
								<div class="widget-body">
								<!-- inicio dos registros-->							
									<div id="groupInputDescricao" class="form-group">
										<label class="control-label" for="inputAvancadoDescricao">Descrição</label>
										<input type="text" id="inputAvancadoDescricao" placeholder=""  class="form-control">
									</div>
									<div class="row">
										<div id="groupInputValor" class="form-group col-md-3 col-lg-3">
											<label class="control-label" for="inputValor">Valor</label>
											<input type="text" id="inputValor" placeholder="" class="form-control" maxlength="12"  style="text-align: right; font-weight: bold; font-size: 16px">
										</div>
									</div>
								<div class=" ">
									<button type="button" class="btn btn-info btn-sm search-button">
										<i class="ace-icon fa fa-search bigger-110"></i>
										Pesquisar
									</button>
								</div>
							</div>
							</div>
							<div id="counter" class="pull-left"></div>
							<div class="row center">
								<div class="col-xs-12">
									<div class="widget-box transparent ">
										<div class="widget-body">
											<div class="widget-main padding-0">
												<div id="messages_div"></div>
												<div id="grid" class="table-responsive"></div>
												<div class="row">
													<div id="paginator" class=""></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

