<!-- Tarifa´s form -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Formulário de cadastro de Tarifa</li>
	</ul>
</div>
<div class="col-sm-12 page-form ">
	<div id="messages_div"></div>				
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box transparent_  ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-wpforms"></i>
						Formulário de cadastro de Tarifa
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<form role="form" id="formTarifa">
							<input type="hidden" id="inputId" value="{{id}}">
							<div class="row">
								<div id="groupInputBairroOrigem" class="form-group col-sm-6">
									<label class="control-label" for="inputBairroOrigem">Bairro origem *</label>
									<input type="text"  id="inputBairroOrigem" placeholder="" value="{{bairroOrigem}}" class="form-control validate[required]  "  maxlength="100" >
								</div>
								<div id="groupInputBairroDestino" class="form-group col-sm-6">
									<label class="control-label" for="inputBairroDestino">Bairro destino *</label>
									<input type="text"  id="inputBairroDestino" placeholder="" value="{{bairroDestino}}" class="form-control validate[required]  "  maxlength="100" >
								</div>
							</div>
							<div class="row">
								<div id="groupInputValor" class="form-group col-md-3 col-lg-3">
									<label class="control-label" for="inputValor">Valor R$ *</label>
									<input type="text"  id="inputValor" placeholder="" value="{{valor}}" class="validate[required] form-control" maxlength="12"  style="text-align: right; font-weight: bold; font-size: 16px">
								</div>
							</div>
					</form>
				</div>
			</div>
			<div class="">
				<div class="clearfix form-actions">
					<a id="save" href="javascript:void(0)" id="save"  class="save btn btn-primary" style="display:none;">
						<i class="ace-icon save fa fa-check bigger-110"></i>
						Salvar
					</a>
					
					<a id="saveContinue" href="javascript:void(0)" class=" saveAndContinue  btn btn-info" style="display:none;">
						<i class="ace-icon fa fa-check bigger-110"></i>
						Salvar e Continuar
					</a>
					
					<a class="go-back-link btn btn-light" href="#app/tarifas">
						<i class="ace-icon fa fa-undo bigger-110"></i>
						Voltar para a listagem
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
