<!-- generated: 16/10/2016 15:27:08 -->
<!-- Contato´s page -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Pesquisa de contato da empresa</li>
	</ul>
</div>
<div class="col-sm-12 page-form">
	<div id="messages_div"></div>
	<div class="widget-box transparent_">
		<div class="widget-header ">
			<h4 class="widget-title ">
				<i class="ace-icon fa fa-suitcase"></i>
				Empresa
			</h4>
		</div>
		<div class="widget-body">
			<div class="widget-main ">
				<div class="row">
					<input type="hidden" id="inputEmpresaId" class="form-control">
					<div id="groupInputNomeFantasia" class="form-group 	col-sm-3	col-md-3	col-lg-3">
						<label class="control-label" for="inputNomeFantasia">Nome Fantasia </label>
						<input readonly type="text" id="inputEmpresaNomeFantasia" class="form-control">
					</div>
					<div id="groupInputCnpj" class="form-group col-sm-3	col-md-3	col-lg-3">
						<label class="control-label" for="inputCnpj">CNPJ </label>
						<input readonly type="text" id="inputEmpresaCnpj" class="form-control">
					</div>
					<div id="groupInputContrato" class="form-group col-sm-3	col-md-3	col-lg-3">
						<label class="control-label" for="inputContrato">Contrato </label>
						<input readonly type="text" id="inputEmpresaContrato" class="form-control">
					</div>
					<div id="groupInputRazaoSocial" class="form-group col-sm-3	col-md-3	col-lg-3">
						<label class="control-label" for="inputRazaoSocial">Razão social </label>
						<input readonly type="text" id="inputEmpresaRazaoSocial" class="form-control">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-search"></i>
						Pesquisa de contato da empresa
					</h4>
				</div>
				<div class="widget-body">
					<form id="formContatoFilter">
						<div class="widget-main  ">
							<div class="widget-box transparent ">
								<div class="widget-body">
									<div class="row">
										<div class="col-xs-6">
											<a id="new" href="javascript:void(-1)" class="btn btn-success novo-contato" style="display:none">
											<i class="fa fa-plus-circle"></i>
											Novo Contato
											</a>
											<a href="javascript:void(0)" id="reset" class="btn reset">Limpar</a>
										</div>
										<div class="col-sm-6">
											<div class="input-group">
												<input id="inputNome" type="text" class="form-control search-query" placeholder="Pesquisa por nome de contato">
												<span id="query" class="input-group-btn ">
												<button type="button" class="btn btn-inverse btn-white search-button">
												<span class="ace-icon fa fa-search icon-on-right bigger-110 "></span>
												Pesquisar
												</button>
												</span>
											</div>
											<div>
												<a href="javascript:void(-1)" class="show-advanced-search-button"> Pesquisa avançada... </a>
											</div>
										</div>
									</div>
									<div class="widget-box transparent advanced-search-form">
										<div class="widget-header">
											<h4 class="widget-title lighter">Filtros avançados</h4>
										</div>
										<div class="widget-body">
											<div class="row">
												<!-- inicio dos registros-->
												<div id="groupInputNome" class="form-group col-sm-3 col-md-3 col-lg-3">
													<label class="control-label" for="inputNome">Nome</label>
													<input type="text" id="inputNome" placeholder="" class="form-control">
												</div>
												<div id="groupInputSetor" class="form-group col-sm-3 col-md-3 col-lg-3">
													<label class="control-label" for="inputSetor">Setor</label>
													<input type="text" id="inputSetor" placeholder="" class="form-control">
												</div>
												<div id="groupInputFone" class="form-group col-sm-3 col-md-3 col-lg-3">
													<label class="control-label" for="inputFone">Telefone</label>
													<input type="text" id="inputFone" placeholder="" class="form-control">
												</div>
											</div>
											<div class=" ">
												<button type="button" class="btn btn-info btn-sm search-button">
												<i class="ace-icon fa fa-search bigger-110"></i>
												Pesquisar
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div id="counter" class="pull-left"></div>
							<div class="row center">
								<div class="col-xs-12">
									<div class="widget-box transparent ">
										<div class="widget-body">
											<div class="widget-main padding-0">
												<div id="messages_div"></div>
												<div id="grid" class="table-responsive"></div>
												<div class="row">
													<div id="paginator" class=""></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<a href="javascript:void(0)" class="btn voltar-empresa reset">Voltar para a empresa</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div id='empresaModal'></div>