<div class="modal fade" id="myModalRole" tabindex="-1" role="dialog" aria-labelledby="modalRoles" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
				<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Papéis</h4>
			</div>
			<div class="modal-body">
				<form id="formSearchRole">
					<div class="row">
						<div id="groupInputModalAuthority" class="form-group col-sm-6 col-md-6 col-lg-6">
							<label class="control-label" for="inputModalAuthority">Autoridade</label>
							<input type="text" id="inputModalAuthority" placeholder=""  class="form-control">
						</div>
						<div id="groupInputModalDescription" class="form-group col-sm-6 col-md-6 col-lg-6">
							<label class="control-label" for="inputModalDescription">Descrição</label>
							<input type="text" id="inputModalDescription" placeholder=""  class="form-control">
						</div>
					</div>
					<div class="row">
						<div class="form-actions spinner" id="spinRole">
							<a href="javascript:void(0)" id="btnSearchRole" class="btn btn-primary btn-large" >
							<i class="fa fa-search"></i>
							Pesquisar
							</a>
							<a href="javascript:void(0)" id="btnNewClearRole" class="btn btn-info btn-large">
							<i class="fa fa-trash"></i>
							Nova Pesquisa
							</a>
							<a href="javascript:void(0)" id="btnClearRoles" class="btn reset">Limpar</a>
						</div>
					</div>
					<div class="container-fluid">
						<div id="messages"></div>
						<div class="row">
							<div id="sample-table-2_wrapper" class="dataTables_wrapper form-inline ">
								<div id="grid-roles-modal" class="table-responsive"></div>
								<div class="">
									<div id="paginator-roles-modal" class="pull-right"></div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" data-dismiss="modal">Pronto</button>
			</div>
		</div>
	</div>
</div>