<!-- generated: 15/09/2016 17:18:58 -->
<!-- Modal User´s form -->
<div class="modal fade" id="dialogUser" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">
					<span aria-hidden="true">&times;</span>
					<span class="sr-only">Close</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Alterar Senha do Usuário</h4>
			</div>
			<div class="modal-body">
				<form id="formSearchUser">
					<div id="message-modal-user"> </div>
<!-- 					<div id="groupInputModalOldPassword" class="form-group"> -->
<!-- 						<label class="control-label" for="inputModalOldPassword">Senha Antiga</label> -->
<!-- 						<input type="password" id="inputModalOldPassword" placeholder="" class="form-control"> -->
<!-- 					</div> -->
					<div id="groupInputModalNewPassword" class="form-group">
						<label class="control-label" for="inputModalNewPassword">Nova senha</label>
						<input type="password" id="inputModalNewPassword" placeholder="" class="form-control password">
					</div>
					<div id="groupInputConfirmModalPassword" class="form-group">
						<label class="control-label" for="inputModalConfirmPassword">Confirmação senha</label>
						<input type="password" id="inputModalConfirmPassword" placeholder="" class="form-control password">
					</div>
					<div class="form-actions spinner" id="spinUser">
						<a href="javascript:void(0)" id="btnSearchUser" class="btn btn-primary btn-large save-password">
							<i class="fa fa-check"></i>
							Salvar
						</a>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
