<!-- generated: 27/01/2015 09:39:58 -->
<!-- Motorista´s form -->
<div class="main-content-inner">
	<div class="breadcrumbs" id="breadcrumbs">
		<ul class="breadcrumb">
			<li><i class="ace-icon fa fa-home home-icon"></i> <a href="#">Home</a>
			</li>
			<li class="active">Cadastrar Usuários</li>
		</ul>
	</div>
	<div class="page-content">
		<div class="page-header">
			<h1>Cadastrar Usuários</h1>
		</div>
		<div class="main-principal">
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<div id="messages_div"></div>
				</div>
			</div>
			<!-- <div class="hr-24"></div> -->
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<form role="form" id="formUser" action="rs/crud/uploads/file"
						method="post">
						<br> <input type="hidden" id="inputId" value="{{id}}">
						<div class="panel panel-default plain profile-widget" id="spr_0">
							<!-- Start .panel -->
							<div class="panel-body">
								<input id='inputUploadImage' type="file" name="files[]"
									style="display: none">
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="profile-avatar">
										<img height="170" id="inputImage" style="cursor: pointer;"
											class="" src="{{image || 'images/no_photo.jpg'}}">
									</div>
								</div>
								<div class="col-lg-9 col-md-9 col-sm-12">
									<span class="">
										<div id="groupInputName" class="form-group">
											<label class="control-label" for="inputName">Nome *</label> <input
												type="text" id="inputName" placeholder="" value="{{name}}"
												class="form-control validate[required]">
										</div>
									</span> <span class="">
										<div id="groupInputUsername" class="form-group">
											<label class="control-label" for="inputUsername">Username
												*</label> <input type="text" id="inputUsername" placeholder=""
												value="{{username}}"
												class="form-control validate[required, minSize[4]] ">
										</div>
									</span>
									<div class="row" style="display: {{ id ? 'none' : 'block' }} ">
										<div class="">
											<div id="messages_password"></div>
											<div id="groupInputPassword"
												class="form-group col-lg-6 col-md-6 col-sm-6">
												<label class="control-label" for="inputPassword">Senha
													*</label> <input type="password" id="inputPassword" placeholder=""
													value="{{password}}"
													class="form-control  validate[required, minSize[6]]">
											</div>
											<div id="groupInputPassword"
												class="form-group col-lg-6 col-md-6 col-sm-6">
												<label class="control-label" for="inputConfirmPassword">Confirmação
													Senha *</label> <input type="password" id="inputConfirmPassword"
													placeholder="" value=""
													class="form-control validate[required, minSize[6]]">
											</div>
										</div>
									</div>
								</div>
								<br>
								<div class="row">
									<div id="groupInputTipo" class="form-group col-sm-2 col-md-2 col-lg-2">
										<label class="control-label" for="inputTipo">Tipo *</label>
										 <select type="text" id="inputTipo" class="form-control  validate[required] ">
											<option value="">-- Selecione --</option>
											<option value="Central" {{tipo !=null && tipo=="Central" ? 'selected' :''}}>Central</option>
											<option value="Empresa" {{tipo !=null && tipo=="Empresa" ? 'selected' :''}}>Empresa</option>
										</select>
									</div>
									
									<div id="groupInputStatusUsuario" class="form-group col-sm-2 col-md-2 col-lg-2">
										<label class="control-label" for="inputStatusUsuario">Status usuário *</label> <select type="text" id="inputStatusUsuario" class="form-control  validate[required] ">
											<option value="">-- Selecione --</option>
											<option value="Ativo" {{statusUsuario !=null && statusUsuario=="Ativo" ? 'selected' :''}}>Ativo</option>
											<option value="Inativo" {{statusUsuario !=null && statusUsuario=="Inativo" ? 'selected' :''}}>Inativo</option>
											<option value="Suspenso" {{statusUsuario !=null && statusUsuario=="Suspenso" ? 'selected' :''}}>Suspenso</option>
										</select>
									</div>
									<div id="groupInputEmail"
										class="form-group col-sm-4 col-md-4 col-lg-4">
										<label class="control-label" for="inputEmail">Email</label> <input
											type="text" id="inputEmail" placeholder="" value="{{email}}"
											class="form-control validate[custom[email]]" maxlength="100">
									</div>
									<div class="row">
									<div id="groupInputEmpresaContainer" class="form-group col-sm-3 col-md-3 col-lg-3" style="display : none">
									<label class="control-label" for="inputEmpresa">Empresa *</label>
									<div id="groupInputEmpresa" class="input-group">
										<input id="inputEmpresaId" type="hidden" class="form-control append-left" value="{{empresa && empresa.id}}" />
										<input id="inputEmpresaNome" placeholder="Escolha um Empresa"  type="text" class="form-control append-left" value="{{empresa && empresa.nomeFantasia}}" />
										<div class="input-group-addon append-right" id="searchEmpresaModal" data-toggle="modal">
											<span class="fa fa-search"></span>
										</div>
									</div>
								</div>
							</div>
									<!-- 									<div id="groupInputEnable" class="form-group checkbox col-sm-4 col-md-4 col-lg-4"> -->
									<!-- 										<label class="checkbox "> -->
									<!-- 											<input id="inputEnable" type="checkbox"{{enable ? 'checked' :''}}> -->
									<!-- 											Ativo -->
									<!-- 										</label> -->
									<!-- 									</div> -->
								</div>
							</div>		
							<div id="role-msg"></div>
							<div class="roles-container panel"></div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix form-actions form-group mb15">
		<div class="col-md-9">
			<a href="javascript:void(0)" id="save" class="save btn btn-primary">
				<i class="ace-icon save fa fa-check bigger-110"></i> Salvar
			</a>
			<!-- 					<a href="javascript:void(0)" class=" saveAndContinue  btn btn-info" style="display: {{ id ? 'none' : 'inline-block' }} "> -->
			<a href="javascript:void(0)" class=" saveAndContinue  btn btn-info"
				style="display: {{ id ? 'none' : 'inline-block' }} "> <i
				class="ace-icon fa fa-check bigger-110"></i> Salvar e Continuar
			</a> <a class="go-back-link btn btn-default" href="#app/users"> <i
				class="ace-icon fa fa-undo bigger-110"></i> Voltar para a listagem
			</a>
		</div>
	</div>
</div>
<div id='empresaModal'></div>
