<!-- generated: 27/01/2015 09:39:58 -->
<!-- Motorista´s form -->
<div class="main-content-inner">
	<div class="breadcrumbs" id="breadcrumbs">
		<ul class="breadcrumb">
			<li>
				<i class="ace-icon fa fa-home home-icon"></i>
				<a href="#">Home</a>
			</li>
			<li class="active">Perfil de usuário</li>
		</ul>
	</div>
	<div class="page-content">
		<div class="page-header">
			<h1>Perfil de usuário</h1>
		</div>
		<div class="main-principal">
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<div id="messages_div"></div>
				</div>
			</div>
			<!-- <div class="hr-24"></div> -->
			<div class="row">
				<div class="col-xs-12 col-sm-12">
					<form role="form" id="formUser" action="rs/crud/uploads/file" method="post">
						<br>
						<input type="hidden" id="inputId" value="{{id}}">
						<div class="panel panel-default plain profile-widget" id="spr_0">
							<!-- Start .panel -->
							<div class="panel-body">
								<input id='inputUploadImage' type="file" name="files[]" style="display: none">
								<div class="col-lg-3 col-md-3 col-sm-12">
									<div class="profile-avatar">
										<img height="170" id="inputImage" style="cursor: pointer;" class="" src="{{image || 'images/no_photo.jpg'}}">
									</div>
								</div>
								<div class="col-lg-9 col-md-9 col-sm-12">
									<div id="messages_password"></div>
									<div class="row">
										<div id="groupInputName" class="form-group">
											<label class="control-label" for="inputName">Nome</label>
											<input type="text" id="inputName" placeholder="Nome" value="{{name}}" class="form-control ">
										</div>
									</div>
									<div class="row">
										<div id="groupInputUsername" class="form-group">
											<label class="control-label" for="inputUsername">Username </label>
											<input type="text" id="inputUsername" placeholder="Username" value="{{username}}" class="form-control validate[required] " readonly>
										</div>
									</div>
								</div>
								<br>
								<div class="row">
									<div class="form-group">
										<a href="javascript:void(-1)" class="change-password">Alterar senha</a>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="clearfix form-actions form-group mb15">
		<div class="col-md-9">
			<a href="javascript:void(0)" id="save" class="save btn btn-primary">
				<i class="ace-icon save fa fa-check bigger-110"></i>
				Salvar
			</a>
		</div>
	</div>
</div>
