<!-- PontosArea´s form -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Formulário de cadastro de Pontos area</li>
	</ul>
</div>
<div class="col-sm-12 page-form ">
	<div id="messages_div"></div>				
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box transparent_  ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-wpforms"></i>
						Formulário de cadastro de Pontos area
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<form role="form" id="formPontosArea">
							<input type="hidden" id="inputId" value="{{id}}">
							<div id="groupInputLatitude" class="form-group">
								<label class="control-label" for="inputLatitude">Latitude  </label>
								<input type="text"  id="inputLatitude" placeholder="" value="{{latitude}}" class="form-control   "  maxlength="15" >
							</div>
							<div id="groupInputLongitude" class="form-group">
								<label class="control-label" for="inputLongitude">Longitude  </label>
								<input type="text"  id="inputLongitude" placeholder="" value="{{longitude}}" class="form-control   "  maxlength="15" >
							</div>
							<div id="groupInputAreaContainer" class="form-group">
								<label class="control-label" for="inputArea">Area</label>
								<div id="groupInputArea" class="input-group">
									<input id="inputAreaId" type="hidden" class="form-control append-left" value="{{area && area.id}}" />
									<input id="inputAreaNome" placeholder="Escolha um Area"  type="text" class="form-control append-left" value="{{area && area.nome}}" />
									<div class="input-group-addon append-right" id="searchAreaModal" data-toggle="modal">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</div>		
					</form>
				</div>
			</div>
			<div class="">
				<div class="clearfix form-actions">
					<a href="javascript:void(0)" id="save"  class="save btn btn-primary">
						<i class="ace-icon save fa fa-check bigger-110"></i>
						Salvar
					</a>
					&nbsp; &nbsp; &nbsp;
					<a href="javascript:void(0)" class=" saveAndContinue  btn btn-info" style="display: {{ id ? 'none' : 'inline-block' }} ">
						<i class="ace-icon fa fa-check bigger-110"></i>
						Salvar e Continuar
					</a>
					&nbsp; &nbsp; &nbsp;
					<a class="go-back-link btn btn-light" href="#app/pontosAreas">
						<i class="ace-icon fa fa-undo bigger-110"></i>
						Voltar para a listagem
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div id='areaModal'></div>
