<!-- Punicao´s form -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Formulário de cadastro de Punicao</li>
	</ul>
</div>
<div class="col-sm-12 page-form ">
<div id="messages_div"></div>
<div class="widget-box transparent_">
	<div class="widget-header ">
		<h4 class="widget-title ">
			<i class="ace-icon fa fa-suitcase"></i>
			Motoqueiro
		</h4>
	</div>
	<div class="widget-body">
		<div class="widget-main ">
			<div class="row">
				<input type="hidden" id="inputMotoristaId" value="{{id}}">
				<div id="groupInputMotoqueiroNome" class="form-group col-sm-3 col-md-3 col-lg-3">
					<label class="control-label" for="inputMotoristaNome">Nome</label>
					<input readonly type="text" id="inputMotoristaNome" class="form-control">
				</div>
				<div id="groupInputMotoqueiroViatura" class="form-group col-sm-3 col-md-3 col-lg-3">
					<label class="control-label" for="inputMotoristaViatura">Viatura</label>
					<input readonly type="text" id="inputMotoristaViatura" class="form-control">
				</div>
				<div id="groupInputMotoqueiroEmail" class="form-group col-sm-3 col-md-3 col-lg-3">
					<label class="control-label" for="inputMotoristaEmail">Email</label>
					<input readonly type="text" id="inputMotoristaEmail" class="form-control">
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-xs-12">
		<div class="widget-box transparent_  ">
			<div class="widget-header widget-header-flat">
				<h4 class="widget-title lighter">
					<i class="ace-icon fa fa-wpforms"></i>
					Formulário de cadastro de Punicao
				</h4>
			</div>
			<div class="widget-body">
				<div class="widget-main">
					<form role="form" id="formPunicao">
						<input type="hidden" id="inputId" value="{{id}}">
						<div id="groupInputMotivo" class="form-group">
							<label class="control-label" for="inputMotivo">Motivo *</label>
							<select type="text" id="inputMotivo" placeholder="" value="{{motivo}}" class="form-control validate[required]">
							</select>
						</div>
						<div class="row">
							<div id="groupInputDataInicioContainer" class="form-group col-sm-3 col-md-3 col-lg-3">
								<label class="control-label" for="inputDataInicio">Data inicio *</label>
								<div id="groupInputDataInicio" class="input-group date" data-date-format="DD/MM/YYYY HH:MM">
									<input id="inputDataInicio" placeholder="Escolha ou digite uma data." type="text" class="form-control   append-left validate[required]" value="{{dataInicio}}" />
									<div class="input-group-addon	append-right">
										<span class="fa fa-calendar"></span>
									</div>
								</div>
							</div>
							<div id="groupInputDataFimContainer" class="form-group col-sm-3 col-md-3 col-lg-3">
								<label class="control-label" for="inputDataFim">Data fim *</label>
								<div id="groupInputDataFim" class="input-group date" data-date-format="DD/MM/YYYY HH:MM">
									<input id="inputDataFim" placeholder="Escolha ou digite uma data." type="text" class="form-control   append-left validate[required]" value="{{dataFim}}" />
									<div class="input-group-addon	append-right">
										<span class="fa fa-calendar"></span>
									</div>
								</div>
							</div>
							<div id="groupInputQuantidadetempo" class="form-group col-sm-3 col-md-3 col-lg-3">
								<label class="control-label" for="inputQuantidadetempo">Duração (Horas : Minutos)</label>
								<input readonly type="text" id="inputQuantidadetempo" placeholder="" value="{{quantidadetempo}}" class="form-control">
							</div>
						</div>
					</form>
				</div>
			</div>
			<div class="">
				<div class="clearfix form-actions">
					<a id="save" href="javascript:void(0)" id="save" class="save btn btn-primary" style="display:none">
					<i class="ace-icon save fa fa-check bigger-110"></i>
					Salvar
					</a>
					<a id="saveContinue" href="javascript:void(0)" class=" saveAndContinue  btn btn-info" style="display:none">
					<i class="ace-icon fa fa-check bigger-110"></i>
					Salvar e Continuar
					</a>
					<a class="go-back-link btn btn-light" href="javascript:void(-1)">
					<i class="ace-icon fa fa-undo bigger-110"></i>
					Voltar para a listagem
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div id='motoristaModal'></div>