<!-- generated: 16/10/2016 15:27:08 -->
<!-- Punicao´s page -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Pesquisa Punicao</li>
	</ul>
</div>
<div class="col-sm-12 page-form">
	<div id="messages_div"></div>
	<div class="widget-box transparent_">
		<div class="widget-header ">
			<h4 class="widget-title ">
				<i class="ace-icon fa fa-suitcase"></i>
				Motoqueiro
			</h4>
		</div>
		<div class="widget-body">
			<div class="widget-main ">
				<div class="row">
					<div id="groupInputMotoqueiroNome" class="form-group col-sm-3 col-md-3 col-lg-3">
						<label class="control-label" for="inputMotoristaNome">Nome</label>
						<input readonly type="text" id="inputMotoristaNome" class="form-control">
					</div>
					<div id="groupInputMotoqueiroViatura" class="form-group col-sm-3 col-md-3 col-lg-3">
						<label class="control-label" for="inputMotoristaViatura">Viatura</label>
						<input readonly type="text" id="inputMotoristaViatura" class="form-control">
					</div>
					<div id="groupInputMotoqueiroEmail" class="form-group col-sm-3 col-md-3 col-lg-3">
						<label class="control-label" for="inputMotoristaEmail">Email</label>
						<input readonly type="text" id="inputMotoristaEmail" class="form-control">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-search"></i>
						Pesquisa de Punicao
					</h4>
				</div>
				<div class="widget-body">
					<form id="formPunicaoFilter">
						<div class="widget-main  ">
							<div class="row">
								<div class="col-xs-6">
									<a id="new" href="javascript:void(-1)" class="btn btn-success nova-punicao" style="display:none">
										<i class="fa fa-plus-circle"></i>
										Novo Registro
									</a>
									<a href="javascript:void(0)" id="reset" class="btn reset" >Limpar</a>
								</div>
								<div class="col-sm-6">
									<div class="input-group">
										<input id="inputMotivo" type="text" class="form-control search-query" placeholder="Pesquisar Punicao por Motivo">
										<span id="query" class="input-group-btn ">
											<button type="button" class="btn btn-inverse btn-white search-button">
												<span class="ace-icon fa fa-search icon-on-right bigger-110 "></span>
												Pesquisar
											</button>
										</span>
									</div>
									<div>
										<a href="javascript:void(-1)" class="show-advanced-search-button"> Pesquisa avançada... </a>
									</div>
								</div>
							</div>
							<div class="widget-box transparent advanced-search-form">
								<div class="widget-header">
									<h4 class="widget-title lighter">Filtros avançados</h4>
								</div>
								<div class="widget-body">
								<!-- inicio dos registros-->							
									<div id="groupInputMotivo" class="form-group">
										<label class="control-label" for="inputMotivo">Motivo</label>
										<input type="text" id="inputMotivo" placeholder=""  class="form-control">
									</div>
									<div class="row">
										<div id="groupInputDataInicioContainer" class="form-group col-sm-3 col-md-3 col-lg-3">
											<label class="control-label" for="inputDataInicio">Data inicio</label>
											<div id="groupInputDataInicio" class="input-group date" data-date-format="DD/MM/YYYY HH:MM">
												<input id="inputDataInicio" placeholder="" type="text" class="form-control append-left" />
												<div class="input-group-addon	append-right">
													<span class="fa fa-calendar"></span>
												</div>
											</div>
										</div>
										<div id="groupInputDataFimContainer" class="form-group col-sm-3 col-md-3 col-lg-3">
											<label class="control-label" for="inputDataFim">Data fim</label>
											<div id="groupInputDataFim" class="input-group date" data-date-format="DD/MM/YYYY HH:MM">
												<input id="inputDataFim" placeholder="" type="text" class="form-control append-left" />
												<div class="input-group-addon	append-right">
													<span class="fa fa-calendar"></span>
												</div>
											</div>
										</div>
										<div id="groupInputQuantidadetempo" class="form-group col-sm-3 col-md-3 col-lg-3">
											<label class="control-label" for="inputQuantidadetempo">QuantidadeTempo</label>
											<input type="text" id="inputQuantidadetempo" placeholder=""  class="form-control">
										</div>
									</div>
								<div class=" ">
									<button type="button" class="btn btn-info btn-sm search-button">
										<i class="ace-icon fa fa-search bigger-110"></i>
										Pesquisar
									</button>
								</div>
							</div>
							</div>
							<div id="counter" class="pull-left"></div>
							<div class="row center">
								<div class="col-xs-12">
									<div class="widget-box transparent ">
										<div class="widget-body">
											<div class="widget-main padding-0">
												<div id="messages_div"></div>
												<div id="grid" class="table-responsive"></div>
												<div class="row">
													<div id="paginator" class=""></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<a href="javascript:void(0)" class="btn voltar-motorista reset">Voltar para motoqueiros</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div id='motoristaModal'></div>
