<!-- ClienteEndereco´s form -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Formulário de cadastro de Endereço de cliente</li>
	</ul>
</div>
<div class="col-sm-12 page-form ">
	<div id="messages_div"></div>				
	<div class="widget-box transparent_">
		<div class="widget-header ">
			<h4 class="widget-title ">
				<i class="ace-icon fa fa-suitcase"></i>
				Cliente
			</h4>
		</div>
		<div class="widget-body">
			<div class="widget-main ">
				<div class="row">
					<input type="hidden" id="inputClienteId" class="form-control">
					<div id="groupInputNome" class="form-group col-sm-3 col-md-3 col-lg-3">
						<label class="control-label" for="inputNome">Nome</label>
						<input readonly type="text" id="inputClienteNome" class="form-control">
					</div>
					<div id="groupInputEmail" class="form-group col-sm-3 col-md-3 col-lg-3">
						<label class="control-label" for="inputEmail">Email </label>
						<input readonly type="text" id="inputClienteEmail" class="form-control">
					</div>
					<div id="groupInputTipo" class="form-group col-sm-3 col-md-3 col-lg-3">
						<label class="control-label" for="inputTipo">Tipo </label>
						<input readonly type="text" id="inputClienteTipo" class="form-control">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box transparent_  ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-wpforms"></i>
						Formulário de cadastro de Endereço de cliente
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<form role="form" id="formClienteEndereco">
							<div class="row">
								<input type="hidden" id="inputId" value="{{id}}">
								<div id="groupInputEndereco" class="form-group col-sm-4	col-md-4 col-lg-4">
									<label class="control-label" for="inputEndereco">Logradouro *</label>
									<input type="text"  id="inputEndereco" placeholder="" value="{{endereco}}" class="form-control validate[required]"  maxlength="200" >
								</div>
								<div id="groupInputNumero" class="form-group col-sm-2 col-md-2 col-lg-2">
									<label class="control-label" for="inputNumero">Número *</label>
									<input type="text"  id="inputNumero" placeholder="" value="{{numero}}" class="form-control validate[required]"  maxlength="10" >
								</div>
								<div id="groupInputComplemento" class="form-group col-sm-4	col-md-4 col-lg-4">
									<label class="control-label" for="inputComplemento">Complemento</label>
									<input type="text"  id="inputComplemento" placeholder="" value="{{complemento}}" class="form-control"  maxlength="200" >
								</div>
								<div id="groupInputCep" class="form-group col-sm-2 col-md-2 col-lg-2">
									<label class="control-label" for="inputCep">CEP *</label>
									<input type="text"  id="inputCep" placeholder="" value="{{cep}}" class="form-control validate[required]"  maxlength="10" >
								</div>
							</div>
							<div class="row">
								<div id="groupInputBairro" class="form-group col-sm-2 col-md-2 col-lg-2">
									<label class="control-label" for="inputBairro">Bairro *</label>
									<input type="text"  id="inputBairro" placeholder="" value="{{bairro}}" class="form-control validate[required]"  maxlength="100" >
								</div>
								<div id="groupInputCidade" class="form-group col-sm-2 col-md-2 col-lg-2">
									<label class="control-label" for="inputCidade">Cidade *</label>
									<input type="text"  id="inputCidade" placeholder="" value="{{cidade}}" class="form-control validate[required]"  maxlength="50" >
								</div>
								<div id="groupInputUf" class="form-group col-sm-1 col-md-1 col-lg-1">
									<label class="control-label" for="inputUf">UF *</label>
									<input type="text"  id="inputUf" placeholder="" value="{{uf}}" class="form-control validate[required]"  maxlength="2" >
								</div>
								<div id="groupInputReferencia" class="form-group col-sm-7 col-md-7 col-lg-7">
									<label class="control-label" for="inputReferencia">Referência</label>
									<input type="text"  id="inputReferencia" placeholder="" value="{{referencia}}" class="form-control   "  maxlength="200" >
								</div>
							</div>
							<!-- <div class="row">
								<div id="groupInputTipo" class="form-group col-sm-2 col-md-2 col-lg-2">
									<label class="control-label" for="inputTipo">Tipo  </label>
									<input type="text"  id="inputTipo" placeholder="" value="{{tipo}}" class="form-control   "  maxlength="10" >
								</div>
								<div id="groupInputFavorito" class="form-group checkbox col-sm-1 col-md-1 col-lg-1">
									<label class="checkbox ">
										<input id="inputFavorito" type="checkbox" {{favorito ? 'checked' :''}}>
										Favorito
									</label>
								</div>
							</div> -->
						</form>
					</div>
				</div>
				<div class="">
					<div class="clearfix form-actions">
						<a id="save" href="javascript:void(0)" id="save"  class="save btn btn-primary" style="display:none;">
							<i class="ace-icon save fa fa-check bigger-110"></i>
							Salvar
						</a>
						<a id="saveContinue" href="javascript:void(0)" class=" saveAndContinue  btn btn-info" style="display:none;">
							<i class="ace-icon fa fa-check bigger-110"></i>
							Salvar e Continuar
						</a>
							<a class="go-back-link btn btn-light" href="javascript:void(-1)">
							<i class="ace-icon fa fa-undo bigger-110"></i>
							Voltar para a listagem
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<div id='clienteModal'></div>
