<!-- generated: 16/10/2016 15:27:07 -->
<!-- ClienteEndereco´s page -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Pesquisa enderecos de empresa</li>
	</ul>
</div>
<div class="col-sm-12 page-form">
	<div id="messages_div"></div>
	<div class="widget-box transparent_">
		<div class="widget-header ">
			<h4 class="widget-title ">
				<i class="ace-icon fa fa-suitcase"></i>
				Empresa
			</h4>
		</div>
		<div class="widget-body">
			<div class="widget-main ">
				<div class="row">
					<input type="hidden" id="inputEmpresaId" class="form-control">
					<div id="groupInputNomeFantasia" class="form-group col-sm-3 col-md-3 col-lg-3">
						<label class="control-label" for="inputEmpresaNomeFantasia">Nome Fantasia </label>
						<input readonly type="text" id="inputEmpresaNomeFantasia" class="form-control">
					</div>
					<div id="groupInputCnpj" class="form-group col-sm-3 col-md-3 col-lg-3">
						<label class="control-label" for="inputEmpresaCnpj">CNPJ </label>
						<input readonly type="text" id="inputEmpresaCnpj" class="form-control">
					</div>
					<div id="groupInputContrato" class="form-group col-sm-3 col-md-3 col-lg-3">
						<label class="control-label" for="inputEmpresaContrato">Contrato </label>
						<input readonly type="text" id="inputEmpresaContrato" class="form-control">
					</div>
					<div id="groupInputRazaoSocial" class="form-group col-sm-3 col-md-3 col-lg-3">
						<label class="control-label" for="inputEmpresaRazaoSocial">Razão social </label>
						<input readonly type="text" id="inputEmpresaRazaoSocial" class="form-control">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-search"></i>
						Pesquisa de endereco de empresa
					</h4>
				</div>
				<div class="widget-body">
					<form id="formClienteEnderecoFilter">
						<div class="widget-main  ">
							<div class="row">
								<div class="col-xs-6">
									<a href="javascript:void(-1)" class="btn btn-success novo-endereco">
										<i class="fa fa-plus-circle"></i>
										Novo Registro
									</a>
									<a href="javascript:void(0)" id="reset" class="btn reset" >Limpar</a>
								</div>
								<div class="col-sm-6">
									<div class="input-group">
										<input id="inputEndereco" type="text" class="form-control search-query" placeholder="Pesquisar pelo Logradouro">
										<span id="query" class="input-group-btn ">
											<button type="button" class="btn btn-inverse btn-white search-button">
												<span class="ace-icon fa fa-search icon-on-right bigger-110 "></span>
												Pesquisar
											</button>
										</span>
									</div>
									<div>
										<a href="javascript:void(-1)" class="show-advanced-search-button"> Pesquisa avançada... </a>
									</div>
								</div>
							</div>
							<div class="widget-box transparent advanced-search-form">
								<div class="widget-header">
									<h4 class="widget-title lighter">Filtros avançados</h4>
								</div>
								<div class="widget-body">
								<!-- inicio dos registros-->							
									<div class="row">
										<div id="groupInputEndereco" class="form-group col-sm-4 col-md-4 col-lg-4">
											<label class="control-label" for="inputEndereco">Logradouro</label>
											<input type="text" id="inputAvancadoEndereco" placeholder=""  class="form-control">
										</div>
										<div id="groupInputNumero" class="form-group col-sm-2 col-md-2 col-lg-2">
											<label class="control-label" for="inputNumero">Número</label>
											<input type="text" id="inputNumero" placeholder=""  class="form-control">
										</div>
										<div id="groupInputComplemento" class="form-group col-sm-4 col-md-4 col-lg-4">
											<label class="control-label" for="inputComplemento">Complemento</label>
											<input type="text" id="inputComplemento" placeholder=""  class="form-control">
										</div>
										<div id="groupInputCep" class="form-group col-sm-2 col-md-2 col-lg-2">
											<label class="control-label" for="inputCep">CEP</label>
											<input type="text" id="inputCep" placeholder=""  class="form-control">
										</div>
									</div>
									<div class="row">
										<div id="groupInputBairro" class="form-group col-sm-2 col-md-2 col-lg-2">
											<label class="control-label" for="inputBairro">Bairro</label>
											<input type="text" id="inputBairro" placeholder=""  class="form-control">
										</div>
										<div id="groupInputCidade" class="form-group col-sm-2 col-md-2 col-lg-2">
											<label class="control-label" for="inputCidade">Cidade</label>
											<input type="text" id="inputCidade" placeholder=""  class="form-control">
										</div>
										<div id="groupInputUf" class="form-group col-sm-1 col-md-1 col-lg-1">
											<label class="control-label" for="inputUf">UF</label>
											<input type="text" id="inputUf" placeholder=""  class="form-control">
										</div>
										<div id="groupInputReferencia" class="form-group col-sm-7 col-md-7 col-lg-7">
											<label class="control-label" for="inputReferencia">Referência</label>
											<input type="text" id="inputReferencia" placeholder=""  class="form-control">
										</div>
									</div>
									<!-- <div class="row">
										<div id="groupInputTipo" class="form-group col-sm-2 col-md-2 col-lg-2">
											<label class="control-label" for="inputTipo">Tipo</label>
											<input type="text" id="inputTipo" placeholder=""  class="form-control">
										</div>
										<div id="groupInputFavorito" class="form-group checkbox col-sm-1 col-md-1 col-lg-1">
											<label class="checkbox ">
												<input id="inputFavorito" type="checkbox" >
												Favorito
											</label>
										</div>
									</div> -->
								<div class=" ">
									<button type="button" class="btn btn-info btn-sm search-button">
										<i class="ace-icon fa fa-search bigger-110"></i>
										Pesquisar
									</button>
								</div>
							</div>
							</div>
							<div id="counter" class="pull-left"></div>
							<div class="row center">
								<div class="col-xs-12">
									<div class="widget-box transparent ">
										<div class="widget-body">
											<div class="widget-main padding-0">
												<div id="messages_div"></div>
												<div id="grid" class="table-responsive"></div>
												<div class="row">
													<div id="paginator" class=""></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
							<a href="javascript:void(0)" class="btn voltar-empresa reset">Voltar para a empresa</a>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div id='empresaModal'></div>
