<!-- Session´s form -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Formulário de cadastro de Sessão</li>
	</ul>
</div>
<div class="col-sm-12 page-form ">
	<div id="messages_div"></div>				
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box transparent_  ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-wpforms"></i>
						Formulário de cadastro de Sessão
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<form role="form" id="formSession">
							<input type="hidden" id="inputId" value="{{id}}">
							<div id="groupInputName" class="form-group">
								<label class="control-label" for="inputName">Nome  </label>
								<input type="text"  id="inputName" placeholder="" value="{{name}}" class="form-control   "  >
							</div>
							<div id="groupInputCreationDateContainer" class="form-group">
								<label class="control-label" for="inputCreationDate">Data da criação  </label>
								<div id="groupInputCreationDate" class="input-group date" data-date-format="DD/MM/YYYY DD:MM">
									<input id="inputCreationDate" placeholder="Escolha ou digite uma data." type="text" class="form-control   append-left" value="{{creationDate}}" />
									<div class="input-group-addon	append-right">
										<span class="fa fa-calendar"></span>
									</div>
								</div>
							</div>
							<div class="roles-container panel"></div>					
							<div id="groupInputUser" class="form-group">
								<label class="control-label" for="inputUser">Usuario</label>
								<select class="form-control" id="inputUser"></select>
							</div>					
					</form>
				</div>
			</div>
			<div class="">
				<div class="clearfix form-actions">
					<a href="javascript:void(0)" id="save"  class="save btn btn-primary">
						<i class="ace-icon save fa fa-check bigger-110"></i>
						Salvar
					</a>
					&nbsp; &nbsp; &nbsp;
					<a href="javascript:void(0)" class=" saveAndContinue  btn btn-info" style="display: {{ id ? 'none' : 'inline-block' }} ">
						<i class="ace-icon fa fa-check bigger-110"></i>
						Salvar e Continuar
					</a>
					&nbsp; &nbsp; &nbsp;
					<a class="go-back-link btn btn-light" href="#app/sessions">
						<i class="ace-icon fa fa-undo bigger-110"></i>
						Voltar para a listagem
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
