<!-- Empresa´s form -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Formulário de cadastro de Empresa</li>
	</ul>
</div>
<div class="col-sm-12 page-form ">
	<div id="messages_div"></div>
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="widget-box transparent_  ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-wpforms"></i>
						Formulário de cadastro de Empresa
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<form role="form" id="formEmpresa">
							<input type="hidden" id="inputId" value="{{id}}">
							<h4 class="header smaller blue">Dados Cadastrais</h4>
							<div class="row">
								<div id="groupInputContrato" class="form-group col-sm-3 col-md-3 col-lg-3">
									<label class="control-label" for="inputContrato">Contrato *</label>
									<input type="text" id="inputContrato" placeholder="" value="{{contrato}}" class="form-control validate[required]" maxlength="20">
								</div>
								<div id="groupInputCnpj" class="form-group col-sm-3 col-md-3 col-lg-3">
									<label class="control-label" for="inputCnpj">CNPJ *</label>
									<input type="text" id="inputCnpj" placeholder="" value="{{cnpj}}" class="form-control validate[required]" maxlength="18">
								</div>
							</div>
							<div class="row">
								<div id="groupInputRazaoSocial" class="form-group col-sm-6 col-md-6 col-lg-6">
									<label class="control-label" for="inputRazaoSocial">Razão social *</label>
									<input type="text" id="inputRazaoSocial" placeholder="" value="{{razaoSocial}}" class="form-control validate[required]" maxlength="200">
								</div>
								<div id="groupInputNomeFantasia" class="form-group col-sm-6 col-md-6 col-lg-6">
									<label class="control-label" for="inputNomeFantasia">Nome Fantasia *</label>
									<input type="text" id="inputNomeFantasia" placeholder="" value="{{nomeFantasia}}" class="form-control validate[required]" maxlength="200">
								</div>
							</div>
							<div class="row">
								<div id="groupInputFone" class="form-group col-sm-3 col-md-3 col-lg-3">
									<label class="control-label" for="inputFone">Telefone </label>
									<div class="input-group">
										<span class="input-group-addon">
											<i class="ace-icon fa fa-phone"></i>
										</span>
										<input type="text" id="inputFone" placeholder="" value="{{ fone ? fone : '(85)' }}" class="form-control   " maxlength="15">
									</div>
								</div>
								<div id="groupInputEmail" class="form-group col-sm-5	col-md-5	col-lg-5">
									<label class="control-label" for="inputEmail">Email</label>
									<input type="text" id="inputEmail" placeholder="" value="{{email}}" class="form-control   " maxlength="100">
								</div>
							</div>
							<div class="row">
								<div id="groupInputInscricaoMunicipal" class="form-group col-sm-2	col-md-2	col-lg-2">
									<label class="control-label" for="inputInscricaoMunicipal">Inscrição municipal </label>
									<input type="text" id="inputInscricaoMunicipal" placeholder="" value="{{inscricaoMunicipal}}" class="form-control   " maxlength="14">
								</div>
								<div id="groupInputInscricaoEstadual" class="form-group col-sm-2	col-md-2	col-lg-2">
									<label class="control-label" for="inputInscricaoEstadual">Inscrição estadual </label>
									<input type="text" id="inputInscricaoEstadual" placeholder="" value="{{inscricaoEstadual}}" class="form-control   " maxlength="14">
								</div>
								<div id="groupInputEmiteNf" class="form-group checkbox col-sm-2	col-md-2	col-lg-2">
									<label class="block checkbox">
										<input id="inputEmiteNf" type="checkbox" {{emiteNf ? 'checked' :''}} class="ace input-lg">
										<span class="lbl "> Emite nf</span>
									</label>
								</div>
								<div id="groupInputPercentualIss" class="form-group col-sm-2	col-md-2	col-lg-2">
									<label class="control-label" for="inputPercentualIss"> ISS % </label>
									<input type="text" id="inputPercentualIss" placeholder="" value="{{percentualIss}}" class="form-control   validate[max[99.99]]   " maxlength="5">
								</div>
								<div id="groupInputPercentualIrf" class="form-group col-sm-2	col-md-2	col-lg-2">
									<label class="control-label" for="inputPercentualIrf">IRF % </label>
									<input type="text" id="inputPercentualIrf" placeholder="" value="{{percentualIrf}}" class="form-control   validate[max[99.99]]   " maxlength="5">
								</div>
								<div id="groupInputPercentualInss" class="form-group col-sm-2	col-md-2	col-lg-2">
									<label class="control-label" for="inputPercentualInss">INSS % </label>
									<input type="text" id="inputPercentualInss" placeholder="" value="{{percentualInss}}" class="form-control validate[max[99.99]]   " maxlength="5">
								</div>
							</div>
							<div class="row">
								<div id="groupInputDiaVencimento" class="form-group col-sm-2	col-md-2	col-lg-2">
									<label class="control-label" for="inputDiaVencimento">Dia vencimento *</label>
									<input type="text" id="inputDiaVencimento" placeholder="" value="{{diaVencimento}}" class="form-control validate[required,min[1],max[28]]" maxlength="2">
								</div>
								<div id="groupInputPercentualDesconto" class="form-group col-sm-2	col-md-2	col-lg-2">
									<label class="control-label" for="inputPercentualDesconto"> Desconto % </label>
									<input type="text" id="inputPercentualDesconto" placeholder="" value="{{percentualDesconto}}" class="form-control   validate[max[99.99]]  " maxlength="5">
								</div>
								<div id="groupInputPercentualMotorista" class="form-group col-sm-2	col-md-2	col-lg-2">
									<label class="control-label" for="inputPercentualMotorista">Motoqueiro % </label>
									<input type="text" id="inputPercentualMotorista" placeholder="" value="{{percentualMotorista}}" class="form-control   ">
								</div>
								<div id="groupInputStatusEmpresa" class="form-group  col-sm-2	col-md-2	col-lg-2">
									<label class="control-label" for="inputStatusEmpresa">Status *</label>
									<select type="text" id="inputStatusEmpresa" class="form-control validate[required]">
										<option value="">-- Selecione --</option>
										<option value='Ativa' {{statusEmpresa !=null && statusEmpresa=="Ativa" ? 'selected' :''}}>Ativa</option>
										<option value='Inativa' {{statusEmpresa !=null && statusEmpresa=="Inativa" ? 'selected' :''}}>Inativa</option>
										<option value='Suspensa' {{statusEmpresa !=null && statusEmpresa=="Suspensa" ? 'selected' :''}}>Suspensa</option>
									</select>
								</div>
								<div id="groupInputUtilizaVoucher" class="form-group checkbox  col-sm-2	col-md-2	col-lg-2">
									<label class="block checkbox">
										<input id="inputUtilizaVoucher" type="checkbox" {{utilizaVoucher ? 'checked' :''}} class="ace input-lg">
										<span class="lbl "> Utiliza voucher</span>
									</label>
								</div>
								<div id="groupInputUtilizaEticket" class="form-group checkbox  col-sm-2	col-md-2	col-lg-2">
									<label class="block checkbox">
										<input id="inputUtilizaEticket" type="checkbox" {{utilizaEticket ? 'checked' :''}} class="ace input-lg">
										<span class="lbl bigger-120"> Utiliza eticket</span>
									</label>
								</div>
							</div>
							<h4 class="header smaller blue">Endereço comercial</h4>
							<div class="row">
								<div class="form-group col-sm-12">
									<label>Endereço (com Número)</label>
									<input type="text" class="inputEnderecoCombo form-control" value=''>
								</div>
							</div>
							<div class="row">
								<div id="groupInputEndereco" class="form-group col-sm-4	col-md-4 col-lg-4"> 
									<label class="control-label" for="inputEndereco">Logradouro</label>
									<input type="text" id="inputEndereco" placeholder="" value="{{endereco}}" class="form-control" maxlength="200"></input>
								</div>
								<div id="groupInputNumeroEndereco" class="form-group col-sm-2	col-md-2	col-lg-2">
									<label class="control-label" for="inputNumeroEndereco">Número</label>
									<input type="text" id="inputNumeroEndereco" placeholder="" value="{{numeroEndereco}}" class="form-control" maxlength="10">
								</div>
								<div id="groupInputComplemento" class="form-group col-sm-4	col-md-4	col-lg-4">
									<label class="control-label" for="inputComplemento">Complemento</label>
									<input type="text" id="inputComplemento" placeholder="" value="{{complemento}}" class="form-control" maxlength="100">
								</div>
								<div id="groupInputCep" class="form-group col-sm-2	col-md-2	col-lg-2">
									<label class="control-label" for="inputCep">CEP</label>
									<input type="text" id="inputCep" placeholder="" value="{{cep}}" class="form-control" maxlength="10">
								</div>
							</div>
							<div class="row">
								<div id="groupInputBairro" class="form-group col-sm-2	col-md-2	col-lg-2">
									<label class="control-label" for="inputBairro">Bairro</label>
									<input type="text" id="inputBairro" placeholder="" value="{{bairro}}" class="form-control" maxlength="100">
								</div>
								<div id="groupInputCidade" class="form-group col-sm-2	col-md-2	col-lg-2">
									<label class="control-label" for="inputCidade">Cidade</label>
									<input type="text" id="inputCidade" placeholder="" value="{{cidade}}" class="form-control" maxlength="50">
								</div>
								<div id="groupInputUf" class="form-group col-sm-1	col-md-1	col-lg-1">
									<label class="control-label" for="inputUf">UF</label>
									<input type="text" id="inputUf" placeholder="" value="{{uf}}" class="form-control" maxlength="2">
								</div>
								<div id="groupInputReferenciaEndereco" class="form-group col-sm-7	col-md-7	col-lg-7">
									<label class="control-label" for="inputReferenciaEndereco">Referência endereço </label>
									<input type="text" id="inputReferenciaEndereco" placeholder="" value="{{referenciaEndereco}}" class="form-control" maxlength="200">
								</div>
							</div>
							<h4 class="header smaller blue">Dados Bancários</h4>
							<div class="row">
								<div id="groupInputBanco" class="form-group col-sm-5	col-md-5	col-lg-4">
									<label class="control-label" for="inputBanco">Banco </label>
									<select type="text" id="inputBanco" placeholder="" class="form-control   " maxlength="10">
									</select>
								</div>
								<div id="groupInputAgencia" class="form-group col-sm-2	col-md-2	col-lg-2">
									<label class="control-label" for="inputAgencia">Agência </label>
									<input type="text" id="inputAgencia" placeholder="" value="{{agencia}}" class="form-control   " maxlength="10">
								</div>
								<div id="groupInputConta" class="form-group col-sm-2	col-md-2	col-lg-2">
									<label class="control-label" for="inputConta">Conta </label>
									<input type="text" id="inputConta" placeholder="" value="{{conta}}" class="form-control   " maxlength="20">
								</div>
							</div>
							<h4 class="header smaller blue">Referências de Clientes</h4>
							<div class="row">
								<div id="groupInputNomeCliente1" class="form-group col-sm-6	col-md-6	col-lg-6  ">
									<label class="control-label" for="inputNomeCliente1">Nome</label>
									<input type="text" id="inputNomeCliente1" placeholder="" value="{{nomeCliente1}}" class="form-control" maxlength="200">
								</div>
								<div id="groupInputFoneCliente1" class="form-group col-sm-3	col-md-3	col-lg-3  ">
									<label class="control-label" for="inputFoneCliente1">Telefone</label>
									<div class="input-group">
										<span class="input-group-addon">
											<i class="ace-icon fa fa-phone"></i>
										</span>
										<input type="text" id="inputFoneCliente1" placeholder="" value="{{ foneCliente1 ? foneCliente1 : '(85)' }}" class="form-control" maxlength="15">
									</div>
								</div>
								<div id="groupInputNomeCliente2" class="form-group col-sm-6	col-md-6	col-lg-6  ">
									<label class="control-label" for="inputNomeCliente2">Nome</label>
									<input type="text" id="inputNomeCliente2" placeholder="" value="{{nomeCliente2}}" class="form-control" maxlength="200">
								</div>
								<div id="groupInputFoneCliente2" class="form-group col-sm-3	col-md-3	col-lg-3  ">
									<label class="control-label" for="inputFoneCliente2">Telefone</label>
									<div class="input-group">
										<span class="input-group-addon">
											<i class="ace-icon fa fa-phone"></i>
										</span>
										<input type="text" id="inputFoneCliente2" placeholder="" value="{{ foneCliente2 ? foneCliente2 : '(85)' }}" class="form-control " maxlength="15">
									</div>
								</div>
							</div>
							<h4 class="header smaller blue">Referências de Fornecedores</h4>
							<div class="row">
								<div id="groupInputNomeFornecedor1" class="form-group col-sm-6	col-md-6	col-lg-6  ">
									<label class="control-label" for="inputNomeFornecedor1">Nome</label>
									<input type="text" id="inputNomeFornecedor1" placeholder="" value="{{nomeFornecedor1}}" class="form-control" maxlength="200">
								</div>
								<div id="groupInputFoneFornecedor1" class="form-group col-sm-3	col-md-3	col-lg-3  ">
									<label class="control-label" for="inputFoneFornecedor1">Telefone</label>
									<div class="input-group">
										<span class="input-group-addon">
											<i class="ace-icon fa fa-phone"></i>
										</span>
										<input type="text" id="inputFoneFornecedor1" placeholder="" value="{{ foneFornecedor1 ? foneFornecedor1 : '(85)' }}" class="form-control " maxlength="15">
									</div>
								</div>
								<div id="groupInputNomeFornecedor2" class="form-group col-sm-6	col-md-6	col-lg-6  ">
									<label class="control-label" for="inputNomeFornecedor2">Nome</label>
									<input type="text" id="inputNomeFornecedor2" placeholder="" value="{{nomeFornecedor2}}" class="form-control" maxlength="200">
								</div>
								<div id="groupInputFoneFornecedor2" class="form-group col-sm-3	col-md-3	col-lg-3  ">
									<label class="control-label" for="inputFoneFornecedor2">Telefone</label>
									<div class="input-group">
										<span class="input-group-addon">
											<i class="ace-icon fa fa-phone"></i>
										</span>
										<input type="text" id="inputFoneFornecedor2" placeholder="" value="{{ foneFornecedor2 ? foneFornecedor2 : '(85)' }}" class="form-control" maxlength="15">
									</div>
								</div>
							</div>
							<h4 class="header smaller blue">Observações</h4>
							<div class="row">
								<div id="groupInputObservacaoTaxista" class="form-group col-sm-6	col-md-6	col-lg-6">
									<label class="control-label" for="inputObservacaoTaxista">Observação motoqueiro </label>
									<textarea rows="3" id="inputObservacaoTaxista" placeholder="Observação taxista" value="{{observacaoTaxista}}" class="form-control  " maxlength="1000">{{observacaoTaxista}} </textarea>
								</div>
								<div id="groupInputObservacaoCentral" class="form-group col-sm-6	col-md-6	col-lg-6">
									<label class="control-label" for="inputObservacaoCentral">Observação central </label>
									<textarea rows="3" id="inputObservacaoCentral" placeholder="Observação central" value="{{observacaoCentral}}" class="form-control  " maxlength="1000">{{observacaoCentral}} </textarea>
								</div>
							</div>
							<div class="row">
								<div id="groupInputObservacaoFinanceiro" class="form-group col-sm-6	col-md-6	col-lg-6">
									<label class="control-label" for="inputObservacaoFinanceiro">Observação financeiro</label>
									<textarea rows="3" id="inputObservacaoFinanceiro" placeholder="Observação financeiro" value="{{observacaoFinanceiro}}" class="form-control  " maxlength="1000">{{observacaoFinanceiro}} </textarea>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="">
					<div class="clearfix form-actions">
						<a id="save" href="javascript:void(0)" id="save" class="save btn btn-primary" style="display:none;">
							<i class="ace-icon save fa fa-check bigger-110"></i>
							Salvar
						</a>
						<a id="saveContinue" href="javascript:void(0)" class=" saveAndContinue  btn btn-info" style="display:none;">
							<i class="ace-icon fa fa-check bigger-110"></i>
							Salvar e Continuar
						</a>
						<a class="go-back-link btn btn-light" href="#app/empresas">
							<i class="ace-icon fa fa-undo bigger-110"></i>
							Voltar para a listagem
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>