<!-- generated: 16/10/2016 15:27:08 -->
<!-- Empresa´s page -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Pesquisa Empresa</li>
	</ul>
</div>
<div class="col-sm-12 page-form">
	<div id="messages_div"></div>
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-search"></i>
						Pesquisa de Empresa
					</h4>
				</div>
				<div class="widget-body">
					<form id="formEmpresaFilter">
						<div class="widget-main  ">
							<div class="row">
								<div class="col-xs-6">
									<a id="new" href="#app/newEmpresa" class="btn btn-success" style="display: none;">
										<i class="fa fa-plus-circle"></i>
										Nova Empresa
									</a>
									<a href="javascript:void(0)" id="reset" class="btn reset">Limpar</a>
								</div>
								<div class="col-sm-6">
									<div class="input-group">
										<input id="inputNomeFantasia" type="text" class="form-control search-query" placeholder="Nome Fantasia">
										<span id="query" class="input-group-btn ">
											<button type="button" class="btn btn-inverse btn-white search-button">
												<span class="ace-icon fa fa-search icon-on-right bigger-110 "></span>
												Pesquisar
											</button>
										</span>
									</div>
									<div>
										<a href="javascript:void(-1)" class="show-advanced-search-button"> Pesquisa avançada... </a>
									</div>
								</div>
							</div>
							<div class="widget-box transparent advanced-search-form">
								<div class="widget-header">
									<h4 class="widget-title lighter">Filtros avançados</h4>
								</div>
								
								<div class="widget-body">
									<div class="row">
										<!-- inicio dos registros-->
										<div id="groupInputNomeFantasia" class="form-group col-sm-3 col-md-3 col-lg-3">
											<label class="control-label" for="inputAvancadoNomeFantasia">Nome Fantasia</label>
											<input type="text" id="inputAvancadoNomeFantasia" placeholder="" class="form-control">
										</div>
										<div id="groupInputCnpj" class="form-group col-sm-3 col-md-3 col-lg-3">
											<label class="control-label" for="inputCnpj">CNPJ</label>
											<input type="text" id="inputCnpj" placeholder="" class="form-control">
										</div>
										<div id="groupInputContrato" class="form-group col-sm-3 col-md-3 col-lg-3">
											<label class="control-label" for="inputContrato">Contrato</label>
											<input type="text" id="inputContrato" placeholder="" class="form-control">
										</div>
										<div id="groupInputRazaoSocial" class="form-group col-sm-3 col-md-3 col-lg-3">
											<label class="control-label" for="inputRazaoSocial">Razão social</label>
											<input type="text" id="inputRazaoSocial" placeholder="" class="form-control">
										</div>
									</div>
									<div class=" ">
										<button type="button" class="btn btn-info btn-sm search-button">
											<i class="ace-icon fa fa-search bigger-110"></i>
											Pesquisar
										</button>
									</div>
								</div>
							</div>
							<div id="counter" class="pull-left"></div>
							<div class="row center">
								<div class="col-xs-12">
									<div class="widget-box transparent ">
										<div class="widget-body">
											<div class="widget-main padding-0">
												<div id="messages_div"></div>
												<div id="grid" class="table-responsive"></div>
												<div class="row">
													<div id="paginator" class=""></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

