<!-- Funcionario´s form -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Formulário de cadastro de Funcionario</li>
	</ul>
</div>
<div class="col-sm-12 page-form ">
	<div id="messages_div"></div>
	<div class="widget-box transparent_">
		<div class="widget-header ">
			<h4 class="widget-title ">
				<i class="ace-icon fa fa-suitcase"></i>
				Empresa
			</h4>
		</div>
		<div class="widget-body">
			<div class="widget-main ">
				<div class="row">
					<input type="hidden" id="inputEmpresaId" class="form-control">
					<div id="groupInputNomeFantasia" class="form-group col-sm-3 col-md-3 col-lg-3">
						<label class="control-label" for="inputNomeFantasia">Nome Fantasia </label>
						<input readonly type="text" id="inputEmpresaNomeFantasia" class="form-control">
					</div>
					<div id="groupInputCnpj" class="form-group col-sm-3 col-md-3 col-lg-3">
						<label class="control-label" for="inputCnpj">CNPJ </label>
						<input readonly type="text" id="inputEmpresaCnpj" class="form-control">
					</div>
					<div id="groupInputContrato" class="form-group col-sm-3 col-md-3 col-lg-3">
						<label class="control-label" for="inputContrato">Contrato </label>
						<input readonly type="text" id="inputEmpresaContrato" class="form-control">
					</div>
					<div id="groupInputRazaoSocial" class="form-group col-sm-3 col-md-3 col-lg-3">
						<label class="control-label" for="inputRazaoSocial">Razão social </label>
						<input readonly type="text" id="inputEmpresaRazaoSocial" class="form-control">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box transparent_  ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-wpforms"></i>
						Formulário de cadastro de Funcionario
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<form role="form" id="formFuncionario">
							<input type="hidden" id="inputId" value="{{id}}">
							<div class="row">
								<div id="groupInputNome" class="form-group col-sm-4	col-md-4 col-lg-4">
									<label class="control-label" for="inputNome">Nome *</label>
									<input type="text" id="inputNome" placeholder="" value="{{nome}}" class="form-control   validate[required]" maxlength="200">
								</div>
								<div id="groupInputEmail" class="form-group col-sm-4 col-md-4 col-lg-4">
									<label class="control-label" for="inputEmail">E-mail</label>
									<input type="text" id="inputEmail" placeholder="" value="{{email}}" class="form-control  validate[custom[email]] " maxlength="100">
								</div>
								<div id="groupInputCpf" class="form-group col-sm-3	col-md-3 col-lg-3">
									<label class="control-label" for="inputCpf">CPF</label>
									<input type="text" id="inputCpf" placeholder="" value="{{cpf}}" class="form-control" maxlength="14">
								</div>
							</div>
							<div class="row">
								<div id="groupInputTelefone" class="form-group col-sm-3 col-md-3 col-lg-3">
									<label class="control-label" for="inputTelefone">Login aplicativo</label>
									<div class="input-group">
										<span class="input-group-addon">
											<i class="ace-icon fa fa-phone"></i>
										</span>
										<input type="text" id="inputTelefone" placeholder="" value="{{ telefone ? telefone : '(85)' }}" class="form-control" maxlength="15">
									</div>
								</div>
								<div id="groupInputSenha" class="form-group col-sm-3 col-md-3 col-lg-3">
									<label class="control-label" for="inputSenha">Senha</label>
									<input type="text" id="inputSenha" placeholder="" value="{{senha}}" class="form-control  validate[minSize[6]] " maxlength="100">
								</div>
								<div id="groupInputInativo" class="form-group checkbox col-sm-2 col-md-2 col-lg-2">
									<label class="block checkbox">
										<input id="inputInativo" type="checkbox" {{inativo ? 'checked' :''}} class="ace input-lg">
										<span class="lbl "> Inativo </span>
									</label>
								</div>
								<!-- <div id="groupInputMatricula" class="form-group col-sm-3	col-md-3 col-lg-3">
									<label class="control-label" for="inputMatricula">Matricula </label>
									<input type="number" id="inputMatricula" placeholder="" value="{{matricula}}" class="form-control" maxlength="9">
								</div> -->
								<div id="groupInputTipo" class="form-group" style="display: none">
									<label class="control-label" for="inputTipo">Tipo </label>
									<input type="text" id="inputTipo" placeholder="" value="FUNCIONARIO">
								</div>
							</div>
							<div class="row">
								<input type="hidden" id="inputLimiteDisponivel" class="form-control">
								<div id="groupInputCentroCustoContainer" class="form-group col-sm-5	col-md-5 col-lg-5">
									<label class="control-label" for="inputCentroCusto">Centro custo *        <span id="limiteDisponivel" style="color:red"></span></label>
									<div id="groupInputCentroCusto" class="input-group">
										<input id="inputCentroCustoId" type="hidden" class="form-control append-left validate[required]" value="{{centroCusto && centroCusto.id}}" />
										<input id="inputCentroCustoDescricao" placeholder="Escolha um Centro custo" type="text" class="form-control append-left" value="{{centroCusto && centroCusto.descricao}}" />
										<div class="input-group-addon append-right" id="searchCentroCustoModal" data-toggle="modal">
											<span class="fa fa-search"></span>
										</div>
									</div>
								</div>
								<div id="groupInputLimiteMensal" class="form-group col-sm-3	col-md-3 col-lg-3">
									<label class="control-label" for="inputLimiteMensal">Limite mensal R$ * </label>
									<input type="text" id="inputLimiteMensal" placeholder="" value="{{limiteMensal}}" class="form-control validate[required] " maxlength="12"  style="text-align: right;">
								</div>
								<div id="groupInputAutorizaEticket" class="form-group checkbox col-sm-2	col-md-2	col-lg-2">
									<label class="block checkbox">
										<input id="inputAutorizaEticket" type="checkbox" {{autorizaEticket ? 'checked' :''}} class="ace input-lg">
										<span class="lbl "> Autoriza eticket</span>
									</label>
								</div>
							</div>
							<!-- 							<div id="groupInputUsuarioCadastro" class="form-group"> -->
							<!-- 								<label class="control-label" for="inputUsuarioCadastro">Usuario cadastro </label> -->
							<!-- 								<input type="text" id="inputUsuarioCadastro" placeholder="" value="{{usuarioCadastro}}" class="form-control   "> -->
							<!-- 							</div> -->
							<!-- 							<div id="groupInputDataCadastroContainer" class="form-group"> -->
							<!-- 								<label class="control-label" for="inputDataCadastro">Data cadastro </label> -->
							<!-- 								<div id="groupInputDataCadastro" class="input-group date" data-date-format="DD/MM/YYYY"> -->
							<!-- 									<input id="inputDataCadastro" placeholder="Escolha ou digite uma data." type="text" class="form-control   append-left" value="{{dataCadastro}}" /> -->
							<!-- 									<div class="input-group-addon	append-right"> -->
							<!-- 										<span class="fa fa-calendar"></span> -->
							<!-- 									</div> -->
							<!-- 								</div> -->
							<!-- 							</div> -->
							<div id="groupInputObservacao" class="form-group">
								<label class="control-label" for="inputObservacao">Dados Extras/Observações </label>
								<textarea rows="3" id="inputObservacao" placeholder="Observação" value="{{observacao}}" class="form-control  " maxlength="500">{{observacao}} </textarea>
							</div>
						</form>
					</div>
				</div>
				<div class="">
					<div class="clearfix form-actions">
						<a id="save" href="javascript:void(0)" id="save" class="save btn btn-primary" style="display:none;">
							<i class="ace-icon save fa fa-check bigger-110"></i>
							Salvar
						</a>
						<a id="saveContinue" href="javascript:void(0)" class=" saveAndContinue  btn btn-info" style="display:none;">
							<i class="ace-icon fa fa-check bigger-110"></i>
							Salvar e Continuar
						</a>
						<a class="go-back-link btn btn-light" href="javascript:void(-1)">
							<i class="ace-icon fa fa-undo bigger-110"></i>
							Voltar para a listagem
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id='empresaModal'></div>
	<div id='centroCustoModal'></div>