<!-- HdUsuario´s form -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Formulário de cadastro de Usuário</li>
	</ul>
</div>
<div class="col-sm-12 page-form ">
	<div id="messages_div"></div>				
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box transparent_  ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-wpforms"></i>
						Formulário de cadastro de Usuário
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<form role="form" id="formHdUsuario">
							<div class="row">
								<input type="hidden" id="inputId" value="{{id}}">
								<div id="groupInputNome" class="form-group col-sm-4 col-md-4 col-lg-4">
									<label class="control-label" for="inputNome">Nome *</label>
									<input type="text"  id="inputNome" placeholder="" value="{{nome}}" class="form-control  validate[required] "  maxlength="100" >
								</div>
								<div id="groupInputEmail" class="form-group col-sm-4 col-md-4 col-lg-4">
									<label class="control-label" for="inputEmail">Email *</label>
									<input type="text"  id="inputEmail" placeholder="" value="{{email}}" class="form-control validate[required,custom[email]]"  maxlength="100" >
								</div>
							</div>
							<div class="row">
								<div id="groupInputTipo" class="form-group col-sm-2 col-md-2 col-lg-2">
									<label class="control-label" for="inputTipo">Tipo *</label>
									<select type="text" id="inputTipo" class="form-control  validate[required] ">
										<option value="">-- Selecione --</option>
										<option value="Central" {{tipo !=null && tipo=="Central" ? 'selected' :''}}>Central</option>
										<option value="Empresa" {{tipo !=null && tipo=="Empresa" ? 'selected' :''}}>Empresa</option>
									</select>
								</div>
								<div id="groupInputPerfil" class="form-group col-sm-2 col-md-2 col-lg-2">
									<label class="control-label" for="inputPerfil">Perfil *</label>
									<select type="text" id="inputPerfil" class="form-control validate[required]">
										<option value="">-- Selecione --</option>
										<option value="Gestor" {{perfil !=null && perfil == "Gestor" ? 'selected' : ''}}>Gestor</option>
										<option value="Operador" {{perfil !=null && perfil == "Operador" ? 'selected' : ''}}>Operador</option>
									</select>
								</div>
								<div id="groupInputStatusUsuario" class="form-group col-sm-2 col-md-2 col-lg-2">
									<label class="control-label" for="inputStatusUsuario">Status usuario *</label>
									<select type="text" id="inputStatusUsuario" class="form-control  validate[required] ">
										<option value="">-- Selecione --</option>
										<option value="Ativo" {{statusUsuario !=null && statusUsuario=="Ativo" ? 'selected' :''}}>Ativo</option>
										<option value="Inativo" {{statusUsuario !=null && statusUsuario=="Inativo" ? 'selected' :''}}>Inativo</option>
										<option value="Suspenso" {{statusUsuario !=null && statusUsuario=="Suspenso" ? 'selected' :''}}>Suspenso</option>
									</select>
								</div>
								<div id="groupInputSenha" class="form-group col-sm-3 col-md-3 col-lg-3">
									<label class="control-label" for="inputSenha">Senha  *</label>
									<input type="text"  id="inputSenha" placeholder="" value="{{senha}}" class="form-control  validate[required, minSize[6]] "  maxlength="100" >
								</div>
							</div>
							<div class="row">
								<div id="groupInputEmpresaContainer" class="form-group col-sm-3 col-md-3 col-lg-3" style="display : none">
									<label class="control-label" for="inputEmpresa">Empresa *</label>
									<div id="groupInputEmpresa" class="input-group">
										<input id="inputEmpresaId" type="hidden" class="form-control append-left" value="{{empresa && empresa.id}}" />
										<input id="inputEmpresaNome" placeholder="Escolha um Empresa"  type="text" class="form-control append-left" value="{{empresa && empresa.nomeFantasia}}" />
										<div class="input-group-addon append-right" id="searchEmpresaModal" data-toggle="modal">
											<span class="fa fa-search"></span>
										</div>
									</div>
								</div>		
								<!-- <div id="groupInputDatainclusaoContainer" class="form-group">
									<label class="control-label" for="inputDatainclusao">Data inclusao  </label>
									<div id="groupInputDatainclusao" class="input-group date" data-date-format="DD/MM/YYYY HH:MM">
										<input id="inputDatainclusao" placeholder="Escolha ou digite uma data." type="text" class="form-control   append-left" value="{{datainclusao}}" />
										<div class="input-group-addon	append-right">
											<span class="fa fa-calendar"></span>
										</div>
									</div>
								</div> -->
								<!-- <div id="groupInputUsuarioinclusao" class="form-group">
									<label class="control-label" for="inputUsuarioinclusao">Usuarioinclusao  </label>
									<input type="text"  id="inputUsuarioinclusao" placeholder="" value="{{usuarioinclusao}}" class="form-control   "  >
								</div> -->
							</div>
						</form>
					</div>
				</div>
				<div class="">
					<div class="clearfix form-actions">
						<a href="javascript:void(0)" id="save"  class="save btn btn-primary">
							<i class="ace-icon save fa fa-check bigger-110"></i>
							Salvar
						</a>
						<a href="javascript:void(0)" class=" saveAndContinue  btn btn-info" style="display: {{ id ? 'none' : 'inline-block' }} ">
							<i class="ace-icon fa fa-check bigger-110"></i>
							Salvar e Continuar
						</a>
						<a class="go-back-link btn btn-light" href="#app/hdUsuarios">
							<i class="ace-icon fa fa-undo bigger-110"></i>
							Voltar para a listagem
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
<div id='empresaModal'></div>
