<!-- generated: 16/10/2016 15:27:08 -->
<!-- HdUsuario´s page -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Pesquisa Usuário</li>
	</ul>
</div>
<div class="col-sm-12 page-form">
	<div id="messages_div"></div>
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-search"></i>
						Pesquisa de Usuário
					</h4>
				</div>
				<div class="widget-body">
					<form id="formHdUsuarioFilter">
						<div class="widget-main  ">
							<div class="row">
								<div class="col-xs-6">
									<a href="#app/newHdUsuario" class="btn btn-success">
										<i class="fa fa-plus-circle"></i>
										Novo Registro
									</a>
									<a href="javascript:void(0)" id="reset" class="btn reset" >Limpar</a>
								</div>
								<div class="col-sm-6">
									<div class="input-group">
										<input id="inputNome" type="text" class="form-control search-query" placeholder="Nome">
										<span id="query" class="input-group-btn ">
											<button type="button" class="btn btn-inverse btn-white search-button">
												<span class="ace-icon fa fa-search icon-on-right bigger-110 "></span>
												Pesquisar
											</button>
										</span>
									</div>
									<div>
										<a href="javascript:void(-1)" class="show-advanced-search-button"> Pesquisa avançada... </a>
									</div>
								</div>
							</div>
							<div class="widget-box transparent advanced-search-form">
								<div class="widget-header">
									<h4 class="widget-title lighter">Filtros avançados</h4>
								</div>
								<div class="widget-body">
								<!-- inicio dos registros-->
									<div class="row">		
										<div id="groupInputNome" class="form-group col-sm-3 col-md-3 col-lg-3">
											<label class="control-label" for="inputNome">Nome</label>
											<input type="text" id="inputNome" placeholder=""  class="form-control">
										</div>
										<div id="groupInputEmail" class="form-group col-sm-4 col-md-4 col-lg-4">
											<label class="control-label" for="inputEmail">Email</label>
											<input type="text" id="inputEmail" placeholder=""  class="form-control">
										</div>
										<!-- <div id="groupInputSenha" class="form-group col-sm-3 col-md-3 col-lg-3">
											<label class="control-label" for="inputSenha">Senha</label>
											<input type="text" id="inputSenha" placeholder="Pesquise pelo Senha"  class="form-control">
										</div> -->
										<div id="groupInputTipo" class="form-group col-sm-3 col-md-3 col-lg-3">
											<label class="control-label" for="inputTipo">Tipo</label>
											<input type="text" id="inputTipo" placeholder=""  class="form-control">
										</div>
									</div>
									<div class="row">		
										<div id="groupInputPerfil" class="form-group col-sm-3 col-md-3 col-lg-3">
											<label class="control-label" for="inputPerfil">Perfil</label>
											<input type="text" id="inputPerfil" placeholder=""  class="form-control">
										</div>
										<div id="groupInputStatusUsuario" class="form-group col-sm-3 col-md-3 col-lg-3">
											<label class="control-label" for="inputStatusUsuario">Status usuário</label>
											<input type="text" id="inputStatusUsuario" placeholder=""  class="form-control">
										</div>
										<div id="groupInputDatainclusaoContainer" class="form-group col-sm-3 col-md-3 col-lg-3">
											<label class="control-label" for="inputDatainclusao">Data inclusão</label>
											<div id="groupInputDatainclusao" class="input-group date" data-date-format="DD/MM/YYYY HH:MM">
												<input id="inputDatainclusao" placeholder="" type="text" class="form-control append-left" />
												<div class="input-group-addon	append-right">
													<span class="fa fa-calendar"></span>
												</div>
											</div>
										</div>
										<div id="groupInputUsuarioinclusao" class="form-group col-sm-3 col-md-3 col-lg-3">
											<label class="control-label" for="inputUsuarioinclusao">Usuário inclusão</label>
											<input type="text" id="inputUsuarioinclusao" placeholder=""  class="form-control">
										</div>
									</div>
									<div class="row">		
										<div id="groupInputEmpresaContainer" class="form-group col-sm-3 col-md-3 col-lg-3">
											<label class="control-label" for="inputEmpresa">Empresa</label>
											<div id="groupInputEmpresa" class="input-group">
												<input id="inputEmpresaId" type="hidden" class="form-control append-left"  />
												<input id="inputEmpresaNome" placeholder=""  type="text" class="form-control append-left" />
												<div class="input-group-addon append-right" id="searchEmpresaModal" data-toggle="modal">
													<span class="fa fa-search"></span>
												</div>
											</div>
										</div>
									</div>		
								<div class=" ">
									<button type="button" class="btn btn-info btn-sm search-button">
										<i class="ace-icon fa fa-search bigger-110"></i>
										Pesquisar
									</button>
								</div>
							</div>
							</div>
							<div id="counter" class="pull-left"></div>
							<div class="row center">
								<div class="col-xs-12">
									<div class="widget-box transparent ">
										<div class="widget-body">
											<div class="widget-main padding-0">
												<div id="messages_div"></div>
												<div id="grid" class="table-responsive"></div>
												<div class="row">
													<div id="paginator" class=""></div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<div id='empresaModal'></div>
