<!-- CorridaÂ´s form -->
<div class="breadcrumbs" id="breadcrumbs">
	<ul class="breadcrumb">
		<li>
			<i class="ace-icon fa fa-home home-icon"></i>
			<a href="#">Home</a>
		</li>
		<li class="active">Formulário de cadastro de Corrida</li>
	</ul>
</div>
<div class="col-sm-12 page-form ">
	<div id="messages_div"></div>
	<div class="row">
		<div class="col-xs-12">
			<div class="widget-box transparent_  ">
				<div class="widget-header widget-header-flat">
					<h4 class="widget-title lighter">
						<i class="ace-icon fa fa-wpforms"></i>
						Formulário de cadastro de Corrida
					</h4>
				</div>
				<div class="widget-body">
					<div class="widget-main">
						<form id="formCorrida">
							<div class="row">
								<div class="col-sm-3">
									<div class="panel panel-default">
										<div class="panel-body" style="background: #F7F7F7">
											<div class="row">
												<div class="form-group col-sm-12">
													<label for="inputFone">Telefone *</label>
													<div class="input-group">
														<span class="input-group-addon">
															<i class="ace-icon fa fa-phone"></i>
														</span>
														<input type="text" id="inputFone" placeholder="" value="{{fone}}" class="form-control validate[required]  " maxlength="15">
													</div>
												</div>
											</div>
											<div class="row">
												<div class="form-group col-sm-12">
													<label for="inputFoneRetorno">Telefone de retorno</label>
													<div class="input-group">
														<span class="input-group-addon">
															<i class="ace-icon fa fa-phone"></i>
														</span>
														<input type="text" id="inputFoneRetorno" placeholder="" value="{{foneRetorno}}" class="form-control   " maxlength="15">
													</div>
												</div>
											</div>
											<div class="row">
												<div class="form-group col-sm-12">
													<label>Nome * </label>
													<input type="text" id='inputNome' value='{{nome}}' class="form-control  validate[required]">
												</div>
											</div>
											<div class="row">
												<div id="groupInputDataCorridaContainer" class="form-group col-sm-12">
													<label class="control-label" for="inputDataCorrida">Data corrida *</label>
													<div id="groupInputDataCorrida" class="input-group date" data-date-format="DD/MM/YYYY HH:MM">
														<input id="inputDataCorrida" placeholder="" type="text" class="form-control     validate[required] append-left" value="{{dataCorrida}}" />
														<div class="input-group-addon	append-right">
															<span class="fa fa-calendar"></span>
														</div>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="form-group col-sm-12">
													<label>Observação (Antes do aceite)</label>
													<textarea class="form-control" id="inputObservacao" placeholder="Observacao" value="{{observacao}}" maxlength="400">{{observacao}}</textarea>
												</div>
											</div>
											<div class="row">
												<div class="form-group col-sm-12 groupInputTipoPagamento">
													<label>Forma de Pagamento</label>
													<div>
														<label>
															<input type="radio" name="inputTipoPagamento" value="0">
															Dinheiro
														</label>
													</div>
													<div>
														<label>
															<input type="radio" name="inputTipoPagamento" value="1">
															Crédito
														</label>
													</div>
													<div>
														<label>
															<input type="radio" name="inputTipoPagamento" value="2">
															Débito
														</label>
													</div>
													<div>
														<label>
															<input type="radio" name="inputTipoPagamento" value="3">
															Voucher
														</label>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="form-group col-sm-12 groupExigencias">
													<label>Exigências</label>
													<div>
														<label>
															<input type="checkbox" name="inputExigencia" value="0">
															Padronizada
														</label>
													</div>
													<div>
														<label>
															<input type="checkbox" name="inputExigencia" value="1">
															Baú
														</label>
													</div>
													<div>
														<label>
															<input type="checkbox" name="inputExigencia" value="2">
															Moto grande
														</label>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="col-sm-9">
									<div class="panel panel-default">
										<div class="panel-body">
											<input type="hidden" id="inputId" value="{{id}}">
											<div id="groupInputMotoristaContainer" class="form-group col-sm-	col-md-	col-lg-  ">
												<label class="control-label" for="inputMotorista">Motorista</label>
												<div id="groupInputMotorista" class="input-group">
													<input id="inputMotoristaId" type="hidden" class="form-control append-left" value="{{motorista && motorista.id}}" />
													<input id="inputMotoristaNome" placeholder="Escolha um Motorista" type="text" class="form-control append-left" value="{{motorista && motorista.nome}}" />
													<div class="input-group-addon append-right" id="searchMotoristaModal" data-toggle="modal">
														<span class="fa fa-search"></span>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="form-group col-sm-9">
													<label>Endereço de partida (com Número) *</label>
													<input type="text" id="inputEnderecoPartida" class="inputEnderecoPartida validate[required]" value='{{enderecoPartida}}'>
													<!-- 													</select> -->
												</div>
												<div class="form-group col-sm-3">
													<label>Complemento</label>
													<input type="text" class="form-control" id="inputComplemento" value="{{complemento}}">
												</div>
											</div>
											<div class="destinos">
												<div class="row">
													<div class="form-group col-sm-12">
														<label>Endereço de Destino (com Número) * </label>
														<input type="text" class="form-control validate[required]  " id="inputEnderecoDestino" value='{{enderecoDestino}}'>
													</div>
												</div>
												<div class="row">
													<div class="form-group col-sm-12">
														<a href="#">Adicionar destino!</a>
													</div>
												</div>
											</div>
											<div class="row">
												<div class="form-group col-sm-9">
													<label>Referência (Após o aceite) *</label>
													<textarea class="form-control  validate[required]" id='inputReferenciaAceite' rows="1">{{referenciaAceite}}</textarea>
												</div>
												<div id="groupInputValor" class="col-sm-3">
													<label>Valor da corrida (R$) *</label>
													<input type="text" id="inputValor" class="form-control  validate[required]" value="{{valor}}">
												</div>
											</div>
										</div>
									</div>
									<div class="map-container">
										<div id="map" style="width: 100%; height: 400px; position: fixed;"></div>
									</div>
								</div>
							</div>
						</form>
						<!--form role="form" id="formCorrida2"-->
						<!--input type="hidden" id="inputId" value="{{id}}"-->
						<!-- div id="groupInputDataCorridaContainer" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputDataCorrida">Data corrida  </label>
								<div id="groupInputDataCorrida" class="input-group date" data-date-format="DD/MM/YYYY HH:MM">
									<input id="inputDataCorrida" placeholder="Escolha ou digite uma data." type="text" class="form-control   append-left" value="{{dataCorrida}}" />
									<div class="input-group-addon	append-right">
										<span class="fa fa-calendar"></span>
									</div>
								</div>
							</div-->
						<!-- div id="groupInputTipoPagamento" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputTipoPagamento">Tipo pagamento  </label>
								<input type="text"  id="inputTipoPagamento" placeholder="" value="{{tipoPagamento}}" class="form-control   "  >
							</div-->
						<!-- div id="groupInputValor" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputValor">Valor  </label>
								<input type="text"  id="inputValor" placeholder="" value="{{valor}}" class="form-control   "  >
							</div-->
						<!-- div id="groupInputObservacao" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputObservacao">Observacao  </label>
								<textarea rows="3" id="inputObservacao" placeholder="Observacao" value="{{observacao}}"  class="form-control  "  maxlength="400" >{{observacao}} </textarea>
							</div-->
						<!-- div id="groupInputStatusCorrida" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputStatusCorrida">Status corrida  </label>
								<input type="text"  id="inputStatusCorrida" placeholder="" value="{{statusCorrida}}" class="form-control   "  maxlength="10" >
							</div -->
						<!-- div id="groupInputAtendenteContainer" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputAtendente">Atendente</label>
								<div id="groupInputAtendente" class="input-group">
									<input id="inputAtendenteId" type="hidden" class="form-control append-left" value="{{atendente && atendente.id}}" />
									<input id="inputAtendenteNome" placeholder="Escolha um Atendente"  type="text" class="form-control append-left" value="{{atendente && atendente.nome}}" />
									<div class="input-group-addon append-right" id="searchAtendenteModal" data-toggle="modal">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</div-->
						<!-- div id="groupInputMotoristaContainer" class="form-group col-sm-	col-md-	col-lg-  ">
								<label class="control-label" for="inputMotorista">Motorista</label>
								<div id="groupInputMotorista" class="input-group">
									<input id="inputMotoristaId" type="hidden" class="form-control append-left" value="{{motorista && motorista.id}}" />
									<input id="inputMotoristaNome" placeholder="Escolha um Motorista"  type="text" class="form-control append-left" value="{{motorista && motorista.nome}}" />
									<div class="input-group-addon append-right" id="searchMotoristaModal" data-toggle="modal">
										<span class="fa fa-search"></span>
									</div>
								</div>
							</div-->
						<!--/form-->
					</div>
				</div>
			</div>
			<div class="">
				<div class="clearfix form-actions">
					<a id="save" href="javascript:void(0)" id="save" class="save btn btn-primary" style="display:none;">
						<i class="ace-icon save fa fa-check bigger-110"></i>
						Salvar
					</a>
					&nbsp; &nbsp; &nbsp;
					<a id="saveContinue" href="javascript:void(0)" class=" saveAndContinue  btn btn-info" style="display:none;">
						<i id="saveContinue" class="ace-icon fa fa-check bigger-110"></i>
						Salvar e Continuar
					</a>
					&nbsp; &nbsp; &nbsp;
					<a class="go-back-link btn btn-light" href="#app/corridas">
						<i class="ace-icon fa fa-undo bigger-110"></i>
						Voltar para a listagem
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<div id='atendenteModal'></div>
<div id='motoristaModal'></div>
